</div>
<!--Closes main Wrapper-->
<footer class='footer footer-bottom'>
    <div class="container">
        <br />
        <hr class="footer-separator" />
        <div class="row center-text hide-xs">
            <div class='col-md-3'></div>
            <div class="col-md-6 col-xs-12 center-text">
                <div class="footer-image-zone mt-3 mb-1 img-responsive center-block">
                    <div style="position: relative;" class="footer-image-container center-block">
                        <img src="{{#unless is_homepage}}/${app_name}/images/DOE_SC_OSTI_666_sm.png{{else}}/${app_name}/images/DOE_SC_OSTI_FFF.png{{/unless}}" style="width: 100%; height: auto;" class="footer-image">
                        <a alt="U.S. Department of Energy" title="U.S. Department of Energy" href="https://energy.gov" target='_blank' rel="noopener noreferrer"><div style="position: absolute;left: 0%;top: 0%;width: 39.5%;height: 100%;background-color: rgba(255, 0, 0, 0);"></div></a>
                        <a alt="Office of Science" title="Office of Science" href="https://www.energy.gov/science/office-science" target='_blank' rel="noopener noreferrer"><div style="position: absolute;left: 39.5%;top: 0%;width: 19.5%;height: 100%;background-color: rgba(0, 255, 0, 0);"></div></a>
                        <a alt="Office of Scientific and Technical Information" title="Office of Scientific and Technical Information" href="/" target='_blank' rel="noopener noreferrer"><div style="position: absolute; left: 59%; top: 0%; width: 41%; height: 100%; background-color: rgba(0, 0, 255, 0);"></div></a>
                    </div>
                </div>
            </div>
            <div class='col-md-3'></div>
        </div>
        <div class="row center-text hide-md hide-lg hide-sm">
            <div class='col-md-3'></div>
            <div class="col-md-6 col-xs-12 center-text">
                <div class="footer-image-zone mt-3 mb-1 img-responsive center-block">
                    <div class="footer-image-container center-block">
                        <div style="margin-bottom:0.5em; width: 153px; height: 44px; overflow:hidden" class="center-block">
                        <a alt="U.S. Department of Energy" title="U.S. Department of Energy" href="https://energy.gov" target="_blank"
                            rel="noopener noreferrer">
                            <img src="{{#unless is_homepage}}/${app_name}/images/DOE_SC_OSTI_666_sm.png{{else}}/${app_name}/images/DOE_SC_OSTI_FFF.png{{/unless}}" style="width: auto; height: 100%" class="footer-image">
                        </a>
                        </div>
                        <div style="margin-bottom:0.5em; width: 61px; height: 44px; overflow:hidden; text-align: cener"
                            class="center-block">

                        <a alt="Office of Science" title="Office of Science" href="https://www.energy.gov/science/office-science"
                            target="_blank" rel="noopener noreferrer">
                            <img src="{{#unless is_homepage}}/${app_name}/images/DOE_SC_OSTI_666_sm.png{{else}}/${app_name}/images/DOE_SC_OSTI_FFF.png{{/unless}}" style="width: auto; height: 100%; position: relative; left:-166px"
                                class="footer-image">
                        </a>
                        </div>
                        <div style="width: 151px; height: 44px; overflow:hidden; text-align: cener" class="center-block">
                        <a alt="Office of Scientific and Technical Information" title="Office of Scientific and Technical Information"
                            href="/" target="_blank" rel="noopener noreferrer">
                            <img src="{{#unless is_homepage}}/${app_name}/images/DOE_SC_OSTI_666_sm.png{{else}}/${app_name}/images/DOE_SC_OSTI_FFF.png{{/unless}}" style="width: auto; height: 100%; position: relative; left:-244px"
                                class="footer-image">
                        </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-md-3'></div>
        </div>
        <!--Modal for messages of any kind-->
        <div class="modal fade" id="common-message-dialog" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <label class="modal-title" id='common-message-dialog-title'></label>
                    </div>
                    <div class="modal-body">
                        <div class='row'>
                            <div class='col-xs-12'>
                                <div class="row">
                                    <div class="col-md-3 col-xs-12">
                                        <div class='loaderError' id='common-message-dialog-loader-error' style='display:none;'></div>
                                        <div class='loader' id='common-message-dialog-loader' style='display:none;'></div>
                                    </div>
                                    <div class="col-md-9 col-xs-12" id='common-message-dialog-content'>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id='common-message-dialog-close-btn' data-dismiss="modal" class="pure-button" style='display:none;'>Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer Links-->
        <div class="row text-center mt-1 white">
            <span class='hide-xs'>
                <ul class="list-inline">
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Website Policies / Important Links' href="/disclaim" target='_blank' rel="noopener noreferrer">
                            <span class="fas fa-university footer-fa-icon"></span>&nbsp;&nbsp;Website Policies / Important Links</a>
                    </li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Contact Us' href="/${app_name}/contact" rel="noopener noreferrer">
                            <span class="far fa-comments footer-fa-icon"></span>&nbsp;&nbsp;Contact Us</a>
                    </li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Vulnerability Disclosure Program' target="_blank" href="https://doe.responsibledisclosure.com/hc/en-us" rel="noopener noreferrer">
                            Vulnerability Disclosure Program</a>
                    </li>
                    <li class="d-block hide-md hide-lg mb-1" style="margin-bottom: 16px !important;"></li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Facebook' target="_blank" href="https://www.facebook.com/ostigov" rel="noopener noreferrer">
                            <span class="fab fa-facebook-f"></span>
                        </a>
                    </li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Twitter' target="_blank" href="https://twitter.com/OSTIgov" rel="noopener noreferrer">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Youtube' target="_blank" href="https://www.youtube.com/user/ostigov" rel="noopener noreferrer">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </li>
                </ul>
            </span>
            <span class='hide-md hide-lg hide-sm' style="position: relative; top:calc((44px + 0.5em) * 2)">
                <ul class="list-inline">
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Website Policies' href="/disclaim" target='_blank' rel="noopener noreferrer">
                            <span class="fas fa-university footer-fa-icon"></span>&nbsp;&nbsp;Website Policies<span class="imprtant-links"> / Important Links</span></a>
                    </li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}' style="border-right: 0px">
                        <a title='Contact Us' href="/${app_name}/contact" rel="noopener noreferrer">
                            <span class="far fa-comments footer-fa-icon"></span>&nbsp;&nbsp;Contact Us</a>
                    </li>
                    <li class="d-block mb-1" style="margin-bottom: 16px !important;"></li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}' style="border-right: 0px">
                        <a title='Vulnerability Disclosure Program' target="_blank" href="https://doe.responsibledisclosure.com/hc/en-us" rel="noopener noreferrer">
                            Vulnerability Disclosure Program</a>
                    </li>
                    <li class="d-block mb-1" style="margin-bottom: 16px !important;"></li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Facebook' target="_blank" href="https://www.facebook.com/ostigov" rel="noopener noreferrer">
                            <span class="fab fa-facebook-f"></span>
                        </a>
                    </li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Twitter' target="_blank" href="https://twitter.com/OSTIgov" rel="noopener noreferrer">
                            <span class="fab fa-twitter"></span>
                        </a>
                    </li>
                    <li class='{{#unless is_homepage}}footer-link{{else}}footer-link-homepage{{/unless}}'>
                        <a title='Youtube' target="_blank" href="https://www.youtube.com/user/ostigov" rel="noopener noreferrer">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </li>
                </ul>
                <div class='row not-so-wide-row '></div>
            </span>
        </div>
    </div>
</footer>
</div>
<script src='/${app_name}/js/libraries/jquery-3.6.0.min.js' type='text/javascript' defer></script>
<noscript>Your browser does not support JavaScript!</noscript>
<script src='/${app_name}/js/libraries/jquery-ui.min.js' type='text/javascript' defer></script>
<noscript>Your browser does not support JavaScript!</noscript>
<script src='/${app_name}/js/libraries/bootstrap.min.js' type='text/javascript' defer></script>
<noscript>Your browser does not support JavaScript!</noscript>
<script src='/${app_name}/js/libraries/chosen.jquery.min.js' type='text/javascript' defer></script>
<noscript>Your browser does not support JavaScript!</noscript>
<script src='/${app_name}/js/libraries/moment.min-2.29.1.js' type='text/javascript' defer></script>
<noscript>Your browser does not support JavaScript!</noscript>
<script src='/${app_name}/js/utils/utils.${timestamp}.js' type='text/javascript' defer></script>
<noscript>Your browser does not support JavaScript!</noscript>
{{#each jsLibraries}}
<script src='/${app_name}/js/{{.}}.js' type='text/javascript' defer></script>
<noscript>Your browser does not support JavaScript!</noscript>
{{/each}}
{{#each jsFiles}}
<script src='/${app_name}/js/{{.}}.${timestamp}.js' type='text/javascript' defer></script>
<noscript>Your browser does not support JavaScript!</noscript>
{{/each}}
<script src='/${app_name}/js/doecode.${timestamp}.js' type='text/javascript' defer></script>
<noscript>Your browser does not support JavaScript!</noscript>

<!--Extra CSS files that needed to be loaded later so they aren't render blocking-->
<link rel='stylesheet' href='/${app_name}/css/fontawesome/css/all.min.css' />
<link rel='stylesheet' href='/${app_name}/css/jquery-ui-1.13.1.custom/jquery-ui.min.css' />
<link rel='stylesheet' href='/${app_name}/css/chosen/chosen.min.css' />
</body>
<!--${app_name}-${timestamp}-->

</html>