<div>
     <!--Authors Content-->
     {{#each contributors_list.list}}
     {{#if showOrcid}}
     <!--If they have an orc id-->
     <span class='dropdown'>
	  <button class="btn btn-link dropdown-toggle biblio-author-btn" type="button" data-toggle="dropdown">{{combined_name}}</button>
	  <ul class="dropdown-menu">
	       <li><a class='clickable author-search-name' data-authorname="{{combined_name}}">Search DOE CODE for&nbsp;{{author_type}}&nbsp;"{{combined_name}}"</a></li>
	       <li><a class='clickable author-dropdown-search-orcid' data-orcid="{{orcid}}">Search DOE CODE for ORCID&nbsp;{{orcid}}</a></li>
	       <li><a href="https://orcid.org/orcid-search/quick-search?searchQuery={{orcid}}" target='_blank' rel="noopener noreferrer" >Search orcid.org for ORCID&nbsp;"{{orcid}}"</a></li>
	  </ul>
     </span>
     &nbsp;<img title='ORCID' alt='ORCID' class='orc-id-img' src='/{{app_name}}/images/orcid_16x16(1).png'/>
     <!--If they have an orc id-->
     {{else}}
     <!--Regular Author Link thing-->
     <a class="clickable author-search-name" data-authorname='{{combined_name}}' title='Search for {{author_type}} {{combined_name}}'>{{combined_name}}</a>
     {{#unless is_last}};{{/unless}}
     <!--Regular Author Link thing-->
     {{/if}}
     <!--Superscript content-->
     {{#if show_sup}}
     {{#each sup_count}}
     <sup>[{{.}}]&nbsp; </sup>
     {{/each}}
     {{/if}}
     {{/each}}
     {{#if show_release_date}}
     &nbsp;
     <span class='hide-sm hide-md hide-lg'>
	  <br/>
     </span>
     <span class="search-result-release-date text-muted">
	  <time>Release Date:&nbsp;{{release_date}}</time>
     </span>
     {{/if}}
     <!--Authors Content-->
     {{#if contributors_list.show_affiliations}}
     <div class='affiliations-div'>
	  <button title='Show Author Affiliations' type='button' class='btn btn-link toggle-affiliations'><span class="fa fa-plus-square-o"></span>&nbsp;Show Author Affiliations</button>
	  <div class='collapse toggle-affiliations-collapse'>
	       <div>
		    <ol>
			 {{#each contributors_list.affiliations_list}}
			 <li>{{.}}</li>
			 {{/each}}
		    </ol>
	       </div>
	  </div>
     </div>
     {{/if}}
</div>