<div class='row not-so-wide-row'>
     <div class='hide-md hide-sm hide-lg'>
	  <br/>
	  <br/>
	  <div class='col-sm-12'>
	       <div class='container'>
		    <div class='row'>
			 <div class='col-sm-12 no-col-padding-left'>
			      <div class='container no-col-padding-left-mobile'>
				   <div class='row'>
					<div class='col-sm-2 col-xs-1'></div>
					<div class='col-sm-8 col-xs-10  no-col-padding-left-mobile'>
					     <div class='row'>
						  <div class='col-sm-11 col-xs-11 minimal-col-padding-right homepage-searchbar-container'>
						       <input class='pure-input-1 search-box homepage-searchbar' title="Search DOE CODE"  placeholder="Search DOE CODE for submitted software entries" type='text'/>
						       
						  </div>
						  <div class='col-sm-1 col-xs-1 no-col-padding-left'>
						       <button title="Trigger Search" type="button" class="pure-button button-success search-btn homepage-search-btn" >
							    <span class="fa fa-search"></span>
						       </button>
						  </div>
					     </div>
					</div>
					<div class='col-sm-2 col-xs-1'></div>
				   </div>
			      </div>
			 </div>
		    </div>
	       </div>
	  </div>
	  <br/>
	  <br/>
     </div>
</div>