      <div class='custom-paginate-container'>
        <button type='button' class='pure-button pagination-prev-btn' title='Previous Page' data-direction='prev' {{#if pagination_btn.pagination_btn_prev_disabled}}disabled{{/if}}>
          <span class="fa fa-angle-left pagination-arrow"></span>
          Prev</button>&nbsp;&nbsp;
        <button type='button' class='pure-button paginate-slider-arrow pagination-choose-btn' title='Choose a Page' {{#if pagination_btn.pagination_btn_choose_disabled}}disabled{{/if}}>
          &hellip;
        </button>&nbsp;&nbsp;
        <button type='button' class='pure-button pagination-next-btn' data-direction='next' {{#if pagination_btn.pagination_btn_next_disabled}}disabled{{/if}} title='Next Page' >Next
          <span class="fa fa-angle-right pagination-arrow"></span>
        </button>
        <div class='pagination-dropdown' style='display:none;'>
          <div class="pagination-dropdown pagination-dropdown-tip pagination-dropdown-relative pagination-dropdown-style">
            <div class="pagination-dropdown-panel">
              <div class="text-muted pagination-go">
                <label>Go to page:
                  <span class="paging-target pagination-min-pages">{{pagination_btn.current_page}}</span>
                  of
                  <span class="paging-max pagination-max-pages">{{pagination_btn.max_pages}}</span>
                </label>
              </div>
              <div>
                <table>
                  <tbody>
                    <tr>
                      <td>
			   <input data-range="" title="Page {{pagination_btn.current_page}}" value='{{pagination_btn.current_page}}' min="1" max='{{pagination_btn.max_pages}}' name="pagination-sel" type="range" class="pagination-sel pagination-input pagination-choose-slider" step="1"/>
                      </td>
                      <td>
                        <button class="pure-button pagination-go-slider" title="Go" type="button">&gt;&gt;</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
