<div class='row'>
     <div class='col-xs-12'>
	  <div class='row biblio-sidebar-row'>
	       <div class='col-xs-12'>
		    <h4 class='biblio-sidebar-subtitle'>RESOURCE</h4>
		    <!--Repository Link-->
		    {{#if biblio_sidebar.has_repo_link}}
		    <div class='link-content'>
			 <span class='biblio-sidebar-secondary-subtitle'>Publicly Accessible Repository {{> tooltips/Biblio-RepositoryURL}}</span>
			 <br/>
			 <a title='Publicly Accessible Repository for Code ID #{{code_id}}' href='{{biblio_sidebar.repo_link}}' target='_blank' rel="noopener noreferrer" data-codeid='{{code_id}}' class='biblio-sidebar-traditional-anchor word-break download-link'>{{biblio_sidebar.repo_link}}</a> 
		    </div>
		    {{/if}}

		    <!--Landing Page-->
		    {{#if biblio_sidebar.has_landing_page}}
		    <div class='link-content'>
			 <span class='biblio-sidebar-secondary-subtitle'>Project Landing Page</span>
			 <br/>
			 <a title='Landing Page for Code ID #{{code_id}}' href='{{biblio_sidebar.landing_page}}' target='_blank' rel="noopener noreferrer" data-codeid='{{code_id}}' class='biblio-sidebar-traditional-anchor word-break download-link'>{{biblio_sidebar.landing_page}}</a> 
		    </div>
		    {{/if}}

		    <!--DOI-->
		    {{#if biblio_sidebar.has_doi_and_release}}
		    <div class="link-content">
			 DOI:&nbsp;<a title='DOI: {{biblio_sidebar.doi}}' href='https://doi.org/{{biblio_sidebar.doi}}' target='_blank' rel="noopener noreferrer" class='biblio-sidebar-traditional-anchor'>{{biblio_sidebar.doi}}</a>
		    </div>
		    {{/if}}

		    <!--Versions-->
		    {{#if biblio_sidebar.has_new_version}}
		    <div class="link-content">
			 <span class="biblio-sidebar-secondary-subtitle">New {{#if biblio_sidebar.more_than_one_new}}Versions{{else}}Version{{/if}}</span>
			 <br/>
			 {{#each biblio_sidebar.new_version}}
			 <a title='Previous Version #{{biblio_sidebar.code_id}}' href='https://dx.doi.org/{{.}}'>{{.}}</a>
			 <br/>
			 {{/each}}
		    </div>
		    {{/if}}

		    {{#if biblio_sidebar.has_prev_version}}
		    <div class="link-content">
			 <span class="biblio-sidebar-secondary-subtitle">Previous {{#if biblio_sidebar.more_than_one_previous}}Versions{{else}}Version{{/if}}</span>
			 <br/>
			 {{#each biblio_sidebar.prev_version}}
			 <a title='New Version #{{biblio_sidebar.code_id}}' href='https://dx.doi.org/{{.}}'>{{.}}</a>
			 <br/>
			 {{/each}}
		    </div>
		    {{/if}}

		    <!--Documentation URL-->
		    {{#if biblio_sidebar.has_documentation_url}}
		    <div class='link-content'>
			 <span class="biblio-sidebar-secondary-subtitle">Documentation</span>
			 <br/>
			 <a title="{{biblio_sidebar.documentation_url}}" href="{{biblio_sidebar.documentation_url}}" target="_blank" rel="noopener noreferrer" class="biblio-sidebar-traditional-anchor word-break download-link">{{biblio_sidebar.documentation_url}}</a>
		    </div>
		    {{/if}}

		    <!--Container Download-->
		    {{#if biblio_sidebar.has_file_to_download}}
		    <div class="link-content">
			 <a title='Download Container for {{biblio_sidebar.doi}}' href='/${app_name}/download-repository/container-download/{{biblio_sidebar.code_id}}' download='{{biblio_sidebar.container_name}}' rel="noopener noreferrer" class='btn btn-success'><span class='fa fa-download'></span> Download Container</a>
		    </div>
		    {{/if}}
	       </div>
	  </div>
	  <div class='row biblio-sidebar-row'>
	       <div class='col-xs-12'>
		    <h4 class='biblio-sidebar-subtitle'>SAVE&nbsp;/&nbsp;SHARE</h4>
		    <div>
			 <span class="dropdown">
			      <button title="Export Metadata" class="btn btn-link dropdown-toggle no-col-padding-left no-col-padding-right no-btn-padding-bottom no-btn-padding-top" type="button" data-toggle="dropdown" aria-expanded="false">Export Metadata</button>
			      <span class="fa fa-angle-down dropdown-toggle-arrow clickable" data-toggle="dropdown"></span>
			      <ul class="dropdown-menu">
				   <li><a title="Export to XML" href="{{biblio_sidebar.api_url}}search/{{biblio_sidebar.code_id}}?format=xml" download="{{biblio_sidebar.code_id}}.xml">XML</a></li>
				   <li><a title="Export to YAML" href="{{biblio_sidebar.api_url}}search/{{biblio_sidebar.code_id}}?format=yaml" download="{{biblio_sidebar.code_id}}.yaml">YAML</a></li>
				   <li><a title="Export to JSON" href="{{biblio_sidebar.api_url}}search/{{biblio_sidebar.code_id}}?format=json" download="{{biblio_sidebar.code_id}}.json">JSON</a></li>
				   <li><a title="Export to Excel" href="/${app_name}/dissemination/export-biblio-results?format=excel&code_id={{biblio_sidebar.code_id}}" target="_blank">Excel</a></li>
			      </ul>
			 </span>
		    </div>
		    <br/>
		    <div class="row ">
			 <div class='col-xs-12'>
			      <ul class="list-inline">
				   <li class='biblio-social-link'>
					<a title='Facebook' class="biblio-sharing-link" rel="noopener noreferrer" target='_blank' rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?u=">
					     <span class="fa fa-facebook facebook"></span>
					</a>
				   </li>
				   <li class='biblio-social-link'>
					<a title='Twitter' class="biblio-sharing-link" rel="noopener noreferrer" target='_blank' rel="noopener noreferrer" href='https://twitter.com/home?status=DOE Research from DOE CODE: '>
					     <span class="fa fa-twitter twitter"></span>
					</a>
				   </li>
				   <li class='biblio-social-link'>
					<a title='Google Plus' class="biblio-sharing-link" rel="noopener noreferrer" target='_blank' rel="noopener noreferrer" href='https://plus.google.com/share?url='>
					     <span class="fa fa-google-plus" style="color: #dd4b39;"></span>
					</a>
				   </li>
				   <li class='biblio-social-link'>
					<a title='Email' class="biblio-sharing-link" rel="noopener noreferrer" href="mailto:?subject=Software Project from DOE CODE&body=" >
					     <span class="fa fa-envelope shareEmail"></span>
					</a>
				   </li>
				   <li class='biblio-social-link'>
					<span class="dropdown">
					     <button title="Share" class="btn btn-link dropdown-toggle no-col-padding-left no-col-padding-right no-btn-padding-bottom no-btn-padding-top" type="button" data-toggle="dropdown">
						  <span class="fa fa-share-alt" style="color: #777;"></span>
					     </button>
					     <ul class="dropdown-menu dropdown-menu-left">
						  <li>
						       <a title="LinkedIn" rel="noopener noreferrer" href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://www.osti.gov/${app_name}/biblio/{{biblio_sidebar.code_id}}-{{biblio_sidebar.pretified_title}}&amp;title=DOE Research from DOE CODE&amp;summary=&amp;source=" target='_blank' rel="noopener noreferrer" class="pure-menu-link social">
							    <span class="fa fa-linkedin linkedin"></span>&nbsp;LinkedIn
						       </a>
						  </li>
						  <li>
						       <a title="Pinterest" rel="noopener noreferrer" href="https://pinterest.com/pin/create/button/?url=&amp;media=https://www.osti.gov/${app_name}/biblio/{{biblio_sidebar.code_id}}-{{biblio_sidebar.pretified_title}}&amp;description=" target='_blank' rel="noopener noreferrer" class="pure-menu-link social">
							    <span class="fa fa-pinterest" style="color: #CD2B32;"></span>&nbsp;Pinterest
						       </a>
						  </li>
						  <li>
						       <a title="Tumblr" rel="noopener noreferrer" href="http://www.tumblr.com/share?v=3&amp;u=https://www.osti.gov/${app_name}/biblio/{{biblio_sidebar.code_id}}-{{biblio_sidebar.pretified_title}}&amp;t=" target='_blank' rel="noopener noreferrer" class="pure-menu-link social">
							    <span class="fa fa-tumblr tumblr"></span>&nbsp;Tumblr
						       </a>
						  </li>
					     </ul>

					</span>
				   </li>
			      </ul>
			 </div>
		    </div>
	       </div>
	  </div>
     </div>
</div>