
<div>
     {{#each sponsoring_org.list}}
     <div style="margin-top: 10px;margin-bottom: 10px;">
          <div class='row'>
	       <div class='col-xs-12'>
		    {{org_name}}
	       </div>
          </div>
          <div class='row'>
	       <div class='col-xs-12'>
		    <div>
			 {{#if has_primary_award}}
			 <div class='row'>
			      <div class='col-md-1'></div>
			      <div class='col-md-5 col-xs-12'>Primary Award/Contract Number:</div>
			      <div class='col-md-6 col-xs-12'>{{primary_award}}</div>
			 </div>
			 {{/if}}
			 {{#if has_award_numbers}}
			 <div class='row'>
			      <div class='col-md-1'></div>
			      <div class='col-md-5 col-xs-12'>Other Award/Contract Number:</div>
			      <div class='col-md-6 col-xs-12'>
				   {{#each award_nums}}
				   <div >{{.}}</div>
				   {{/each}}
			      </div>
			 </div>
			 {{/if}}
			 {{#if has_fwp_numbers}}
			 <div class='row'>
			      <div class='col-md-1'></div>
			      <div class='col-md-3 col-xs-12'>FWP Numbers:</div>
			      <div class='col-md-8 col-xs-12'>
				   {{#each fwp_nums}}
				   <div>{{.}}</div>
				   {{/each}}
			      </div>
			 </div>
			 {{/if}}
			 {{#if has_br_codes}}
			 <div class='row'>
			      <div class='col-md-1'></div>
			      <div class='col-md-3 col-xs-12'>B&amp;R Codes:</div>
			      <div class='col-md-8 col-xs-12'>
				   {{#each br_codes}}
				   <div>{{.}}</div>
				   {{/each}}
			      </div>
			 </div>
			 {{/if}}
		    </div>
	       </div>
          </div>
	  {{#if is_last}}
	  <div class='row'>
	       <div class='col-xs-1'></div>
	       <div class='col-xs-10' style="margin-top: 5px;border-bottom: 1px solid #DDDDDD;"></div>
	       <div class='col-xs-1'></div>
          </div>
	  {{/if}}
     </div>
     {{/each}}
</div>