<div class="breadcrumbTrail">
     <span class="text-muted">{{{breadcrumbTrail.homepage}}}</span>
     <span class="text-muted">{{breadcrumbTrail.searchTerm}}{{{breadcrumbTrail.filterText}}}</span>
     {{#breadcrumbTrail.pages}}<span class="text-muted">{{{breadcrumbTrail.pages}}}</span>{{/breadcrumbTrail.pages}}
</div>