<div class='row not-so-wide-row'>
     <div class='col-md-9 col-xs-9 no-col-padding-right'>
          <div>
	       <input title='All Fields Search' type="text"  class='form-control pure-input-1 search-box' placeholder="Search DOE CODE for submitted software entries"/>
	       <button title='Toggle Advanced Search Dropdown' class='adv-search-button hide-xs' type='button'>
		    <span class='fa fa-caret-down adv-search-button-icon'></span>
	       </button>
          </div>
     </div>
     <div class="col-lg-1 col-md-2 col-sm-1 col-xs-2 search-btn-container text-left minimal-col-padding-left">
          <button title='Submit' type="button" class='pure-button button-success search-btn' data-idprefix="navbar-searchbar">
	       <span class="fa fa-search"></span>
          </button>
     </div>
</div>