<div class="row" style="padding-top: 7px;">
    <div class="col-lg-11 col-md-9 col-sm-10 col-xs-6 no-col-padding-right">
        <input title="All Fields Search" value="" class="form-control pure-input-1 search-box" placeholder="Search DOE CODE for submitted software entries" type="text">
        <button title="Toggle Advanced Search Dropdown" id="advanced-search-dropdown-btn" class="adv-search-button  hide-xs" type="button">
            <span class="fa fa-caret-down adv-search-button-icon"></span>
        </button>
        <div class="adv-search-dropdown row" id="advanced-search-dropdown" style='display:none;'>
            <div class='col-xs-12 pure-form'>
                <div class='row adv-search-dropdown-title-row'>
                    <div class='col-xs-12 no-col-padding-left left-text adv-search-dropdown-label'>
                        Advanced Search Options
                    </div>
                </div>
                <br/>
                <div class='row text-left'>
                    <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                        <label for='navbar-searchbar-software_title' class='adv-search-dropdown-label'>Software Title:</label>
                    </div>
                    <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                        <input type='text' id='navbar-searchbar-software_title' title='Software Title' data-field='software_title' class='pure-input-1'/>
                    </div>
                    <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                        <label for='navbar-searchbar-developers_contributors' class='adv-search-dropdown-label'>Developers&nbsp;/&nbsp;Contributors:</label>
                    </div>
                    <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                        <input type='text' id='navbar-searchbar-developers_contributors' title='Developers / Contributors' class='pure-input-1'/>
                    </div>
                    <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                        <label for='navbar-searchbar-doi' class='adv-search-dropdown-label'>DOI:</label>
                    </div>
                    <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                        <input type='text' id='navbar-searchbar-doi' title='DOI' class='pure-input-1'/>
                    </div>
                    <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                        <label for='navbar-searchbar-identifier_numbers' class='adv-search-dropdown-label'>Identifier Numbers:</label>
                    </div>
                    <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                        <input type='text' id='navbar-searchbar-identifier_numbers' title='Identifier Numbers' class='pure-input-1'/>
                    </div>
                </div>
                <div class="row">
                    <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                        <label for='navbar-searchbar-date_earliest' class='adv-search-dropdown-label'>Release Date:</label>
                    </div>
                    <div class='col-xs-12 no-col-padding-left left-text adv-search-date-container-homepage'>
                        <input type='text' placeholder='MM/DD/YYYY' class='pure-input-1 doecode-datepicker navbar-datepicker' id='navbar-searchbar-date_earliest' title='Earliest Release Date'/>
                        <span class='to-field '>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<label for='navbar-searchbar-date_latest' class='adv-search-dropdown-label'>to</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <input type='text' placeholder='MM/DD/YYYY' class='pure-input-1 doecode-datepicker navbar-datepicker' id='navbar-searchbar-date_latest' title='Latest Release Date'/>
                    </div>
                </div>
                <br/>
                <div class='row adv-search-dropdown-title-row left-text'>
                    <div class='col-xs-12 no-col-padding-left'>
                        <a title='Advanced Search Page' id="adv-search-toggle-btn" class="clickable">
                            <span id="adv-search-toggle-btn-icon" class='fa fa-plus-square-o '></span>&nbsp;<span id="adv-search-toggle-btn-icon-text">More Options</span>&hellip;
                        </a>
                    </div>
                </div>
                <br/>
                <div id="adv-search-toggle-extra-container" style="display:none;">
                    <div class='row text-left'>
                        <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                            <label for='navbar-searchbar-project_type' class='adv-search-dropdown-label'>Project Type:</label>
                        </div>
                        <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                            <select class='pure-input-1 doecode-chosen-select' title='Code Accessibilty' id='navbar-searchbar-project_type'  data-allowcustom="false" data-placeholder='Select your Options' multiple>
                                {{#each adv_search_lists.availabilities_list}}
                                <option title="{{title}}" value="{{value}}">{{label}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                            <label for='navbar-searchbar-licenses' class='adv-search-dropdown-label'>Licenses:</label>
                        </div>
                        <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                            <select class='pure-input-1 doecode-chosen-select' title='Licenses' id='navbar-searchbar-licenses' data-allowcustom="false" data-placeholder='Select your Options' multiple>
                                {{#each adv_search_lists.licenses_list}}
                                <option title="{{title}}" value="{{value}}">{{label}}</option>
                                {{/each}}
                            </select>
                        </div>

                        <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                            <label for='navbar-searchbar-programming_languages' class='adv-search-dropdown-label'>Programming Languages:</label>
                        </div>
                        <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                            <input type='text' id='navbar-searchbar-programming_languages' title='Programming Languages' data-field='programming_languages' class='pure-input-1'/>
                        </div>

                        <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                            <label for='navbar-searchbar-research_organization' class='adv-search-dropdown-label'>Research Organization:</label>
                        </div>
                        <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                            <input type='text' id='navbar-searchbar-research_organization' title='Rsearch Organization' data-field='research_organization' class='pure-input-1'/>
                        </div>
                        <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                            <label for='navbar-searchbar-sponsoring_organization' class='adv-search-dropdown-label'>Sponsoring Organization:</label>
                        </div>
                        <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                            <input type='text' id='navbar-searchbar-sponsoring_organization' title='Sponsoring Organization' data-field='sponsoring_organization' class='pure-input-1'/>
                        </div>
                        <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                            <label for='navbar-searchbar-software_type' class='adv-search-dropdown-label'>Software Type:</label>
                        </div>
                        <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                            <select class='pure-input-1 doecode-chosen-select' title='Software Type' id='navbar-searchbar-software_type' data-allowcustom="false" data-placeholder='Select your Options' multiple>
                                {{#each adv_search_lists.software_type}}
                                <option title="{{title}}" value="{{value}}">{{label}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class='col-xs-12 left-text no-col-padding-left adv-dropdown-row'>
                            <label for='navbar-searchbar-sort' class='adv-search-dropdown-label'>Sort:</label>
                        </div>
                        <div class='col-xs-12 no-col-padding-left no-col-padding-right'>
                            <select class='pure-input-1' title='Sort' id='navbar-searchbar-sort' data-placeholder='Select your Options' >
                                {{#each adv_search_lists.sort_list}}
                                <option title="{{title}}" value="{{value}}">{{label}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-xs-12">
                            <br/>
                        </div>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-12 right-text'>
                        <button title='Advanced Search' type="button" data-idprefix="navbar-searchbar" class="pure-button button-success adv-search-btn adv-search-btn-dropdown" >
                            <span class="fa fa-search"></span>&nbsp; Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-1 col-md-2 col-sm-1 col-xs-2 search-btn-container text-left minimal-col-padding-left">
        <button title="Submit" type="button" class="pure-button button-success search-btn" data-idprefix="navbar-searchbar">
            <span class="fa fa-search"></span>
        </button>
    </div>

</div>