<span class="dropdown hide-xs">
    <button style="padding-left:0px;" title="Save Search Results" class="btn btn-link dropdown-toggle sort-dropdown-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class='sort-dropdown-btn-label'>Export Search Results</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li><a title="Save results to CSV" class="clickable results-export-link" data-format="csv">CSV/Excel (Limit 5,000)</a></li>
        <li><a title="Save results to JSON" class="clickable results-export-link" data-format="json">JSON (Limit 5,000)</a></li>          
    </ul>
</span>
<span class="dropdown">
    <button title="Sort by {{search_sort_dropdown.current}}" class="btn btn-link dropdown-toggle sort-dropdown-btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class='sort-dropdown-btn-label'>Sort&nbsp;by&nbsp;{{search_sort_dropdown.current}}</span>
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        {{#each search_sort_dropdown.sort_dropdown_options}}
        <li><a title="{{label}}" class="clickable sort-dropdown-option" data-sortval="{{value}}">{{label}}</a></li>
        {{/each}}
    </ul>
</span>