<div class="col-xs-12 password-rules" id="password-rules-container">
     <br>
     <p>
	  <strong>All fields are required.</strong>
     </p>
     <br>
     <p>Passwords must:</p>
     <span class="fa fa-minus " id="password-rule-min-length"></span>&nbsp;<span class="password-rule-description">Be at least 8 characters long.</span>
     <br/>
     <span class="fa fa-minus " id="password-rule-accepted-char"></span>&nbsp;<span class="password-rule-description">Contain at least one special character.</span>
     <br/>
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<small class="text-muted">Accepted Special Characters: !&nbsp;@&nbsp;#&nbsp;$&nbsp;%&nbsp;^&nbsp;&amp;&nbsp;*&nbsp;(&nbsp;)</small>
     <br/>
     <span class="fa fa-minus " id="password-rule-number-char"></span>&nbsp;<span class="password-rule-description">Contain at least one number character.</span>
     <br/>
     <span class="fa fa-minus " id="password-rule-no-username"></span>&nbsp;<span class="password-rule-description">Not contain the login name.</span>
     <br/>
     <span class="fa fa-minus " id="password-rule-upper-lower"></span>&nbsp;<span class="password-rule-description">Contain a mixture of upper and lowercase letters.</span>
     <br/>
     <span class="fa fa-minus " id="password-rule-confirm-match"></span>&nbsp;<span class="password-rule-description">Password must match Confirm Password.</span>
</div>

