<div class="col-xs-12 text-muted password-rules" id="password-rules-container">
     <br>
     <p>
	  <strong>All fields are required.</strong>
     </p>
     <br>
     <p>Passwords must:</p>
     <ul>
	  <li>Be at least 8 characters long.<span class="fa fa-check green" style='display:none'id="password-rule-min-length"></span></li>
	  <li>Contain at least one special character.
	       <br>
	       &nbsp;<small>Accepted Special Characters: !&nbsp;@&nbsp;#&nbsp;$&nbsp;%&nbsp;^&nbsp;&amp;&nbsp;*&nbsp;(&nbsp;)<span class="fa fa-check green" style='display:none'id="password-rule-accepted-char"></span></small>
	  </li>
	  <li>Contain at least one number character.<span class="fa fa-check green" style='display:none'id="password-rule-number-char"></span></li>
	  <li>Not contain the login name.<span class="fa fa-check green" style='display:none' id="password-rule-no-username"></span></li>
	  <li>Contain a mixture of upper and lowercase letters.<span class="fa fa-check green" style='display:none'id="password-rule-upper-lower"></span></li>
	  <li>Password must match Confirm Password.<span class="fa fa-check green" style='display:none'id="password-rule-confirm-match"></span></li>
     </ul>
</div>
