<div class="panel panel-default" {{#if show_optional_toggle}}style='display:none'{{/if}}>
     <div class="panel-heading" role="tab" id="heading-contributors-contributing-orgs">
	  <div class="panel-title">
	       <a id='contributors-contributing-orgs-panel-anchor' class='input-accordion-title' role="button" data-toggle="collapse" {{#if is_accordion}}data-parent="#input-page-accordion"{{/if}} href="#collapse-contributors-contributing-orgs" aria-expanded="false" aria-controls="collapse-contributors-contributing-orgs">
		    Contributors and Contributing Organizations
	       </a>
	       <span class="green fa fa-check" style="display: none"></span>
	       <span title="Open" class="pull-right fa fa-chevron-right clickable accordion-toggle-arrow"></span>
	  </div>
     </div>
     <div id="collapse-contributors-contributing-orgs" class="panel-collapse collapse input-panel-collapse" role="tabpanel" aria-labelledby="heading-contributors-contributing-orgs">
	  <div class="panel-body">
	       <ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#contributors-tab">Contributors</a></li>
		    <li><a data-toggle="tab" href="#contributing-orgs-tab">Contributing Organizations</a></li>
	       </ul>
	       <div class="tab-content">
		    <!--Contributors Tab-->
		    <div id="contributors-tab" class="tab-pane fade in active">
			 <div class='row'>
			      <div class='col-xs-12'>
				   <br/>
				   <label id="contributors-lbl" class='control-label'>[from data store]</label>{{> tooltips/Contributor}}
				   <br/>
				   <br/>
				   <table id='contributors-data-table' class="table table-condensed table-striped table-bordered">
					<thead>
					     <tr>
						  <th>First Name</th>
						  <th>Last Name</th>
						  <th>Contributor Type</th>
					     </tr>
					</thead>
					<tbody>
					</tbody>
				   </table>
			      </div>
			 </div>
			 <div class='row'>
			      <div class='col-xs-12 center-text'>
				   <button type="button" title="Contributors Organizations" id='add-contributors-modal-btn' class="pure-button pure-button-primary btn-lg">Add Contributor</button>
			      </div>
			 </div>
		    </div>
		    <!--Contributing Orgs Tab-->
		    <div id="contributing-orgs-tab" class="tab-pane fade">
			 <div class='row'>
			      <div class='col-xs-12'>
				   <br/>
				   <label id="contributor-orgs-lbl" class='control-label'>[from data store]</label>{{> tooltips/ContributorOrg}}
				   <br/>
				   <br/>
				   <table id='contributor-orgs-data-table' class="table table-condensed table-striped table-bordered">
					<thead>
					     <tr>
						  <th>Organization Name</th>
						  <th>Contributor Type</th>
					     </tr>
					</thead>
					<tbody>

					</tbody>
				   </table>
			      </div>
			 </div>
			 <div class='row'>
			      <div class='col-xs-12 center-text'>
				   <button type="button" title="Contributing Organizations" id='add-contributor-orgs-modal-btn' class="pure-button pure-button-primary btn-lg">Add Contributing Organization</button>
			      </div>
			 </div>
		    </div>
	       </div>
	  </div>
     </div>
     <!--Contributors Edit Modal-->
     <div class="modal fade" id="contributors-edit-modal" role="dialog">
	  <div class="modal-dialog modal-lg">
	       <!-- Modal content-->
	       <div class="modal-content">
		    <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal">&times;</button>
			 <h4 id="contributors-manage-lbl" class="modal-title">Manage Contributors</h4>
		    </div>
		    <div class="modal-body dl-horizontal">
			 <div id="contributors-modal-error-zone" class='row'>
				<div class='col-xs-12'>
					<div class="error-color">
						<h2 id="contributors-modal-error"></h2>
						<br/>
					</div>
             	</div>
             </div>
			 <div class='row'>
			      <div class='col-xs-12'>
					<div class="row">
						<div class="col-xs-12">
							<label id="contributor-edit-first_name-lbl" for='contributor-edit-first_name' class='control-label'>First Name</label>
						</div>
						<div class="col-xs-12">
						   <input type='text' class='pure-input-1 form-control' id='contributor-edit-first_name'/>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="contributor-edit-first_name-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>				   
				   <br/>
					<div class="row">
						<div class="col-xs-12">
							<label id="contributor-edit-middle_name-lbl" for='contributor-edit-middle_name' class='control-label'>Middle Name</label>
						</div>
						<div class="col-xs-12">
						   <input type='text' class='pure-input-1 form-control' id='contributor-edit-middle_name'/>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="contributor-edit-middle_name-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>				   
				   <br/>
					<div class="row">
						<div class="col-xs-12">
							<label id="contributor-edit-last_name-lbl" for='contributor-edit-last_name' class='control-label'>Last Name</label>
						</div>
						<div class="col-xs-12">
						   <input type='text' class='pure-input-1 form-control' id='contributor-edit-last_name'/>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="contributor-edit-last_name-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
				   <br/>
					<div class="row">
						<div class="col-xs-12">
							<label id="contributor-edit-email-lbl" for='contributor-edit-email' class='control-label'>Email</label>
						</div>
						<div class="col-xs-12">
						   <input type='text' class='pure-input-1 form-control' id='contributor-edit-email'/>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="contributor-edit-email-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
				   <br/>
					<div class="row">
						<div class="col-xs-12">
							<label id="contributor-edit-orcid-lbl" for='contributor-edit-orcid' class='control-label'>ORCID</label>
						</div>
						<div class="col-xs-12">
						   <input type='text' class='pure-input-1 form-control' id='contributor-edit-orcid'/>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="contributor-edit-orcid-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
				   <br/>
					<div class="row">
						<div class="col-xs-12">
							<label id="contributor-edit-affiliations-lbl" for='contributor-edit-affiliations' class='control-label'>Affiliations</label>
						</div>
						<div class="col-xs-12">
						   <select class='pure-input-1 doecode-chosen-select' title='Developer Affiliations' id='contributor-edit-affiliations' data-allowcustom="true" data-placeholder='Select your Options' multiple>
							{{#each affiliations_list}}
							<option title="{{title}}" value="{{value}}">{{label}}</option>
							{{/each}}
						   </select>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="contributor-edit-affiliations-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
				   <br/>
					<div class="row">
						<div class="col-xs-12">
							<label id="contributor-edit-contribtype-lbl" for='contributor-edit-contribtype' class='control-label'>Contributor Type</label>{{> tooltips/ContributorType}}
						</div>
						<div class="col-xs-12">
						   <select class='pure-input-1 form-control' title='Contributor Type' id='contributor-edit-contribtype' data-placeholder='Select your Options' >
							{{#each contributor_type_list}}
							<option title="{{title}}" value="{{value}}">{{label}}</option>
							{{/each}}
						   </select>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="contributor-edit-contribtype-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
				   <br/>
			      </div>
			 </div>
		    </div>
		    <div class="modal-footer">
			 <button type="button" id='contributors-close-btn' class="pure-button">Close</button>&nbsp;
			 <span name="delete-btn"><button type="button" id='contributors-delete-btn' title="Delete" class="pure-button button-error">Delete</button>&nbsp;</span>
			 <button type="button" id='contributors-save-btn' title="Save and Close" class="pure-button pure-button-primary">Save and Close</button>
		    </div>
	       </div>
	  </div>
     </div>
     <!--Contributing organizations edit modal-->
     <div class="modal fade" id="contributor-orgs-edit-modal" role="dialog">
	  <div class="modal-dialog modal-lg">
	       <!-- Modal content-->
	       <div class="modal-content">
		    <div class="modal-header">
			 <button type="button" class="close" data-dismiss="modal">&times;</button>
			 <h4 id="contributor-orgs-manage-lbl" class="modal-title">Manage Contributing Organizations</h4>
		    </div>
		    <div class="modal-body dl-horizontal">
			 <div id="contributor-orgs-modal-error-zone" class='row'>
				<div class='col-xs-12'>
					<div class="error-color">
						<h2 id="contributor-orgs-modal-error"></h2>
						<br/>
					</div>
             	</div>
             </div>
			 <div class='row'>
			      <div class='col-xs-12'>
				   <label class='control-label' for='contributing-organization-edit-DOE'>DOE Organization? (Optional Field)</label>{{> tooltips/ContributorDOEOrg}}
				   <br/>
				   <input type='checkbox' id='contributing-organization-edit-DOE' class='pure-input1' checked/>
				   <br/>
					<div class="row">
						<div class="col-xs-12">
							<label id="contributing-organization-edit-organization_name-lbl" class='control-label' for='contributing-organization-edit-organization_name'>Organization Name</label>{{> tooltips/ContributorName}}
						</div>
						<div class="col-xs-12">
						   <input type='text' id='contributing-organization-edit-organization_name' class='pure-input-1 form-control'/>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="contributing-organization-edit-organization_name-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
				   <br/>
					<div class="row">
						<div class="col-xs-12">
							<label id="contributing-organization-edit-contribtype-lbl" for='contributing-organization-edit-contribtype' class='control-label'>Contributor Type</label>{{> tooltips/ContributorType}}
						</div>
						<div class="col-xs-12">
						   <select class='pure-input-1 form-control' title='Contributor Type' id='contributing-organization-edit-contribtype' data-placeholder='Select your Options' >
							{{#each contributor_type_list}}
							<option title="{{title}}" value="{{value}}">{{label}}</option>
							{{/each}}
						   </select>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="contributing-organization-edit-contribtype-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
				   <br/>
			      </div>
			 </div>
		    </div>
		    <div class="modal-footer">
			 <button type="button" id='contributor-orgs-close-btn' class="pure-button">Close</button>&nbsp;
			 <span name="delete-btn"><button type="button" id='contributor-orgs-delete-btn' title="Delete" class="pure-button button-error">Delete</button>&nbsp;</span>
			 <button type="button" id='contributor-orgs-save-btn' title="Save and Close" class="pure-button pure-button-primary">Save and Close</button>
		    </div>
	       </div>
	  </div>
     </div>
</div>