/* local page styles */

html h1 {
  font-size: 26px;
  margin-left: 10px;
}

html h2 {
  font-size: 22px;
  margin-left: 10px;
}

html h3 {
  font-size: 14px;
  margin-left: 10px;
}

.pending {
  font-size: 12px;
  color: #990000 !important
}

.no-margin-left {
  margin-left: 0;
}

.required a {
  color: #990000 !important
}

.field-error-wrapper {
  display: inline-block;
  position: relative;
}

.field-error {
  border: 1px solid #a94442;
}

.field-error .Select-control {
  border: 1px solid #a94442;
}

.error-color {
  color: #a94442;
}

.LabelColumn {
  width: 150px;
}

.req:before {
  content: "* ";
  position: relative;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loaderError {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #990000;
  /* Red */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite reverse;
}

.loaderText {
  font-size: 16px;
  clear: both;
  display: block;
}

.green {
  color: green;
}

.biblio-description {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
  font-size: 16px;
}

.biblio-title-container {
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 15px;
}

.biblio-title {
  font-weight: 300;
  font-size: 31px;
}

.biblio-sidebar-title {
  color: #aaaab8;
  font-size: 16px;
  font-weight: bold;
}

.citation-details-div {
  font-size: 16px;
}

.citation-details-div dl {
  padding-top: 5px;
  padding-bottom: 5px;
}

.citation-details-div div.biblio-row:nth-child(2n+1) {
  background-color: #ebebeb;
}

.search-result-title {
  font-size: 18px;
}

.search-result-row {
  overflow: auto;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.rounded {
  border-radius: .25rem;
}

.search-result-author {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-result-author a {
  color: green;
}

.search-result-release-date {
  font-size: 14px;
}

.search-result-doi {
  font-size: 15px;
}

.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.white {
  color: white;
}

.mb-1 {
  margin-bottom: 1rem!important;
}

.mt-1 {
  margin-top: 1rem!important;
}

.mt-3 {
  margin-top: 3rem!important;
}

.center-text {
  text-align: center !important;
}

.right-text {
  text-align: right !important;
}

.left-text {
  text-align: left !important;
}

.main-header {
  background-image: linear-gradient(rgb(30, 111, 146), rgb(1, 53, 88) 100%);
  box-shadow: none !important;
  border-color: #FFFFFF !important;
  margin-bottom: 0px;
  border-radius: 0px !important;
  border: none;
}

.homepage-outtermost-style {
  background-image: linear-gradient(rgb(30, 111, 146), rgb(1, 53, 88) 100%);
}

.search-box {
  font-size: 20px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}



.not-so-wide-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.large-control-label label.control-label {
  font-size: 23px;
}

.header-signin-links {
  color: white;
  padding-top: 8px;
}



.padblock {
  padding: 0 35px;
}


/*VVVV MAKES THE FOOTER WORK VVVVV*/

html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: calc(100vh - 195px); /*height of footer*/
  background-color: #F9F9F9;
}

.homepage-wrapper {
  min-height: calc(100vh - 195px);/*height of footer*/
}

.footer {
  height: 195px;
}

.footer-homepage {
  height: 195px;
}

.footer-bottom {
  background-color: #F9F9F9;
}

.footer-link{
  border-right: 1px solid rgba(0,0,0,0.2);
  color: #777;
}
.footer-link a{
  color: #777;
  padding: .5em 1em;
}

.footer-link-homepage{
  border-right: 1px solid rgba(255,255,255,0.5);
  color: white;
}
.footer-link-homepage a{
  color: white;
  padding: .5em 1em;
}

.footer-link:last-child{
  border-right: 0px;
}
.footer-link-homepage:last-child{
  border-right: 0px;
}
.footer-separator {
  border:0;
  width:100%;
  height:50px;
  margin-top:-50px;
  border-bottom:1px solid #ddd;
  box-shadow:0 15px 30px -20px #bbb;
  margin-bottom:2rem;
  background-color:#F9F9F9;
}

.footer-buttons {
  margin-top: 10px;
}


/*^^^^MAKES THE FOOTER WORK^^^^*/

.static-content {
  font-size: 19px;
}

.static-content-title {
  font-weight: 500;
  font-size: 42px;
  margin-left: 0px;
}

.contact-img {
  opacity: 0.3;
}

.biblio-page-header {
  text-align: right;
}

.doecode-wizard-btn {
  margin-bottom: 5px;
}

.required-field-span {
  font-weight: 700;
}

.advanced-search-panel {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.filter-header {
  color: blue;
  font-size: 20px;
}

.adv-search-button {
  background-color: #607D8B;
  background-image: none !important;
}

.adv-search-button a.fa-cog {
  font-size: 15px;
  color: white;
}

.nav-menu {
  margin-bottom: -5px !important;
}

.nav-menu-item {
  padding-left: 25px !important;
  padding-right: 25px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.nav-menu-item-text {
  color: white !important;
  font-size: 16px !important;
}

.active-menu-item {
  color: black !important;
  background-color: #F9F9F9;
}

.active-menu-item-text {
  color: black !important;
  font-size: 16px !important;
}

.signin-btn {
  font-size: 13px;
  color: white !important;
}

.workflow-publish-btn {
  margin-bottom: 5px;
}

.wizard-margin-style {
  margin-bottom: 5px;
}

.header-subtext {
  color: white;
}

.icon-row {
  color: white;
}

.icon-row a {
  color: white !important;
}

.icon-row a.icon-row-icon {
  font-size: 50px;
}

.clickable {
  cursor: pointer;
}

.progtrckr {
  text-align: center;
  padding-bottom: 16px;
}

.interface-step {
  text-align: center;
  padding-bottom: 16px;
}

.interface-group {
  padding: 25px;
  border: 5px solid #f3f3f3;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: grey;
  height: 1px;
}

.pub-btns {
  border: 0;
  padding-top: 10px;
  clear: both;
  display: block;
}

ol.progtrckr {
  list-style-type: none;
  padding: 0;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}

.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #013558;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #013558;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}

.login-dropdown-text li {
  text-align: center;
}

.login-dropdown-btn {
  color: white !important;
}

.login-accounts-btn {
  font-size: 25px;
  color: white;
}

.search-sidebar-filter-title {
  font-size: 18px !important;
  font-weight: bold !important;
}

.search-sidebar-text label {
  font-weight: 300;
}

.account-panel-header {
  font-size: 17px;
  font-weight: bold;
}

.account-panel-body {
  margin-right: 10px;
  margin-left: 10px;
}

.account-loading-image {
  width: 70px;
  height: 50px
}

.breadcrumbTrail {
  font-size: 16px;
  margin-top: 5px
}

.breadcrumbTrail a {
  font-size: 16px;
}

.biblio-sidebar-collapse-panel {
  border-color: #F9F9F9;
  box-shadow: none !important;
}

.biblio-sidebar-collapse-heading {
  background-color: #FFFFFF !important;
  background-image: none !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.biblio-sidebar-collapse-item {
  background-color: #F9F9F9;
  border-top: none !important;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/*!!!!!!!MEDIA QUERIES!!!!!!*/

@media only screen and (min-width: 320px) {
  .nav-menu li {
    border-right: none;
  }
  .biblio-page-header {
    text-align: center;
  }
  .homepage-signin-bar {
    text-align: center;
  }
  .nav-menu {
    margin-bottom: 0px;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {
  .nav-menu li {
    border-right: none;
  }
  .biblio-page-header {
    text-align: center;
  }
  .homepage-signin-bar {
    text-align: center;
  }
  .nav-menu {
    margin-bottom: 0px;
  }
}


/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
  .nav-menu li {
    border-right: none;
  }
  .biblio-page-header {
    text-align: center;
  }
  .homepage-signin-bar {
    text-align: center;
  }
  .nav-menu {
    margin-bottom: 0px;
  }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .nav-menu li {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav-menu-item-special {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  .biblio-page-header {
    text-align: right;
  }
  .homepage-signin-bar {
    text-align: right;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .nav-menu li {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav-menu-item-special {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  .biblio-page-header {
    text-align: right;
  }
}
