/* local page styles */


/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/0eC6fl06luXEYWpBSJvXCBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}


/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Fl4y0QdOxyyTHEGMXX8kcRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/-L14Jk06m6pUHB-5mXQQnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}


/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/I3S1wsgSg9YCurV6PUkTORJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}


/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/NYDWBdD4gIq26G5XYbHsFBJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Pru33qjShpZSmG3z6VYwnRJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v16/Hgo13k-tfSpn0qi1SFdUfVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/* cyrillic-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/ek4gzZ-GeXAPcSbHtCeQI_esZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}


/* cyrillic */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/mErvLBYg_cXG3rLvUsKT_fesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}


/* greek-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/-2n2p-_Y08sg57CNWQfKNvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}


/* greek */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/u0TOpm082MNkS5K0Q4rhqvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}


/* vietnamese */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/NdF9MtnOpLzo-noMoG0miPesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}


/* latin-ext */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/Fcx7Wwv8OzT71A3E1XOAjvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}


/* latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v16/CWB0XYA8bzo0kSThX0UTuA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

.grid-button-container {
  white-space: nowrap;
  overflow: hidden;
}

.grid-button {
  margin-right: 5px;
  display: inline-block;
}

.grid-button .btn {
  padding: 0px 2px 0px 2px;
}

.griddle-wrapper td {
  word-wrap: break-word;
}

.griddle-body table .standard-row td {
  border-bottom: 1px solid rgb(208, 208, 213);
}

.griddle-body table tbody tr:nth-of-type(even) td:not(.footer-container) {
  background-color: rgb(237, 237, 239);
}

.griddle-container {
  border: 1px solid #DDD;
}

.griddle .top-section {
  clear: both;
  display: table;
  width: 100%;
}

.griddle .griddle-filter {
  float: left;
  width: 50%;
  text-align: left;
  color: #222;
  min-height: 1px;
}

.griddle .griddle-settings-toggle {
  float: left;
  width: 50%;
  text-align: right;
}

.griddle .griddle-settings {
  background-color: #FFF;
  border: 1px solid #DDD;
  color: #222;
  padding: 10px;
  margin-bottom: 10px;
}

.griddle .griddle-settings .griddle-columns {
  clear: both;
  display: table;
  width: 100%;
  border-bottom: 1px solid #EDEDED;
  margin-bottom: 10px;
}

.griddle .griddle-settings .griddle-column-selection {
  float: left;
  width: 20%;
}

.griddle table {
  width: 100%;
  table-layout: fixed;
}

.griddle th {
  background-color: rgb(5, 62, 97);
  font-weight: normal;
  border: 0px;
  border-bottom: 1px solid #DDD;
  color: white;
  padding: 5px;
}

.griddle td {
  padding: 5px;
  background-color: #FFF;
  border-top-color: #DDD;
  color: #222;
}

.griddle .footer-container {
  padding: 0px;
  background-color: rgb(50, 119, 179);
  border: 0px;
  color: white;
}

.griddle .griddle-previous, .griddle .griddle-page, .griddle .griddle-next {
  float: left;
  width: 33%;
  min-height: 1px;
  margin-top: 5px;
}

.griddle-page select, button {
  color: #222;
}

.griddle-page select {
  color: #222;
}

.griddle-page select {
  color: #222;
}

.griddle .griddle-page {
  text-align: center;
}

.griddle .griddle-next {
  text-align: right;
}

html h1 {
  font-size: 26px;
  margin-left: 10px;
}

html h2 {
  font-size: 22px;
  margin-left: 10px;
}

html h3 {
  font-size: 14px;
  margin-left: 10px;
}

.pending {
  font-size: 12px;
  color: #990000 !important
}

.no-col-padding-left {
  padding-left: 0px;
}

.no-col-padding-right {
  padding-right: 0px;
}

.no-btn-padding-top {
  padding-top: 0px;
}

.no-btn-padding-bottom {
  padding-bottom: 0px;
}

.no-padding {
  padding: 0px;
}

.minimal-col-padding-left {
  padding-left: 5px;
}

.minimal-col-padding-right {
  padding-right: 5px;
}

.no-margin-left {
  margin-left: 0;
}

.required a {
  color: #990000 !important
}

.field-error-wrapper {
  display: inline-block;
  position: relative;
}

.field-error {
  border: 1px solid #a94442;
}

.field-error .Select-control {
  border: 1px solid #a94442;
}

.error-color {
  color: #a94442;
}

.LabelColumn {
  width: 150px;
}

.req:before {
  content: "* ";
  position: relative;
}

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.loaderError {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #990000;
  /* Red */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite reverse;
}

.loaderText {
  font-size: 16px;
  clear: both;
  display: block;
}

.green {
  color: green;
}

.biblio-authors {
  font-size: 16px !important;
}

.biblio-description {
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 15px;
  font-size: 16px;
}

.biblio-title-container {
  margin-bottom: 15px;
}

.biblio-title {
  font-weight: 300;
  font-size: 31px;
}

.biblio-main-content {
  border-right: 1px solid #CCCCCC;
  padding-left: 30px;
}

.biblio-sidebar {}

.biblio-sidebar-title {
  color: #828297;
  font-size: 16px;
  font-weight: bold;
}

.doi-subnotice {
  font-style: italic;
  font-size: 13.6px;
  color: rgb(153, 153, 153);
}

.register-text {
  font-size: 16px;
}

.biblio-sidebar-subtitle {
  text-transform: uppercase;
  font-weight: 300;
  color: #777;
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 10px;
}

.biblio-sidebar-secondary-subtitle {
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #aaa;
  font-size: 11.2px;
}

.biblio-sidebar-traditional-anchor {
  font-size: 15px;
  font-weight: 400;
}

.biblio-sidebar-row {
  border-bottom: 1px solid #DDDDDD;
  padding-bottom: 10px;
  padding-top: 10px;
}

.biblio-sidebar-row:last-child {
  border-bottom: none;
}

.biblio-sidebar-collapse-panel {
  border-color: #F9F9F9;
  box-shadow: none !important;
}

.biblio-sidebar-collapse-heading {
  background-color: #FFFFFF !important;
  background-image: none !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.biblio-sidebar-collapse-item {
  background-color: #F9F9F9;
  border-top: none !important;
}

.citation-details-div {
  font-size: 16px;
}

.biblio-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.biblio-row>dl {
  margin-bottom: 0px;
}

.biblio-field-header {
  font-weight: normal;
  font-size: 13.6px;
  margin-left: 0px;
  color: #929292;
}

.biblio-field-value {
  padding-bottom: 10px;
  font-size: 13.6px;
}

.orc-id-img {
  width: 16px;
  height: 16px;
}

.search-result-title {
  font-size: 24px;
  font-weight: 300;
}

.search-results-list {
  font-size: 16px;
}

.search-result-sub-row {
  padding-left: 0px;
}

.search-result-count-column {
  text-align: right;
  font-size: 16px;
  padding-right: 5px;
  padding-top: 8px;
}

.search-results-count {
  font-size: 32px !important;
  font-weight: 300 !important;
  margin-left: 0px !important;
}

.search-result-row {
  overflow: auto;
  border-color: #F9F9F9;
  background-color: #F9F9F9 !important;
  padding-top: 7px;
}

.search-result-row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.search-for-sidebar-row {
  border-bottom: 1px solid #ddd;
}

.rounded {
  border-radius: .25rem;
}

.search-result-author {
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-result-author a {
  color: #7cb342;
  font-size: 13.6px;
}

.search-result-release-date {
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-result-description {
  font-size: 16px;
}

.search-result-doi {
  font-size: 15px;
}

.sidebar {
  //border-right: 1px solid #ddd;
}

.all-search-results-row {
  border-left: 1px solid #ddd;
}

.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.white {
  color: white;
}

.whiteAnchor {
  color: white;
}

.whiteAnchor:hover {
  color: white;
}

.mb-1 {
  margin-bottom: 1rem!important;
}

.mt-1 {
  margin-top: 1rem!important;
}

.mt-3 {
  margin-top: 3rem!important;
}

.center-text {
  text-align: center !important;
}

.right-text {
  text-align: right !important;
}

.left-text {
  text-align: left !important;
}

.italic-text {
  font-style: italic !important;
}

.main-header {
  background-image: linear-gradient(rgb(30, 111, 146), rgb(1, 53, 88) 100%);
  box-shadow: none !important;
  border-color: #FFFFFF !important;
  margin-bottom: 0px;
  border-radius: 0px !important;
  border: none;
}

.homepage-outtermost-style {
  background-image: linear-gradient(rgb(30, 111, 146), rgb(1, 53, 88) 100%);
}

.search-box {
  font-size: 16px;
  border-top-left-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
  margin-bottom: -1px;
}

.not-so-wide-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.large-control-label label.control-label {
  font-size: 23px;
}

.header-signin-links {
  color: white;
  padding-top: 8px;
}

.padblock {
  padding: 0 35px;
}


/*VVVV MAKES THE FOOTER WORK VVVVV*/

html, body {
  height: 100%;
  margin: 0;
  color: black;
}

.wrapper {
  min-height: calc(100vh - 205px);
  /*height of footer*/
  background-color: #F9F9F9;
}

.homepage-wrapper {
  min-height: calc(100vh - 180px);
  /*height of footer*/
}

.footer {
  height: 205px;
}

.footer-homepage {
  height: 183px;
}

.footer-bottom {
  background-color: #F9F9F9;
}

.footer-link {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  color: #777;
}

.footer-link a {
  color: #777;
  padding: .5em 1em;
}

.footer-link-homepage {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
}

.footer-link-homepage a {
  color: white;
  padding: .5em 1em;
}

.footer-link:last-child {
  border-right: 0px;
}

.footer-link-homepage:last-child {
  border-right: 0px;
}

.footer-separator {
  border: 0;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 15px 30px -20px #bbb;
  margin-bottom: 2rem;
  background-color: #F9F9F9;
}

.footer-buttons {
  margin-top: 10px;
}


/*^^^^MAKES THE FOOTER WORK^^^^*/

.biblio-social-link {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 13.6px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.facebook {
  color: #3b5998;
}

.twitter {
  color: #00aced;
}

.gplus {
  color: #dd4b39;
}

.linkedin {
  color: #007bb6;
}

.shareAlt {
  color: #777;
}

.shareEmail {
  color: #777;
}

.pintrest {
  color: #CD2B32;
}

.tumblr {
  color: #32506D;
}

.biblio-social-link:last-child {
  border-right: none;
}

.static-content {
  font-size: 16px;
}

.static-content-title {
  font-weight: 300;
  font-size: 2em;
  margin-left: 0px;
}

.contact-img {
  opacity: 0.3;
}

.biblio-page-header {
  text-align: right;
}

.doecode-wizard-btn {
  margin-bottom: 5px;
}

.required-field-span {
  font-weight: 700;
}

.advanced-search-panel {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.filter-header {
  color: blue;
  font-size: 20px;
}

.adv-search-button {
  background-image: none !important;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  border: 1px solid #ccc;
  border-left: none;
}

.adv-search-button-icon {
  font-size: 15px;
  color: #7EAE49;
}

.adv-search-button:hover {
  background-color: #FFFFFF !important;
  border-color: #FFFFFF;
  border: 1px solid #ccc;
  border-left: none;
}

.nav-menu {
  margin-bottom: -5px !important;
}

.nav-menu-item {
  padding-left: 20px !important;
  padding-right: 20px !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.nav-menu-item-text {
  color: white !important;
  font-size: 16px !important;
}

.nav-menu-item-text:hover {
  color: black !important;
}

.nav-menu-item-fa {
  opacity: .5;
}

.active-menu-item {
  color: black !important;
  background-color: #F9F9F9;
}

.active-menu-item-text {
  color: black !important;
  font-size: 16px !important;
}

.signin-btn {
  font-size: 13.6px;
  color: #f2f2f2;
  text-decoration-line: none !important;
}

.signin-btn-icon {
  opacity: 0.5;
}

.signin-btn:hover {
  color: #5E5E5E !important;
}

.signin-page-container {
  border-bottom: 1px solid #E0E0E0;
}

.button-success {
  background: #7cb342;
  color: #f2f2f2;
}

.save-btn-margin {
  margin-right: 8px;
}

.signin-btn-container {
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.signin-btn-container:hover {
  background-color: #E2E2E2;
  color: #5E5E5E !important;
}

.signin-buttons {
  font-size: 16px;
}

.signin-buttons-container {
  padding-bottom: 10px;
}

.workflow-publish-btn {
  margin-bottom: 5px;
}

.wizard-margin-style {
  margin-bottom: 5px;
}

.header-subtext {
  color: white;
}

.icon-row {
  color: white;
}

.icon-row a {
  color: white !important;
}

.icon-row a.icon-row-icon {
  font-size: 38px;
}

.clickable {
  cursor: pointer;
}

.progtrckr {
  text-align: center;
  padding-bottom: 16px;
}

.interface-step {
  text-align: center;
  padding-bottom: 16px;
}

.interface-group {
  padding: 25px;
  border: 5px solid #f3f3f3;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: grey;
  height: 1px;
}

.pub-btns {
  border: 0;
  padding-top: 10px;
  clear: both;
  display: block;
}

ol.progtrckr {
  list-style-type: none;
  padding: 0;
}

ol.progtrckr li {
  display: inline-block;
  text-align: center;
  line-height: 4.5rem;
  cursor: pointer;
}

ol.progtrckr li span {
  padding: 0 1.5rem;
}

@media (max-width: 650px) {
  .progtrckr li span {
    display: none;
  }
}

.progtrckr em {
  display: none;
  font-weight: 700;
  padding-left: 1rem;
}

@media (max-width: 650px) {
  .progtrckr em {
    display: inline;
  }
}

ol.progtrckr li.progtrckr-todo {
  color: silver;
  border-bottom: 4px solid silver;
}

ol.progtrckr li.progtrckr-doing {
  color: black;
  border-bottom: 4px solid #013558;
}

ol.progtrckr li.progtrckr-done {
  color: black;
  border-bottom: 4px solid #5cb85c;
}

ol.progtrckr li:after {
  content: "\00a0\00a0";
}

ol.progtrckr li:before {
  position: relative;
  bottom: -3.7rem;
  float: left;
  left: 50%;
}

ol.progtrckr li.progtrckr-todo:before {
  content: "\039F";
  color: silver;
  background-color: white;
  width: 1.2em;
  line-height: 1.4em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
  content: "\2022";
  color: white;
  background-color: #013558;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
  color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
  content: "\2713";
  color: white;
  background-color: #5cb85c;
  width: 1.2em;
  line-height: 1.2em;
  border-radius: 1.2em;
}

ol.progtrckr li.progtrckr-done:hover:before {
  color: #333;
}

.login-dropdown-text li {
  text-align: center;
}

.login-dropdown-btn {
  color: white !important;
}

.login-accounts-btn {
  font-size: 25px;
  color: white;
}

.search-sidebar-filter-title {
  font-size: 16px !important;
  font-weight: bold !important;
  margin-left: 0px !important;
  color: #777;
  font-weight: 300 !important;
}

.search-sidebar-text {
  color: black !important;
  font-size: 16px !important;
}

.search-sidebar-text label {
  font-weight: 400;
  font-size: 13px;
  color: black !important
}

.account-panel-header {
  font-size: 17px;
  font-weight: bold;
}

.account-panel-body {
  margin-right: 10px;
  margin-left: 10px;
}

.account-loading-image {
  width: 70px;
  height: 50px
}

.breadcrumbTrail {
  font-size: 13.6px;
  margin-top: 10px
}

.breadcrumbTrail a {
  font-size: 13.6px;
}

.search-btn-container {}

.search-btn {
  background-color: #7EAE49;
  background-image: none;
  width: 61px;
}

.search-btn:hover {
  background-color: #7DAD49 !important;
}


/*Puts the roboto font frickin everywhere*/

html, button, body, input, select, textarea, p {
  font-family: 'Roboto', sans-serif !important;
}

.biblio-sub-dl {
  font-size: 14px;
}

.biblio-sub-dl dt {
  font-weight: normal;
}

.search-checkbox {
  width: 14px;
  height: 14px;
  background-color: #e6e6e6;
}

.search-checkbox:hover {
  background-color: #CCCCCC
}

.search-checkbox-box {
  display: none;
}

.adv-search-dropdown {
  background-color: #FFFFFF;
  border: 1px solid rgb(68, 68, 68);
  padding: 20px;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 35px;
  z-index: 4;
  margin-right: 14px;
  margin-left: 14px;
}

.adv-search-dropdown-lg {
  top: 45px;
}

.adv-search-dropdown-title-row {
  border-bottom: 1px solid #cccccc;
}

.adv-search-dropdown-label {
  font-size: 13.6px;
  color: rgb(41, 43, 44);
}

.more-adv-search {
  font-size: 13.6px;
}

.to-field {
  padding-top: 7px;
}


/*HELP PAGE*/

.help-page-software-availability {
  padding-left: 30px;
}

.help-page-subtitle {
  font-size: 20px;
}


/*FAQ PAGE*/

.faq-page-subtitle {
  color: rgb(29, 97, 162);
}

.faq-page-left-padded {
  padding-left: 40px;
}

.repository-services-img-link {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.faq-page-blockquote {
  padding-left: 20px;
  margin-left: 20px;
  border-left: 5px solid #EEEEEE;
}

.faq-page-btn {
  font-size: 18.7167px;
  font-weight: 300;
  text-decoration: none !important;
}

.faq-page-btn-wrapper {
  padding-bottom: 10px;
}

.faq-page-collapse-wrapper {
  padding-bottom: 2px;
}

.fa-page-caret {
  color: #7787A8;
}

.help-question-mark {
  color: #0000EE;
  font-size: 16px;
}

.help-box {
  max-width: 300px;
  font-weight: 400;
}

.fake-h2 {
  font-size: 24px;
}

.nav-menu-item-special:hover {
  background-color: #E2E2E2;
  color: black;
}

.icon-bar-extra {
  background-color: white !important;
}

.hamburger-menu-btn {
  float: none;
  border: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
}

.navbar-toggle:hover {
  background-color: #1B6A8D !important;
}

.navbar-toggle:focus {
  background-color: #1B6A8D !important;
}

.header-logo-img {
  width: 300px;
}

.navbar-logo-img {
  height: 40px;
  width: 150px;
  padding-bottom: 5px;
  padding-top: 8px;
}

.hide {
  display: none;
}

.citation-format-div {
  margin-top: 25px;
  font-family: monospace, monospace;
  font-size: 13.6px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#repository-github-img {
  width: 350px;
  height: 150px;
}

#repository-gitlab-img {
  width: 350px;
  height: 150px;
}

.word-break {
  word-wrap: break-word;
}

.biblio-summary-main-content {
  border-left: 1px solid #CCCCCC;
  padding-left: 30px;
}

.sponsor-org-row {
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 10px;
}

.sponsor-org-bottom-row {
  margin-top: 5px;
  border-bottom: 1px solid #DDDDDD;
}

.citation-formats {
  font-size: 18.72px;
  font-weight: 300;
  padding-left: 0px;
  margin-left: 0px;
}


/*Makes the active tabs on the biblio page have green bars on the underside*/

.summary-row {
  border-bottom: 1px solid #CCCCCC;
}

ul.biblio-page-ul>li {
  padding-left: 5px;
  padding-right: 5px;
}

ul.biblio-page-ul>li.active {
  border-bottom: 3px solid #669966 !important;
}

ul.biblio-page-ul>li.active>a {
  background-color: inherit !important;
  border: none !important;
}

ul.biblio-page-ul>li>a:focus, ul.biblio-page-ul>li>a:hover {
  background-color: #F9F9F9 !important;
  border: none !important;
}

.input-label-adjusted {
  font-weight: normal;
  font-size: 16px;
  padding-top: 4px;
}

.login-input-box {
  font-size: 16px;
}

.login-email-container {}

.password-rules {
  font-size: 16px;
}

.confirmation-page-metadata dd:nth-of-type(even), dt:nth-of-type(even) {
  background-color: #e6e6e6;
}

.confirmation-page-metadata dd, dt {
  padding-bottom: 5px;
  padding-top: 5px;
}

.affiliations-div {
  border-top: 1px solid #DDDDDD;
  margin-top: 5px;
}

.search-for-filter-text {
  font-size: 15.5px;
  font-weight: 400;
}

.search-for-filter-header{
  color: #aaa;
  font-size:13.6px;
}


/*!!!!!!!MEDIA QUERIES!!!!!!*/


/*Between iphone 5 and right up to ipads*/

@media only screen and (max-width:767px) and (min-width: 320px) {
  .header-logo-img {
    width: 290px;
  }
  .signin-text {
    display: none;
  }
  .signin-btn {
    font-size: 30px;
  }
  .signin-btn-container {
    padding: 0px
  }
  .hide-xs {
    display: none;
  }
  .search-btn {
    width: 40px;
  }
  .search-results-count {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px !important;
  }
  .breadcrumbTrail {
    font-size: 15px;
  }
  .breadcrumbTrail a {
    font-size: 15px;
  }
  .search-for-sidebar-row {
    border-bottom: none;
  }
  .biblio-title {
    font-size: 25px;
  }
  .biblio-main-content {
    border-left: none;
    padding-left: 0px;
    border-right: none;
  }
  #repository-github-img {
    width: 280px;
    height: 150px;
  }
  #repository-gitlab-img {
    width: 280px;
    height: 150px;
  }
  .padblock {
    padding: 0px;
  }
  .faq-page-btn {
    font-size: 15.6px;
  }
  .footer {
    height: 230px;
  }
  .wrapper {
    min-height: calc(100vh - 230px);
  }
  .biblio-summary-main-content {
    border-left: none;
    padding-left: 0px;
  }
  .no-col-padding-right-mobile {
    padding-left: 0px;
  }
  .no-col-padding-left-mobile {
    padding-left: 0px;
  }
  ul.biblio-page-ul>li {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: -3px;
    margin-right: -3px;
  }
  .search-sidebar-filter-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /*Gets rid of the margins around the pagination buttons*/
  div>ul.pagination {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}


/*Small Devices, Iphone 5 to like iphone plus*/

@media only screen and (max-width:479px) and (min-width: 320px) {
  .nav-menu li {
    border-right: none;
  }
  .biblio-page-header {
    text-align: center;
  }
  .homepage-signin-bar {
    text-align: center;
  }
  .nav-menu {
    margin-bottom: 0px;
  }
  .main-header {
    background-image: linear-gradient(to bottom, #1B6A8D 0, #1B6A8D 100%);
    border-bottom: 1px solid;
    border-bottom-color: #4989A5 !important;
    min-height: 30px;
  }
  .header-search-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .right-text-tiny {
    text-align: right;
  }
  .left-text-tiny {
    text-align: left;
  }
}


/* Extra Small Devices, Phones */

@media only screen and (max-width:767px) and (min-width: 480px) {
  .nav-menu li {
    border-right: none;
  }
  .biblio-page-header {
    text-align: center;
  }
  .homepage-signin-bar {
    text-align: center;
  }
  .nav-menu {
    margin-bottom: 0px;
  }
  .main-header {
    background-image: linear-gradient(to bottom, #1B6A8D 0, #1B6A8D 100%);
    border-bottom: 1px solid;
    border-bottom-color: #4989A5 !important;
    min-height: 30px;
  }
  .header-search-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .right-text-xs {
    text-align: right;
  }
  .left-text-xs {
    text-align: left;
  }
}


/* Small Devices, Tablets */

@media only screen and (max-width:991px) and (min-width: 768px) {
  .nav-menu li {
    border-right: none;
  }
  .biblio-page-header {
    text-align: center;
  }
  .homepage-signin-bar {
    text-align: center;
  }
  .nav-menu {
    margin-bottom: 0px;
  }
  .main-header {
    background-image: linear-gradient(to bottom, #1B6A8D 0, #1B6A8D 100%);
    border-bottom: 1px solid;
    border-bottom-color: #4989A5 !important;
    min-height: 30px;
  }
  .header-search-container {
    padding-left: 0px;
    padding-right: 0px;
  }
  .header-container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
  .hide-sm {
    display: none;
  }
  .nav-menu-item {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .footer {
    height: 245px;
  }
  .wrapper {
    min-height: calc(100vh - 245px);
  }
  .footer-homepage {
    height: 195px;
  }
  .homepage-wrapper {
    min-height: calc(100vh - 195px);
    /*height of footer*/
  }
  .nav-menu-item-text {
    font-size: 13px !important;
  }
  .biblio-main-content {
    border-left: none;
    padding-left: 0px;
    border-right: none;
  }
  .active-menu-item-text {
    font-size: 14px !important;
  }
  .navbar .navbar-collapse {
    margin-bottom: -2px;
  }
  .search-for-sidebar-row {
    border-bottom: none;
  }
  .biblio-summary-main-content {
    border-left: none;
    padding-left: 0px;
  }
  .no-col-padding-right-mobile {
    padding-left: 0px;
  }
  .no-col-padding-left-mobile {
    padding-left: 0px;
  }
  .right-text-sm {
    text-align: right;
  }
  .left-text-sm {
    text-align: left;
  }
  .search-results-count {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  /*Gets rid of the margins around the pagination buttons*/
  div>ul.pagination {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .nav-menu li {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav-menu-item-special {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  .biblio-page-header {
    text-align: right;
  }
  .homepage-signin-bar {
    text-align: right;
  }
  .navbar-logo-img {
    display: none;
  }
  .hide-md {
    display: none;
  }
  .right-text-md {
    text-align: right;
  }
  .left-text-md {
    text-align: left;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .nav-menu li {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }
  .nav-menu-item-special {
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  .biblio-page-header {
    text-align: right;
  }
  .navbar-logo-img {
    display: none;
  }
  .hide-lg {
    display: none;
  }
  .right-text-lg {
    text-align: right;
  }
  .left-text-lg {
    text-align: left;
  }
}
