@misc&#123;
doecode_{{bibtex.code_id}},<br/>
<span>title&nbsp;=&nbsp;{{bibtex.software_title}},<br/></span>

<span>author&nbsp;=&nbsp;{{bibtex.authors_text}},<br/></span>

<span>abstractNote&nbsp;=&nbsp;{{bibtex.description}},<br/></span>
{{#each bibtex.optional}}
<span>{{{label}}}&nbsp;=&nbsp;{{{value}}}{{#unless is_last}},{{/unless}}<br/></span>

{{/each}}
&#125;