{{mla.authorsText}}
<span class='italic-text'>{{mla.softwareTitle}}</span>
{{mla.computer_software}}
{{mla.url}}
{{mla.sponsorOrgsText}}
{{mla.releaseDate}}
{{mla.web}}
{{#if mla.show_doi}}{{mla.doi}}{{/if}}