<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
	  The record Availability refers to where the software is made available for search and discovery.
     </span>
     <span class="fas fa-question-circle help-question-mark small-help-question-mark"></span>
</span>