<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
	  Indicates that the software has either been submitted to DOE CODE, for initial submission and optional DOI registration, or announced to DOE CODE and E-Link with DOI assignment for official software announcement.
     </span>
     <span class="fas fa-question-circle help-question-mark small-help-question-mark"></span>
</span>