<span class="tooltip-item" data-toggle="tooltip">
    <span class="tooltip-content" style="display:none">
        <div>Enter the Award Digital Object Identifier (DOI) under which work or time was provided. An Award DOI is assigned to awards, contracts, equipment, facilities, grants, prizes, salary awards, and/or training grants. If the software/code was produced under multiple awards given by multiple organizations, additional Award DOIs may be entered.  More than one Award DOI can be entered.  DOIs follow the format: 10.XXXX/XXXXX.</div>
        <br/>
        <div><strong>Note:</strong> Award DOIs are different than DOIs assigned to the software/code currently being submitted to DOE CODE. DOIs for the software/code may have been assigned by OSTI, publishers, or a repository. If a DOI for the software/code has not already been assigned from another source, OSTI will assign a DOI upon announcement.</div>
    </span>
    <span class="fas fa-question-circle help-question-mark"></span>
</span>
