<span class="tooltip-item" data-toggle="tooltip" data-hidecount="500">
     <span class="tooltip-content" style="display:none">
	  If you have trouble accessing this content, you may need to use a Git client to interact with it.
     </span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>
