<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Check the box if the contributing organization is associated within the Department of Energy.</span>
     <span class="fa fa-question-circle help-question-mark"></span>
</span>
