<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">A DOI contains 3 components. The prefix, which is assigned by the registration agency, begins with 10.xxx; the infix, which can contain intelligence, such as the name of the journal, repository or project; the suffix, which is assigned by the allocation agency. Example: 10.00000/OSTIDOE CODE/170000</span>
     <span class="fas fa-question-circle help-question-mark"></span>  
</span>
