<span class="tooltip-item" data-toggle="tooltip">
    <span class="tooltip-content" style="display:none">
        <div>The name of the awarding/funding organization.</div>
    </span>
    <span class="fas fa-question-circle help-question-mark"></span>
</span>
