<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
          <div>
               <strong>Has License -</strong>&nbsp;
               The project is Closed Source and there exists a URL detailing additional information about the license.
          </div>
          <br/>
          <div>
               <strong>License Not Available -</strong>&nbsp;
               The project is Closed Source but there exists no URL providing additional license information.
          </div>
     </span>
     <span class="fas fa-question-circle help-question-mark"></span>

</span>
