<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
          <div>
               <strong>Has Contact Information -</strong>&nbsp;
               The provided License URL provides up-to-date contact information.
          </div>
          <br/>
          <div>
               <strong>No Contact Available -</strong>&nbsp;
               There is no up-to-date contact information provided by the License URL.
          </div>
     </span>
     <span class="fa fa-question-circle help-question-mark"></span>

</span>
