<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Provide the Digital Object Identifier (DOI) or URL for the related item.</span>
     <span class="fa fa-question-circle help-question-mark"></span>
</span>
