<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
          <div>
               <strong>Has Landing Page -</strong>&nbsp;
               There exists a URL for a landing page that provides information regarding how to access the source code, point of contact, and licensing information.
          </div>
          <br/>
          <div>
               <strong>No Landing Page Available -</strong>&nbsp;
               No landing page exists. Please provide a Software Group email, when possible.
          </div>
     </span>
     <span class="fa fa-question-circle help-question-mark"></span>
</span>
