<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
          <div>
               <strong>Has Landing Page -</strong>&nbsp;
               A landing page is a page or URL that should provide information regarding how to access the source code, point of contact, and licensing information when applicable.
          </div>
          <br/>
          <div>
               <strong>No Landing Page Available -</strong>&nbsp;
               If no landing page URL is provided, a contact email must be provided for inquiries about obtaining the software.
          </div>
     </span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>
