<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
          <div>
               <strong>Open Source -</strong>&nbsp;
               Software where the source code is distributed under a licensing agreement which grants all the rights to use, change, 
               and share the software in a modified or unmodified form. 
               Visit the <a title="Open Source Initiative" href="https://opensource.org/" target="_blank" rel="noopener noreferrer">Open Source Initiative</a> for more information and related definitions.
          </div>
          <br/>
          <div>
               <strong>Closed Source -</strong>&nbsp;
               Proprietary software distributed under a licensing agreement to authorized users with private modification, copying, and republishing restrictions. 
               The source code is not shared with the public for anyone to look at or change.
          </div>
     </span>
     <span class="fas fa-question-circle help-question-mark"></span>

</span>
