<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
          <div>
               <strong>Publicly Available Repository -</strong>&nbsp;
               Software can be freely accessed, used, changed, and shared (in modified or unmodified form) by anyone in a public repository, and 
               distributed under licenses that comply with the Open Source Definition. 
               A Repository URL where the source code is available is required for submitting Open Source, Publicly Available Repository code.
          </div>
          <br/>
          <div>
               <strong>No Publicly Available Repository -</strong>&nbsp;
               Code is Open Source, but is not yet available in a public repository. Interested users can contact the developer(s) or responsible parties 
               for information regarding access and (re)use.
               A landing page URL is required for submitting Open Source, No Publicly Available Repository code; 
               the URL should provide additional information on how to obtain access to the code.
          </div>
     </span>
     <span class="fas fa-question-circle help-question-mark"></span>

</span>
