<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
	  If you select&nbsp;
	  <strong>Closed Source</strong> without a landing page, please provide a contact email for your site's Software Group.
     </span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>