<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
        <div>
            If you select <strong>Open Source, No Publicly Available Repository</strong>, you must provide a unique URL which leads to the landing page of the software. 
        </div>
        <br/>
        <div>
            If you select <strong>Closed Source</strong>, you must provide either a landing page URL or a contact email. The landing page should provide information regarding how to access the code, point of contact, and licensing information when applicable.
        </div>
     </span>
     <span class="fas fa-question-circle help-question-mark"></span>

</span>
