<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Select the appropriate license from the drop-down menu of available options. Descriptions of Licenses are available&nbsp;
	  <a title='Open Source Alphabetical' href='https://opensource.org/licenses' target='_blank'>here</a></span>
     <span class="fas fa-question-circle help-question-mark"></span>

</span>
