<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Select the appropriate limitation from the drop-down menu of available options.
     <span class="fas fa-question-circle help-question-mark"></span>
</span>
