<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Select the appropriate access limitation(s) from the drop-down menu of available options. Once an access limitation has been selected and the form is submitted it cannot be changed. Contact <a title='Email doecode@osti.gov' href="mailto:doecode@osti.gov?subject=Request to Update Access Limitations">doecode@osti.gov</a> to update the limitation. Descriptions of Access Limitations can be found in the <a title='Access Limitations' target='_blank' rel="noopener noreferrer" href='/{{app_name}}/help#access-limitations'>Access Limitations</a> table.</span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>
