<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Software can be freely accessed, used, changed and shared (in modified or unmodified form) by anyone in a public repository. Open Source software is made by many people, and distributed under licenses that comply with the Open Source Definition. See the <a title='Open Source Initiative' href='https://opensource.org/'>Open Source Initiative</a> for more information and definitions.</span>
     <span class="fas fa-question-circle help-question-mark"></span>

</span>
