<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Information regarding hardware or software requirements.</span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>
