<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">After required fields are completed, submit project to DOE CODE</span>
     <span class="fas fa-question-circle help-question-mark"></span>	  
</span>
