<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Provide, with controlled vocabulary, the relationship of the resource being registered and the related resource. The Relation Type field also allows you to define how the submitted software is related to the DOI you enter and the document you are submitting. For definitions of each relation type controlled vocabulary see&nbsp;<a title='DataCite Metadata Kernel' href='https://schema.datacite.org/meta/kernel-4.3/doc/DataCite-MetadataKernel_v4.3.pdf'>this</a>.</span>
     <span class="fas fa-question-circle help-question-mark"></span>	  
</span>