<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">If you selected Open Source, publicly available you must provide a unique URL which leads to the actual 
     code repository.  Please ensure that you are providing the direct URL to the actual repository.  
     As an example, the direct repository URL for DOE CODE is <a title="DOE Code Repository" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode/doecode">https://github.com/doecode/doecode</a>, 
     whereas the project landing page is <a title="DOE Code Landing Page" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode">https://github.com/doecode</a>. 
     You can also submit a tagged release of code as an individual record by providing the URL specific to that release in GitHub.  As an example, the tagged 
     release URL <a title="DOE Code Tagged Release" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode/server/releases/tag/v2.0.1">https://github.com/doecode/server/releases/tag/v2.0.1</a> 
     can be submitted as a valid Repository URL to DOE CODE</span>
     <span class="fa fa-question-circle help-question-mark"></span>	  
</span>