<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">If you selected Open Source, publicly available you must provide a unique URL which leads to the actual code repository.  Please ensure that you are providing the direct URL to the actual repository.  As an example, the direct repository URL for DOE CODE is https://github.com/doecode/doecode, whereas the project landing page is https://github.com/doecode.  You can also submit a tagged release of code as an individual record by providing the URL specific to that release in GitHub.  As an example, the tagged release URL https://github.com/doecode/server/releases/tag/v2.0.1 can be submitted as a valid Repository Link to DOE CODE</span>
     <span class="fa fa-question-circle help-question-mark"></span>	  
</span>