<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">The research organization, such as a DOE national laboratory or university, which had primary responsibility for developing the software.</span>
     <span class="fas fa-question-circle help-question-mark"></span>	  
</span>