<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Abbreviated title or acronym for the software.</span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>