<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Other award/contract numbers that represent funding contributed to the project, including other DOE awards or awards from other government agencies, foundations, etc.</span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>
