<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">A Budget and Reporting (B&amp;R) code is given to a project by the Department of Energy. The structure of a B&amp;R code parallels approved DOE PPAs (Program, Project or Activities). The code is used for executing the budget; reporting actual obligations, costs, and revenues; and controlling and measuring actual versus budgeted performance.</span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>