<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">The sponsoring or funding office of the software product.</span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>