<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">DOE award/contract number that is largely responsible for funding the project. At least one valid entry is required for Submittal.</span>
     <span class="fa fa-question-circle help-question-mark"></span>
</span>