<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">The name of the sponsoring or funding organization. If the sponsoring or funding organization is from the Department of Energy, please choose from the list of DOE organizations. Other sponsoring organization names will be freeform.</span>
     <span class="fa fa-question-circle help-question-mark"></span>
</span>