<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
	  DOE award/contract number that is largely responsible for funding the project. At least one valid entry is required 
	  for Submittal of Business 
	  software and Announcing of Scientific software. The Primary Contract/ format should be either (1) two alphabetic characters and seven digits 
	  (for DOE awards granted since 2007), or (2) two alphabetic characters, two numeric characters, a dash, two-digit year, two alphabetic 
	  characters, and a five digit number (for awards granted prior to 2007).
	  <br/>
	  Examples: SC0001234; EE0005432; NT0009876; or FG02-03ER83715; FG52-06NA27489; FC07-99ID55444; and AC02-96CH12345.
     </span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>