<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">
	  You may upload a container image file that encapsulates a runtime environment for your code. Currently supported files types include Docker (.tar) 
	  and Singularity (.simg). If you experience issues uploading large container files, please reach out to doecode@osti.gov and we’ll be glad to assist you.
     </span>
     <span class="fa fa-question-circle help-question-mark"></span>
</span>