<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">The given version number for the code being submitted. If a tagged release URL is submitted in the Repository URL field, the Version Number field will autopopulate with the tagged release number, but can still be edited if desired.</span>
     <span class="fas fa-question-circle help-question-mark"></span>
</span>

