{{> wrapper/header}}
<div class='container-fluid'>
     <div class="row">
          <div class="col-xs-12">
	       <div class="row">
		    <div class="col-xs-12 hidden-xs visible-sm visible-md visible-lg right-text no-col-padding-right">
			 {{> user/SigninStatus}}
		    </div>
	       </div>
	       <div class="row">
		    <div class="col-xs-12">
			 <div class='container no-col-padding-left'>
			      <div class='row'>
				   <div class='col-xs-12'>
					<div class="row center-text">
					     <div class="col-xs-12">
						  <span class='hide-md hide-sm hide-lg'>
						       <br/>
						       <br/>
						  </span>
						  <img src='/{{app_name}}/images/DOEcodeTitle_395-min.png' alt="DOE CODE" title='DOE CODE' class='header-logo-img-homepage'/>
					     </div>
					</div>
					<br/>
					<div class='hide-md hide-sm hide-lg'>
					     <!--Shows up on nothing but small screens-->
					     {{> search/homepage-searchbar-mobile}}
					     <br/>
					     <br/>
					</div>
					<div class='row center-text'>
					     <div class='col-xs-12 homepage-subtext'>
						  U.S. Department of Energy
						  <br/>
						  Office of Scientific and Technical Information
					     </div>
					</div>
					<div class='hidden-xs visible-sm visible-md visible-lg'>
					     <br/>
					     <br/>
					     <br/>
					     <br/>
					</div>
				   </div>
			      </div>
			 </div>
			 <!--Shows up on everything but small screens-->
			 <div class='container hidden-xs visible-sm visible-md visible-lg no-col-padding-left'>
			      {{> search/homepage-searchbar}}
			 </div>
			 <div class='container hidden-xs visible-sm visible-md visible-lg'>
			      <div class='row'>
				   <div class='col-xs-12'>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="row icon-row center-text">
					     <div class="col-sm-4 col-xs-6">
						  <a title="Submit Software/Code" href="/{{app_name}}/projects" class="icon-row-icon"><span class="fa fa-sign-in"></span></a>
						  <br>
						  <a class="icon-row-icon-text" title="Submit Software/Code" href="/{{app_name}}/projects">Submit Software/Code</a>
					     </div>
					     <div class="col-sm-4 col-xs-12">
						  <a title="Repository Services" href="/{{app_name}}/repository-services" class="icon-row-icon"><span class="fa fa-home clickable"></span></a>
						  <br>
						  <a class="icon-row-icon-text" title="Repository Services" href="/{{app_name}}/repository-services">Repository Services</a></div>
					     <div class="col-sm-4 col-xs-6">
						  <a title="About" href="/{{app_name}}/about" class="icon-row-icon"><span class="fa fa-info"></span></a>
						  <br>
						  <a class="icon-row-icon-text" title="About" href="/{{app_name}}/about">About</a>
					     </div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<br/>
					<div class="row icon-row center-text">
					     <div class="col-sm-4 col-xs-6">
						  <a title="Software Policy" href="/{{app_name}}/policy" class="icon-row-icon"><span class="fa fa-folder-open-o"></span></a>
						  <br>
						  <a class="icon-row-icon-text" title="Software Policy" href="/{{app_name}}/policy">Software Policy</a>
					     </div>
					     <div class="col-sm-4 col-xs-6">
						  <a title="News/Resources" href="/{{app_name}}/news-resources" class="icon-row-icon"><span class="fa fa-newspaper-o"></span></a>
						  <br>
						  <a class="icon-row-icon-text" title="News/Resources" href="/{{app_name}}/news-resources">News/Resources</a>
					     </div>
					     <div class="col-sm-4 col-xs-12"><a title="FAQs" href="/{{app_name}}/faq" class="icon-row-icon"><span class="fa fa-question"></span></a>
						  <br>
						  <a class="icon-row-icon-text" title="FAQs" href="/{{app_name}}/faq">FAQs</a>
					     </div>
					</div>
					<br/>
					<br/>
					<br/>
				   </div>
			      </div>
			 </div>
		    </div>
	       </div>
          </div>
     </div>
</div>
{{> wrapper/footer}}
