{{> wrapper/header}}
<div class="row not-so-wide-row">
     <div class="col-lg-3 col-md-1"></div>
     <div class="col-lg-6 col-md-10 col-xs-12 static-content">
          <h2 class="static-content-title">Software Policy</h2>
          <br/>
          <p>
	       DOE CODE is a software service platform and search tool that allows for scientific and business software to be provided to the U.S. Department 
	       of Energy (DOE). DOE CODE provides functionality for collaboration, archiving, and discovery of scientific and business software. DOE CODE replaces the Energy
	       Science and Technology Software Center (ESTSC).
	  </p>
          <p>
	       The DOE Office of Scientific and Technical Information (OSTI) is charged with fulfilling the Department's responsibilities to collect, preserve, 
	       and disseminate scientific and technical information, including software, emanating from DOE R&D activities. 	       
	  </p>
	  <p>
	       In addition to OSTI's charge for 
	       scientific software, the Office of the Chief Information Officer (OCIO) and OSTI are partnering to leverage DOE CODE to maintain a comprehensive 
	       inventory of DOE-funded custom-developed business software. This will fulfil requirements to maintain an inventory of all DOE-funded custom-developed 
	       software and to report this inventory to the government-wide Code.gov website.
	  </p>
          <p>
	       When providing software and code to DOE CODE, users will first need to identify what type of software they are submitting - scientific or business 
	       software.  Users who are unsure of the type of software are encouraged to please work with their site's Dissemination Authority.  Note:  throughout
	       this policy, the terms "software" and "code" are used interchangeably.
          </p>
          <br/>
	  <div>
	       <ul>
		    <li>
			 <strong><a href='#providing-scientific-software-to-doe-code'>Providing Scientific Software to DOE CODE</a></strong>
			 <ul>
			      <li>
				   <a title="Submit Scientific Code to DOE CODE" href='#submit-scientific-code-to-doe-code'>Submit Scientific Code to DOE CODE</a>
			      </li>
			      <li>
				   <a title="Required Metadata to Submit Scientific Software to DOE CODE" href='#required-metadata-tosubmit-scientific-software-to-doecode'>Required Metadata to Submit Scientific Software to DOE CODE</a>
			      </li>
			      <li>
				   <a title="Announce Scientific Code to the Department of Energy through DOE CODE" href='#announce-scientific-code-to-the-department-of-energy-through-doecode'>Announce Scientific Code to the Department of Energy through DOE CODE</a>
			      </li>
			      <li>
				   <a title="Required Metadata to Announce Scientific Software to the Department of Energy through DOE CODE" href='#required-metadata-to-announce-scientific-software-to-the-department-of-energy-through-doecode'>Required Metadata to Announce Scientific Software to the Department of Energy through DOE CODE</a>
			      </li>
			      <li>
				   <a title="Scientific Software Categories" href='#software-categories'>Scientific Software Categories</a>
			      </li>
			 </ul>
		    </li>
		    <li>
			 <strong><a href='#providing-business-software-to-doe-code'>Providing Business Software to DOE CODE</a></strong>
			 <ul>
			      <li>
				   <a href='#required-metadata-to-provide-business-software-to-doe-code'>Required Metadata to Provide Business Software to DOE CODE</a>
			      </li>
			 </ul>
		    </li>
	       </ul>
	  </div>
          <br/>
	  <div>
	       <a name='providing-scientific-software-to-doe-code'></a>
	       <strong>Providing Scientific Software to DOE CODE</strong>
	       <br/>
	       DOE CODE offers two paths for users to provide scientific code. Users can (1) Submit code to DOE CODE, and (2) Announce code to the Department 
	       of Energy for official review and release through DOE CODE.
	  </div>
	  <br/>
	  <div>
	       <a name="submit-scientific-code-to-doe-code"></a>
	       <strong>Submit Scientific Code to DOE CODE</strong>
	       <br/>
	       Users may want to submit their code to DOE CODE. Submitting to DOE CODE is easy, with only a minimal set of metadata required. 
	       Submitting offers increased discoverability and the option to obtain a Digital Object Identifier (DOI) for the code, making it 
	       more easily citable and shared. Codes in early development, along with those wanting to obtain DOIs early in the process, are the primary use 
	       case for this functionality.
	  </div>
	  <br/>
	  <div>
	       <a name="required-metadata-tosubmit-scientific-software-to-doecode"></a>
	       <strong>Required Metadata to Submit Scientific Software to DOE CODE:</strong>
	       <br/>
	       <ul>
		    <li>Software Availability</li>
		    <li>Repository Link</li>
		    <li>Software Title</li>
		    <li>Description/Abstract</li>
		    <li>Licenses</li>
		    <li>Developers</li>
	       </ul>
	  </div>
	  <br/>
	  <div>
	       <a name="announce-scientific-code-to-the-department-of-energy-through-doecode"></a>
	       <strong>Announce Scientific Code to the Department of Energy through DOE CODE</strong>
	       <br/>
	       Users may need to announce their code to the Department of Energy to ensure announcement and dissemination in accordance with DOE statutory 
	       responsibilities. Codes in later stages of development are the primary use case for this functionality. For announcement to the Department 
	       of Energy, there are basic requirements for metadata fields; however, other optional/non-mandatory data fields should be included during 
	       announcement when possible.
	       <br/>
	       <br/>
	       DOE national laboratories and other DOE facilities/contractors who have developed and/or modified software during work supported by DOE or 
	       during work carried out for others at DOE facilities are required to announce a record of the software to the Department of Energy, if the 
	       software meets the following criteria:
	       <br/>
	       <ul>
		    <li>the software meets the definition of <a href="https://www.osti.gov/stip/stidefined" target="_blank" rel="noopener noreferrer">STI</a></li>
		    <li>the software is known or expected to be useful inside or outside the DOE community, or is not specific to the originating site; and</li>
		    <li>a stable, usable, documented version of the software exists (i.e., the software is not under initial development);</li>
		    <li>the software has undergone all appropriate reviews for sensitivity and export control.</li>
	       </ul>
	       <br/>
	       For additional information about DOE scientific and technical software, refer to the <a href='https://www.osti.gov/includes/estsc/software_best_prac.html' target="_blank" rel="noopener noreferrer">Software Best Practices document</a>.
	       <br/>
	       <br/>
	       Software that meets the following criteria need not be announced to the Department of Energy:
	       <ul>
		    <li>
			 operational systems software that is site-specific, unique to a particular hardware, or necessary to ensure the fundamental operability 
			 of automated data processing equipment, whether supplied by the manufacturer of the system hardware or others;
		    </li>
		    <li>
			 computer software programs developed and/or modified during work carried out for others at DOE facilities that are specifically 
			 excluded in the agreement under which the non-DOE funded work was performed;
		    </li>
		    <li>
			 software generated under the auspices of the Energy Information Administration; and
		    </li>
		    <li>
			 specific software used by power administrations for the operation, control, planning, and modeling of electric power transmission 
			 systems and the interconnected utilities; however, modifications/enhancements to portions of this software that are not an integral
			 part of the whole and have potential application outside the power administrations should be announced.
		    </li>
	       </ul>
	  </div>
	  <br/>
	  <div>
	       <a name="required-metadata-to-announce-scientific-software-to-the-department-of-energy-through-doecode"></a>
	       <strong>Required Metadata to Announce Scientific Software to the Department of Energy through DOE CODE:</strong>
	       <br/>
	       <ul>
		    <li>Software Availability</li>
		    <li>Repository Link</li>
		    <li>Software Title</li>
		    <li>Description/Abstract</li>
		    <li>Licenses</li>
		    <li>Developers</li>
		    <li>Sponsoring Organization Name</li>
		    <li>Primary Award Number</li>
		    <li>Research Organization Name</li>
	       </ul>
	  </div>
	  <br/>
	  <div>
	       <a name="software-categories"></a>
	       <strong>Scientific Software Categories</strong>
	       <br/>
	       Different categories of scientific software have different distribution requirements, limitations, and appropriate distribution channels, 
	       which are defined in the Scientific <a href='https://www.osti.gov/stip/softwarecategories' target="_blank" rel="noopener noreferrer">Software Categories table</a>. 
	       The table is not intended to provide an exhaustive list. Contact DOE CODE at 
	       (865) 576-2606 or <a href='mailto:doecode@osti.gov'>doecode@osti.gov</a> with questions.
	  </div>
	  <br/>
	  <div>
	       <a name='providing-business-software-to-doe-code'></a>
	       <strong>Providing Business Software to DOE CODE</strong>
	       <br/>
	       To efficiently fulfill Departmental requirements to maintain an inventory of all DOE-funded custom-developed software and to report this 
	       inventory to the government-wide Code.gov website, metadata for all scientific and non-scientific (e.g., business) software should be 
	       submitted to DOE CODE. This inventory will foster scientific progress, provide transparency to and promote public uptake of DOE-funded 
	       open source software (OSS), and enable DOE to fulfill requirements for government-wide reporting of custom-developed software to Code.gov.
	  </div>
	  <br/>
	  <div>
	       <a name='required-metadata-to-provide-business-software-to-doe-code'></a>
	       <strong>Required Metadata to Provide Business Software to DOE CODE</strong>
	       <br/>
	       <ul>
		    <li>Software title</li>
		    <li>Software description</li>
		    <li>Permissions (license, usage type)</li>
		    <li>Contact name/e-mail</li>
		    <li>Developer names</li>
		    <li>Sponsoring organization</li>
		    <li>Repository URL</li>
	       </ul>
	       <br/>
	       As part of providing business software, users also have the option to obtain a Digital Object Identifier (DOI) to facilitate software citation
	       and interlinking to related research products such as publications and datasets.
	  </div>
     </div>
     <div class="col-lg-3 col-md-1"></div>
</div>
{{> wrapper/footer}}