{{> wrapper/header}}
<div class='row not-so-wide-row'>
     <div class='col-lg-2 special-lg-2 col-md-1'></div>
     <div class='col-lg-8 special-lg-8 col-md-10 col-xs-12'>
          <div class='row security-host-even'>
	       <div class='col-xs-12 security-host-row-content hide-xs'>
		    <span class="static-content-title">DOE CODE Hosting Security</span>
		    <img alt='DOE CODE Security Hosting' class='security-host-image security-host-right-image img-responsive hide-xs' width='200' height='182' title='DOE CODE Security Hosting' src='/doecode/images/DOEcodeFeatures350px-min.png'/>
		    <br/>
		    <br/>
		    <div class='security-host-text security-host-left-text'>
			 Implementation of account management best practices, use of advanced cyber security tools, and application of intelligence data offers visitors a trusted source of DOE CODE and projects.
		    </div>
	       </div>
	       <div class='col-xs-12 security-host-row-content  hide-sm hide-md hide-lg'>
		    <div class='container'>
			 <span class="static-content-title center-text">DOE CODE Hosting Security</span>
			 <br/>
			 <br/>
			 <div class='security-host-text'>
			      Implementation of account management best practices, use of advanced cyber security tools, and application of intelligence data offers visitors a trusted source of DOE CODE and projects.
			 </div>
			 <br/>
		    </div>
	       </div>
          </div>
          <div class='row security-host-odd '>
	       <div class='col-xs-12 security-host-row-content hide-xs'>
		    <img alt='Gitlab Security' class='security-host-image security-host-right-image img-responsive hide-xs' width='150' height='153' title='Gitlab Security' src='/doecode/images/GITLABsecurity300px-min.png'/>
		    <div class='security-host-left-text-container'>
			 <div class='security-host-title-container'>
			      <span class="security-host-title ">GITLAB SECURITY</span>
			 </div>
			 <br/>
			 <div class='security-host-text security-host-list-text-left'>
			      <ul>
				   <li>OSTI limits registrations to known/trusted entities to reduce attack surface.</li>
				   <li>Native GitLab features give owners granular control of their project and project contributors.</li>
			      </ul>
			 </div>
		    </div>
		    <div class='security-host-arrow security-host-odd '></div>
	       </div>
	       <div class='col-xs-12 security-host-row-content  hide-sm hide-md hide-lg'>
		    <div class='container'>
			 <br/>
			 <div class="security-host-title">GITLAB SECURITY</div>
			 <br/>
			 <div class='security-host-text '>
			      <ul>
				   <li>OSTI limits registrations to known/trusted entities to reduce attack surface.</li>
				   <li>Native GitLab features give owners granular control of their project and project contributors.</li>
			      </ul>
			 </div>
		    </div>
	       </div>
          </div>
          <div class='row security-host-even'>
	       <div class='col-xs-12 security-host-row-content hide-xs'>
		    <img alt='Software Detonation' class='security-host-image security-host-left-image img-responsive hide-xs' width='150' height='153' title='Software Detonation' src='/doecode/images/SoftwareDetonation300px-min.png'/>
		    <div class='security-host-right-text-container'>
			 <div class='security-host-title-container'>
			      <span class="security-host-title " id='security-host-detonation'>Software Detonation</span>
			 </div>
			 <br/>
			 <div class='security-host-text security-host-list-text-right'>
			      <ul>
				   <li>Compatible executable code is safely detonated by a software suite in an isolated environment.</li>
				   <li>Machine-based learning identifies and quarantines suspicious behavior.</li>
			      </ul>
			 </div>
		    </div>
		    <div class='security-host-arrow security-host-even'></div>
	       </div>
	       <div class='col-xs-12 security-host-row-content  hide-sm hide-md hide-lg'>
		    <div class='container'>
			 <br/>
			 <div class="security-host-title">Software Detonation</div>
			 <br/>
			 <div class='security-host-text'>
			      <ul>
				   <li>Compatible executable code is safely detonated by a software suite in an isolated environment.</li>
				   <li>Machine-based learning identifies and quarantines suspicious behavior.</li>
			      </ul>
			 </div>
		    </div>
	       </div>
          </div>
          <div class='row security-host-odd'>
	       <div class='col-xs-12 security-host-row-content hide-xs'>
		    <img alt='Intelligence Data' class='security-host-image security-host-right-image img-responsive hide-xs' width='150' height='153' title='Intelligence Data' src='/doecode/images/IntelData300px-min.png'/>
		    <div class='security-host-left-text-container'>
			 <div class='security-host-title-container'>
			      <span class="security-host-title ">Intelligence Data</span>
			 </div>
			 <br/>
			 <div class='security-host-text security-host-list-text-left'>
			      <ul>
				   <li>Daily intelligence feed processing includes newly-identified malicious files and adversary tactics.</li>
			      </ul>
			 </div>
		    </div>
		    <div class='security-host-arrow security-host-odd '></div>
	       </div>
	       <div class='col-xs-12 security-host-row-content  hide-sm hide-md hide-lg'>
		    <div class='container'>
			 <br/>
			 <div class="security-host-title">Intelligence Data</div>
			 <br/>
			 <div class='security-host-text'>
			      <ul>
				   <li>Daily intelligence feed processing includes newly-identified malicious files and adversary tactics.</li>
			      </ul>
			 </div>
		    </div>
	       </div>
          </div>
          <div class='row security-host-even'>
	       <div class='col-xs-12 security-host-row-content hide-xs'>
		    <img alt='File Scans' class='security-host-image security-host-left-image img-responsive hide-xs' width='150' height='153' title='File Scans' src='/doecode/images/FileScans300px-min.png'/>
		    <div class='security-host-right-text-container'>
			 <div class='security-host-title-container'>
			      <span class="security-host-title " id='security-host-file-scans'>File Scans</span>
			 </div>
			 <br/>
			 <div class='security-host-text security-host-list-text-right float-right'>
			      <ul>
				   <li>Endpoint protection software scans raw source code and executable code for known signatures.</li>
				   <li>Searches on files are supported to identify undesirable content.</li>
			      </ul>
			 </div>
		    </div>
	       </div>
	       <div class='col-xs-12 security-host-row-content  hide-sm hide-md hide-lg'>
		    <div class='container'>
			 <br/>
			 <div class="security-host-title">File Scans</div>
			 <br/>
			 <div class='security-host-text'>
			      <ul>
				   <li>Endpoint protection software scans raw source code and executable code for known signatures.</li>
				   <li>Searches on files are supported to identify undesirable content.</li>
			      </ul>
			 </div>
		    </div>
	       </div>
          </div>
     </div>
     <div class='col-lg-2 special-lg-2 col-md-1'></div>
</div>
{{> wrapper/footer}}