<div>
    <br>
    <hr>
    <div class="panel-body">
        <div class="row">
            <div class='col-xs-12'>
                <label id="change-log-lbl" class='control-label'>Change Log</label>
                <br />
                <br />
                <span class="notice-msg">Historical changes made to this record are found here.</span>
                <br />
                <br />
                <table id='change-log-data-table' class="table table-condensed table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Changed By</th>
                            <th>Changes Made</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>