<div>
    <br>
    <hr>
    <div class="panel-body">
        <div class='row'>
            <div class='col-xs-12'>
                <div class="row">
                    <div class="col-xs-12">
                        <label id='record-comment-lbl' for='record-comment' class='control-label'>[from data store]</label>
                    </div>
                    <div class="col-xs-12">
                        <textarea id='record-comment' title='Record Comment' class='form-control form-text-area'></textarea>
                        <span class="fas fa-check form-control-feedback successCheck" style='display:none'></span>
                        <span class="fas fa-times form-control-feedback errorCheck" style='display:none'></span>
                    </div>
                    <div class="col-xs-12">
                        <label id="record-comment-lbl-error" class="control-label errorCheck">Problem</label>
                    </div>
                </div>
                <br />
            </div>
            <div class='col-xs-4'>

            </div>
        </div>
        <button id="input-comment-btn" title='Add Comment' type="button" class="pure-button btn-lg pull-right doecode-wizard-btn" style="background: rgb(66, 184, 221);color: white;">
            Add Comment
        </button>
    </div>
</div>