<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="heading-product-description">
		<div class="panel-title">
			<a id='product-description-panel-anchor' class='input-accordion-title' title='Product Description' role="button" data-toggle="collapse" {{#if is_accordion}} data-parent="#input-page-accordion" {{/if}} href="#collapse-product-description" aria-expanded="false" aria-controls="collapse-product-description">
				Product Description
			</a>
			<span class="green fa fa-check" style="display: none"></span>
            <span class="panelError fa fa-close" style="display: none">&nbsp;ERROR</span>
			<span title="Open" class="pull-right fa fa-chevron-right clickable accordion-toggle-arrow"></span>
		</div>
	</div>
	<div id="collapse-product-description" class="panel-collapse collapse input-panel-collapse" role="tabpanel" aria-labelledby="heading-product-description">
		<div class="panel-body">
			<div class='row'>
				<div class='col-xs-12'>
					<div id="repository-link-display-div">
						<div class="row">
							<div class="col-xs-12">
								<label for="repository-link-display" id="repository-link-display-lbl" class="control-label">Repository URL</label>
							</div>
							<div class="col-xs-12">
								<div id="repository-link-display" style="word-wrap: break-word;"></div>
							</div>
							<div class="col-xs-12">
								<label id="repository-link-display-lbl-error" class="control-label errorCheck">Problem</label>
							</div>
						</div>
						<br />
					</div>
					<div class="row">
						<div class="col-xs-12">
							<label id='software-title-lbl' for='software-title' class='control-label'>[from data store]</label>{{> tooltips/SoftwareTitle}}
						</div>
						<div class="col-xs-8">
							<input type='text' id='software-title' class='pure-input-1 form-control' title='Software Title' />
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="software-title-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-xs-12">
							<label id='description-lbl' for='description' class='control-label'>[from data store]</label>{{> tooltips/DescriptionAbstract}}
						</div>
						<div class="col-xs-8">
							<textarea id='description' title='Description/Abstract' class='form-control form-text-area'></textarea>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="description-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
					<br />
					<div>
						<div class="row">
							<div class="col-xs-12">
								<label id='licenses-lbl' for='licenses' class='control-label'>[from data store]</label>{{> tooltips/License}}
							</div>
							<div class="col-xs-8" id="licence-select-zone">
								<select class='pure-input-1 doecode-chosen-select' title='Licenses' id='licenses' data-allowcustom="false" data-placeholder='Select your license(s)' multiple>
									{{#each licenses_list}}
										<option title='{{title}}' value='{{value}}'>{{label}}</option>
									{{/each}}
								</select>
								<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
								<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
							</div>
							<div class="col-xs-12">
								<label id="description-lbl-error" class="control-label errorCheck">Problem</label>
							</div>
						</div>
					</div>
					<div id="has-license-div" style="display: none">
						<div class="col-xs-12">
							<label id="has-license-lbl" class="control-label req has-success">Does this software project have a license?</label>{{> tooltips/HasClosedSourceLicense}}
						</div>
						<div class="col-xs-9" style="margin-left: 50px; margin-top: 7px;">
							<button id="input-licenseyes-btn" title="Yes" type="button" class="pure-button pure-button-primary btn-lg pull-left doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
								Yes
							</button>
							<button id="input-licenseno-btn" title="No" type="button" class="pure-button pure-button-primary btn-lg pull-right doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
								No
							</button>
						</div>
						<div class="col-xs-12"><br></div>
					</div>
					<div id="proprietary-url-zone" style="display: none">
						<br />
						<div class="row">
							<div class="col-xs-12">
								<label id='proprietary-url-lbl' for='proprietary-url' class='control-label'>[from data store]</label>
							</div>
							<div class="col-xs-8">
								<input type='text' id='proprietary-url' class='pure-input-1 form-control' />
								<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
								<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
							</div>
							<div class="col-xs-12">
								<label id="proprietary-url-lbl-error" class="control-label errorCheck">Problem</label>
							</div>
						</div>
					</div>
					<div id="license-contact-div" style="display: none">
						<br />
						<div class="col-xs-12">
							<label id="has-contactinfo-lbl" class="control-label req has-success">Does this license have up-to-date contact information?</label>{{> tooltips/HasLicenseContact}}
						</div>
						<div class="col-xs-9" style="margin-left: 50px; margin-top: 7px;">
							<button id="input-contactyes-btn" title="Yes" type="button" class="pure-button pure-button-primary btn-lg pull-left doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
								Yes
							</button>
							<button id="input-contactno-btn" title="No" type="button" class="pure-button pure-button-primary btn-lg pull-right doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
								No
							</button>
						</div>
						<div class="col-xs-12"><br></div>
					</div>
					<div id="license-contact-zone" style="display: none">
						<br />
						<div class="row">
							<div class="col-xs-12">
								<label id='license-contact-email-lbl' for='license-contact-email' class='control-label'>[from data store]</label>
							</div>
							<div class="col-xs-8">
								<input type='text' id='license-contact-email' class='pure-input-1 form-control' />
								<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
								<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
							</div>
							<div class="col-xs-12">
								<label id="license-contact-email-lbl-error" class="control-label errorCheck">Problem</label>
							</div>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-xs-12">
							<label id='programming-languages-lbl' for='programming-languages' class='control-label'>[from data store]</label>{{> tooltips/ProgrammingLanguage}}
						</div>
						<div class="col-xs-8">
							<select class='pure-input-1 doecode-chosen-select' title='Programming Languages' id='programming-languages' data-allowcustom="true" data-placeholder='Select your programming language(s)' multiple>
								{{#each programming_languages_list}}
									<option title='{{title}}' value='{{value}}'>{{label}}</option>
								{{/each}}
							</select>
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="description-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-xs-12">
							<label id='version-number-lbl' for='version-number' class='control-label'>[from data store]</label>{{> tooltips/VersionNumber}}
						</div>
						<div class="col-xs-8">
							<input type='text' id='version-number' class='pure-input-1 form-control' title='Version Number' />
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="version-number-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-xs-12">
							<label id='documentation-url-lbl' for='documentation-url' class='control-label'>[from data store]</label>{{> tooltips/DocumentationURL}}
						</div>
						<div class="col-xs-8">
							<input type='text' id='documentation-url' class='pure-input-1 form-control' title='Documentation URL' />
							<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
							<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
						</div>
						<div class="col-xs-12">
							<label id="documentation-url-lbl-error" class="control-label errorCheck">Problem</label>
						</div>
					</div>
					<br />
				</div>
				<div class='col-xs-4'>

				</div>
			</div>
		</div>
	</div>
</div>