<div class="panel panel-default">
	<div class="panel-heading" role="tab" id="heading-repository-information">
		<div class="panel-title">
			<a id='repository-panel-anchor' class='input-accordion-title' title='Repository Information' role="button" data-toggle="collapse" {{#if is_accordion}} data-parent="#input-page-accordion" {{/if}} href="#collapse-repository-information" aria-expanded="false" aria-controls="collapse-repository-information">
				Repository Information
			</a>
			<span class="green fa fa-check" style="display: none"></span>
            <span class="panelError fa fa-close" style="display: none">&nbsp;ERROR</span>
			<span title="Close" class="pull-right fa fa-chevron-right clickable accordion-toggle-arrow"></span>
		</div>
	</div>
	<div id="collapse-repository-information" class="panel-collapse collapse input-panel-collapse" role="tabpanel" aria-labelledby="heading-repository-information">
		<div class="panel-body">
			<div class='container-fluid form-horizontal'>
				<div class='form-group form-group-sm row'>
					<div class="col-xs-12 input-form-push-left">
					</div>
				</div>
				<div class='row'>
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<label id="project-type-lbl" class="control-label input-form-push-left req">Project Type</label>
							</div>
						</div>
						<div class="col-xs-12"><br></div>
						<div class="col-xs-12">
							<div class="row">
								<div class="col-xs-12">
									<label id="is-opensource-lbl" class="control-label req">Is this software project Open Source or Closed Source?</label>{{> tooltips/IsOpenClosedSource}}
								</div>
							</div>
						</div>
						<div class="col-xs-9" style="margin-left: 50px; margin-top: 7px;">
							<button id="input-opensource-btn" title="Open Source" type="button" class="pure-button pure-button-primary btn-lg pull-left doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
								Open Source
							</button>
							<button id="input-closedsource-btn" title="Closed Source" type="button" class="pure-button pure-button-primary btn-lg pull-right doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
								Closed Source
							</button>
						</div>
						<div class="col-xs-12"><br></div>
						<div id="is-public-div" style="display: none">
							<div class="col-xs-12">
								<label id="is-public-lbl" class="control-label req">Is this software project available in a Publicly Accessible Repository?</label>{{> tooltips/IsPublic}}
							</div>
							<div class="col-xs-9" style="margin-left: 50px; margin-top: 7px;">
								<button id="input-pubyes-btn" title="Yes" type="button" class="pure-button pure-button-primary btn-lg pull-left doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
									Yes
								</button>
								<button id="input-pubno-btn" title="No" type="button" class="pure-button pure-button-primary btn-lg pull-right doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
									No
								</button>
							</div>
							<div class="col-xs-12"><br></div>
						</div>
						<div id="is-landing-div" style="display: none">
							<div class="col-xs-12">
								<label id="is-landing-lbl" class="control-label req">Does this project have a landing page?</label><span id="tooltip-landing-yesno">{{> tooltips/IsLanding}}</span>
							</div>
							<div class="col-xs-9" style="margin-left: 50px; margin-top: 7px;">
								<button id="input-landyes-btn" title="Yes" type="button" class="pure-button pure-button-primary btn-lg pull-left doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
									Yes
								</button>
								<button id="input-landno-btn" title="No" type="button" class="pure-button pure-button-primary btn-lg pull-right doecode-wizard-btn wizard-margin-style faded" style="width: 175px">
									No
								</button>
							</div>
							<div class="col-xs-12"><br></div>
						</div>
					</div>
					<div class="col-xs-8">
						<div class="row">
							<div id="repository-link-div">
								<div class="row">
									<div class="col-xs-12">
										<label for="repository-link" id="repository-link-lbl" class="control-label">Repository URL</label>{{> tooltips/RepositoryLink}}
									</div>
									<div class="col-xs-12">
										<input class="pure-input-1 form-control" id="repository-link" type="text" title='Repository URL'>
										<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
										<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
									</div>
									<div class="col-xs-12">
										<label id="repository-link-lbl-error" class="control-label errorCheck">Problem</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div>Git or SVN Repositories Only</div>
									</div>
								</div>
							</div>
							<div id="landing-page-div">
								<div class="row">
									<div class="col-xs-12">
										<label for="landing-page" id="landing-page-lbl" class="control-label">Landing Page</label>{{> tooltips/LandingPage}}
									</div>
									<div class="col-xs-12">
										<input type="text" class="pure-input-1 form-control" id="landing-page" title='Landing Page'>
										<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
										<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
									</div>
									<div class="col-xs-12">
										<label id="landing-page-lbl-error" class="control-label errorCheck">Problem</label>
									</div>
								</div>
							</div>
							<div id="landing-contact-div">
								<div class="row">
									<div class="col-xs-12">
										<label for="landing-contact" id="landing-contact-lbl" class="control-label">Contact Email</label>{{> tooltips/LandingContact}}
									</div>
									<div class="col-xs-12">
										<input type="text" class="pure-input-1 form-control" id="landing-contact" title='Contact Email'>
										<span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
										<span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
									</div>
									<div class="col-xs-12">
										<label id="landing-contact-lbl-error" class="control-label errorCheck">Problem</label>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12">
										<div>Note: Please enter the Software Group email address for your site if available.</div>
									</div>
								</div>
							</div>
							<div id="autopop-div">
								<div class="row">
									<div class="col-xs-12">
										<br>
										<button title="Autopopulate from Repository" id="autopopulate-from-repository" class="pure-button pure-button-primary btn-sm">Autopopulate from Repository</button>
										{{> tooltips/Autopopulate}}
									</div>
								</div>
							</div>
							<br />
						</div>
					</div>
					<div class='col-xs-4'>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>