<div class="panel panel-default">
     <div class="panel-heading" role="tab" id="heading-repository-information">
	  <div class="panel-title">
	       <a id='repository-panel-anchor' class='input-accordion-title' title='Repository Information' role="button" data-toggle="collapse" {{#if is_accordion}}data-parent="#input-page-accordion"{{/if}} href="#collapse-repository-information" aria-expanded="false" aria-controls="collapse-repository-information">
		    Repository Information
	       </a>
	       <span class="green fa fa-check" style="display: none"></span>
	       <span title="Close" class="pull-right fa fa-chevron-right clickable accordion-toggle-arrow"></span>
	  </div>
     </div>
     <div id="collapse-repository-information" class="panel-collapse collapse input-panel-collapse" role="tabpanel" aria-labelledby="heading-repository-information">
	  <div class="panel-body">
	       <div class='container-fluid form-horizontal'>
		    <div class='form-group form-group-sm row'>
			 <div class="col-xs-12 input-form-push-left">
			      <h3>Please describe the availability of your software:</h3>
			 </div>
		    </div>
		    <div class='row'>
			 <div class='col-xs-12'>
			      <fieldset class="entry-group radiogroup has-success">
				   <legend class="entry-legend"><label id="project-type-lbl" class="control-label req">Project Type</label></legend>
				   <div class="radio">
					<label style="font-weight: bold"><input title="Open Source, Publicly Available Repository" value="OS" name="repository-info-group" type="radio">Open Source, Publicly Available Repository</label>{{> tooltips/OpenSourcePublic}}
				   </div>
				   <div class="radio">
					<label style="font-weight: bold"><input title="Open Source, No Publicly Available Repository" value="ON" name="repository-info-group" type="radio">Open Source, No Publicly Available Repository</label>{{> tooltips/OpenSourceNotPublic}}
				   </div>
				   <div class="radio">
					<label style="font-weight: bold"><input title="Closed Source, Site Hosted" value="CS" name="repository-info-group" type="radio">Closed Source, Site Hosted</label>{{> tooltips/ClosedSourceSite}}
				   </div>
				   <div class="radio">
					<label style="font-weight: bold"><input title="Closed Source, OSTI Hosted" value="CO" name="repository-info-group" type="radio">Closed Source, OSTI Hosted</label>{{> tooltips/ClosedSourceOSTI}}
				   </div>
				   <br>
			      </fieldset>
			      <br/>
			 </div>
			 <div class="col-xs-8">
			      <div class="row">
                    <div id="repository-link-co-div">
                     <div class="row">
                          <div class="col-xs-12">
                           <label for="repository-link-co" id="repository-link-co-lbl" class="control-label">Repository Link</label>
                          </div>
                          <div class="col-xs-12">
                           <div id="repository-link-co" style="word-wrap: break-word;"></div>
                          </div>
                          <div class="col-xs-12">
                           <label id="repository-link-co-lbl-error" class="control-label errorCheck">Problem</label>
                          </div>
                     </div>
                     <br />
                    </div>
				   <div id="repository-link-div">
					<div class="row">
					     <div class="col-xs-12">
						  <label for="repository-link" id="repository-link-lbl" class="control-label">Repository Link</label>{{> tooltips/RepositoryLink}}
					     </div>
					     <div class="col-xs-12">
						  <input class="pure-input-1 form-control" id="repository-link" type="text">
						  <span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
						  <span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
					     </div>
					     <div class="col-xs-12">
						  <label id="repository-link-lbl-error" class="control-label errorCheck">Problem</label>
					     </div>
					</div>
				   </div>
				   <div id="landing-page-div">
					<div class="row">
					     <div class="col-xs-12">
						  <label for="landing-page" id="landing-page-lbl" class="control-label">Landing Page</label>{{> tooltips/LandingPage}}
					     </div>
					     <div class="col-xs-12">
						  <input type="text" class="pure-input-1 form-control" id="landing-page">
						  <span class="fa fa-check form-control-feedback successCheck" style='display:none'></span>
						  <span class="fa fa-times form-control-feedback errorCheck" style='display:none'></span>
					     </div>
					     <div class="col-xs-12">
						  <label id="landing-page-lbl-error" class="control-label errorCheck">Problem</label>
					     </div>
					</div>
				   </div>
				   <div id="git-repo-only-div">
					<div class="row">
					     <div class="col-xs-12">
						  <div>Git or SVN Repositories Only</div>
					     </div>
					</div>
				   </div>
				   <div id="autopop-div">
					<div class="row">
					     <div class="col-xs-12">
						  <br>
						  <button title="Autopopulate from Repository" id="autopopulate-from-repository" class="pure-button pure-button-primary btn-sm">Autopopulate from Repository</button>
						  {{> tooltips/Autopopulate}}
					     </div>
					</div>
				   </div>
				   <br/>
			      </div>
			 </div>
			 <div class='col-xs-4'>

			 </div>
		    </div>
	       </div>
	  </div>
     </div>
</div>