{{> wrapper/header}}
<input type='hidden' id='about-page-identifier'/>
<div>
     <div class="container-fluid bgWhite">
          <div class='row'>
	       <div class="col-lg-3 col-md-1"></div>
	       <div class="col-lg-6 col-md-10 col-xs-12 static-content">
		    <h2 class="static-content-title">About</h2>
		    <br/>
		    <p class='left-text'>
			 The Department of Energy (DOE) Office of Scientific and Technical Information (OSTI) developed a new DOE software services platform and 
			 search tool for DOE-funded code – DOE CODE. DOE CODE provides functionality for collaboration, archiving, and discovery of scientific and
			 business software. DOE CODE replaces OSTI’s old software center, the Energy Science and Technology Software Center (ESTSC).
		    </p>
	       </div>
	       <div class="col-lg-3 col-md-1"></div>
          </div>
          <div class="container-fluid containerStyle">
	       <br/>
	       <div class="row">
		    <div class="col-xs-12 static-content no-col-padding-left no-col-padding-right">

			 <p class="left-text hidden-md hidden-lg">
			      <strong>CREATE</strong>
			      - Create code inside or outside DOE CODE.</p>
			 <p class="left-text hidden-md hidden-lg">
			      <strong>SUBMIT</strong>
			      - Submit your DOE-funded code.</p>
			 <p class="left-text hidden-md hidden-lg">
			      <strong>DISCOVER</strong>
			      - Discover DOE-funded software and code.</p>

			 <img title='Create' data-nohover='2' data-hover='3' class="hidden-xs hidden-sm about-top-img" src='/${app_name}/images/Create-min.png' width="150" height="113" alt="Create"/> 
			 <img title='Submit' data-nohover='4' data-hover='5' class="col-md-offset-1 hidden-xs hidden-sm about-top-img" src='/${app_name}/images/Submit-min.png' width="150" height="113" alt="Submit"/>
			 <img title='Discover' data-nohover='0' data-hover='1' class="col-md-offset-1 hidden-xs hidden-sm about-top-img" src='/${app_name}/images/Discover-min.png' width="150" height="113" alt="Discover"/>
			 <div class=""></div>
			 <br/>
			 <br/>
		    </div>
		    <div class=""></div>
	       </div>
          </div>
     </div>

     <div class="container-fluid">
          <div class="container-fluid containerStyle">
	       <div class="row">
		    <div class=""></div>
		    <div class="col-xs-12 static-content no-col-padding-left no-col-padding-right">
			 <img title='DOE CODE Features' id='about-doecode-features' class="hidden-xs hidden-sm" src='/${app_name}/images/DOEcodeFeatures_main710px-min.png' width="710" height="452" alt="DOE CODE Features" useMap="#featuremap"/>
			 <map name="featuremap">
			      <!--10:30-->
			      <area class='about-urls-area default-cursor' href='Github' title='Github' shape="circle" coords="232,107,32" alt="Github" data-hover='5'/> 
			      <!--9 o clock-->
			      <area class='about-urls-area default-cursor' href='Social Code' title='Social Code' shape="circle" coords="179,241,32" alt="Social Code" data-hover='6' /> 
			      <!--7:30-->
			      <area class='about-urls-area default-cursor' href='Catalog' title='Catalog' shape="circle" coords="233,362,32" alt="Catalog" data-hover='3'/> 
			      <!--4:30-->
			      <area class='about-urls-area default-cursor' href='Repository' title='Repository' shape="circle" coords="481,365,32" alt="Repository" data-hover='2' /> 
			      <!--3 o clock-->
			      <area class='about-urls-area default-cursor' href='DOI' title='DOI' shape="circle" coords="533,239,32" alt="DOI" data-hover='1' /> 
			      <!--1:30-->
			      <area class='about-urls-area default-cursor' href='Easy' title='Easy' shape="circle" coords="481,112,32" alt="Easy" data-hover='7'/> 
			      <!--12 o clock-->
			      <area class='about-urls-area default-cursor' href='Policy' title='Policy' shape="circle" coords="355,55,32" alt="Policy" data-hover='4'/>
			 </map>
			 <a href='Github' style='display:none;'>Github</a>
			 <a href='Social Code' style='display:none;'>Social Code</a>
			 <a href='Catalog' style='display:none;'>Catalog</a>
			 <a href='Repository' style='display:none;'>Repository</a>
			 <a href='DOI' style='display:none;'>DOI</a>
			 <a href='Easy' style='display:none;'>Easy</a>
			 <a href='Policy' style='display:none;'>Policy</a>

			 <h3 class="hidden-md hidden-lg featuresStyle">FEATURES</h3>
			 <p class="left-text hidden-md hidden-lg">
			      <strong>CATALOG</strong>
			      - DOE CODE is the DOE Software Catalog for scientific and business software.</p>
			 <p class="left-text hidden-md hidden-lg">
			      <strong>SOCIAL CODE</strong>
			      - DOE CODE seamlessly interfaces with common development platforms (e.g., open web API).</p>
			 <p class="left-text hidden-md hidden-lg">
			      <strong>GITHUB</strong>
			      - DOE CODE is an open source product on GitHub that other institutions can download and deploy for their own purposes.</p>
			 <p class="left-text hidden-md hidden-lg">
			      <strong>POLICY</strong>
			      - DOE CODE resources provide you information on best practices and policies for software.</p>
			 <p class="left-text hidden-md hidden-lg">
			      <strong>EASY</strong>
			      - DOE CODE is easy to use and requires minimal metadata, often autopopulated.</p>
			 <p class="left-text hidden-md hidden-lg">
			      <strong>DOI</strong>
			      - DOE CODE issues digital object identifiers (DOIs) for code so software is more easily cited and discoverable. This allows for stronger connections between code, publications, and data through citation in reference sections.</p>
			 <p class="left-text hidden-md hidden-lg">
			      <strong>REPOSITORY</strong>
			      - DOE CODE offers public and private repository services in GitHub and Gitlab.</p>
		    </div>
	       </div>

          </div>
          <br/>
          <div class='center-text'>For information about DOE CODE's security stance, visit our <a title="Hosting Security Page" href='/${app_name}/security-hosting'>Hosting Security Page</a>.
          </div>
     </div>

</div>
{{> wrapper/footer}}
