{{> wrapper/header}}
<style type='text/css'>
     .contact-img {
	 opacity: 0.3;
     }
</style>
<div class="row not-so-wide-row">
     <div class="col-lg-3 col-md-1"></div>
     <div class="col-lg-6 col-md-10 col-xs-12 static-content">
	  <h2 class="static-content-title">Contacts</h2>
	  <br/>
	  <div class="row">
	       <div class="col-sm-2 hidden-xs ">
		    <img title='Email' src='/${app_name}/images/contact/E-Mail.png' class="img-rounded img-responsive contact-img" alt="email"/>
	       </div>
	       <div class="col-sm-10 col-xs-12">
		    <div class="row">
			 <div class="col-xs-12 contact-page-header"><strong>EMAIL</strong></div>
			 <div class="col-xs-12">
			      <p>
				   <a title='Email doecode@osti.gov' href="mailto:doecode@osti.gov?subject=Comments or Suggestions">doecode@osti.gov</a>
			      </p>
			      <p> NOTE: Email messages are answered Monday - Friday, 9 a.m. - 4 p.m. We do our best to respond within 48 hours. </p>
			 </div>
		    </div>
	       </div>
	  </div>
	  <br/>

	  <div class="row">
	       <div class="col-sm-2 hidden-xs ">
		    <img title='Phone' src='/${app_name}/images/contact/Phone.png' class="img-rounded img-responsive contact-img" alt="phone"/>
	       </div>
	       <div class="col-sm-10 col-xs-12">
		    <div class="row">
			 <div class="col-xs-12 contact-page-header"><strong>PHONE</strong></div>
			 <div class="col-xs-12">
			      ${project.manager.phone}
			 </div>
		    </div>
	       </div>
	  </div>
	  <br/>

	  <div class="row">
	       <div class="col-sm-2 hidden-xs ">
		    <img title='Writing' src='/${app_name}/images/contact/Writing.png' class="img-rounded img-responsive contact-img" alt="writing"/>
	       </div>
	       <div class="col-sm-10 col-xs-12">
		    <div class="row">
			 <div class="col-xs-12 contact-page-header"><strong>MAIL</strong></div>
			 <div class="col-xs-12">
			      <p>
				   U.S. Department of Energy
				   <br/>
				   Office of Scientific and Technical Information
				   <br/>
				   P.O. Box 62
				   <br/>
				   Oak Ridge, TN 37831
			      </p>
			 </div>
		    </div>
	       </div>
	  </div>
	  <div class="col-lg-3 col-md-1"></div>
     </div>
</div>
{{> wrapper/footer}}