{{> wrapper/header}}
<div class="row not-so-wide-row">
	<div class="col-xs-12 center-text has-error">
		<div class='center-text biblio-title has-error'>
			<br />
			<label class='control-label normal-weight'>{{message}}</label>
		</div>
	</div>
</div>
{{> wrapper/footer}}