{{> wrapper/header}}
<style type="text/css">
     @media only screen and (max-width:479px) and (min-width: 320px) {
	 .faq-page-blockquote{
	     font-size:14px;
	 }
     }
</style>
<div class="row not-so-wide-row">
     <div class="col-lg-3 col-md-1"></div>

     <div class="col-lg-6 col-md-10 col-xs-12 static-content">
	  <h2 class="static-content-title">FAQs</h2>
	  <br/><br/> 
	  <ul>
	       <li><a title="What is DOE CODE?" href="/${app_name}/faq#what-is"><span class="faq-page-anchor">What is DOE CODE?</span></a></li>

	       <li><a title="What does it mean for DOE CODE to be released in Alpha?" href="/${app_name}/faq#what-does-alpha">
			 <span class="faq-page-anchor">What does it mean for DOE CODE to be released in Alpha?</span></a></li>
	       <li>
		    <a title="How is the DOE CODE software submission and search tool different from DOE CODE Github?" href="/${app_name}/faq#how-is-it-different">
			 <span class="faq-page-anchor">How is the DOE CODE software submission and search tool different from&nbsp;<a title="DOE CODE Github" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode">DOE CODE GitHub?</a></span>     
		    </a>
	       </li>
	       <li><a title="What does DOE CODE contain?" href="/${app_name}/faq#what-does-it-contain">
			 <span class="faq-page-anchor">What does DOE CODE contain?</span></a></li>

	       <li><a title="Does DOE CODE provide repository services?" href="/${app_name}/faq#what-does-it-provide">
			 <span class="faq-page-anchor">Does DOE CODE provide repository services?</span></a></li>

	       <li><a title="What are the Project Types found in DOE CODE?" href="/${app_name}/faq#what-are-the-types">
			 <span class="faq-page-anchor">What are the Project Types found in DOE CODE?</span></a></li>

	       <li><a title="Are there restrictions on the use of the material in DOE CODE?" href="/${app_name}/faq#are-there-restrictions">
			 <span class="faq-page-anchor">Are there restrictions on the use of the material in DOE CODE?</span></a></li>

	       <li><a title="How is software provided to DOE CODE?" href="/${app_name}/faq#how-is-software-submitted">
			 <span class="faq-page-anchor">How is scientific software provided to DOE CODE?</span></a></li>

	       <li><a title="What does it mean to submit scientific software to DOE CODE?" href="/${app_name}/faq#what-does-it-mean-to-submit">
			 <span class="faq-page-anchor">What does it mean to submit scientific software to DOE CODE?</span></a></li>

	       <li><a title="What does it mean to announce scientific software to DOE CODE?" href="/${app_name}/faq#what-does-it-mean-to-announce">
			 <span class="faq-page-anchor">What does it mean to announce scientific software to DOE CODE?</span></a></li>

	       <li><a title="How is business software provided to DOE CODE?" href="/${app_name}/faq#how-is-business-software-provided-to-doe-code">
			 <span class="faq-page-anchor">How is business software provided to DOE CODE?</span></a></li> 

	       <li><a title="What does it mean to submit business software to DOE CODE?" href="/${app_name}/faq#what-does-it-mean-to-submit-business-software-to-doe-code">
			 <span class="faq-page-anchor">What does it mean to submit business software to DOE CODE?</span></a></li> 

	       <li><a title="What does it mean to announce business software to DOE CODE?" href="/${app_name}/faq#what-does-it-mean-to-announce-business-software-to-doe-code">
			 <span class="faq-page-anchor">What does it mean to announce business software to DOE CODE?</span></a></li>  

	       <li><a title="How do I announce CUI, OUO, or ECI software to OSTI" href="/${app_name}/faq#how-do-i-announce-cui-ouo-eci">
			 <span class="faq-page-anchor">How do I announce CUI, OUO, or ECI software to OSTI?</span></a></li>

	       <li><a title="What is a YAML file? How do I auto populate the YAML file?" href="/${app_name}/faq#what-is-a-yaml">
			 <span class="faq-page-anchor">What is a YAML file? How do I auto populate the YAML file?</span></a></li>

	       <li><a title="What are the Categories of Software?" href="/${app_name}/faq#what-are-the-categories">
			 <span class="faq-page-anchor">What are the Categories of Software?</span></a></li>

	       <li><a title="Do I need an account to use DOE CODE?" href="/${app_name}/faq#do-i-need-account">
			 <span class="faq-page-anchor">Do I need an account to use DOE CODE?</span></a></li>

	       <li><a title="What is a Digital Object Identifier (DOI)?" href="/${app_name}/faq#what-is-a-doi">
			 <span class="faq-page-anchor">What is a Digital Object Identifier (DOI)?</span></a></li>

	       <li><a title="What are the benefits of getting a DOI for code or software?" href="/${app_name}/faq#what-are-the-benefits">
			 <span class="faq-page-anchor">What are the benefits of getting a DOI for code or software?</span></a></li>

	       <li><a title="What if I need to have a project removed from DOE CODE?" href="/${app_name}/faq#removal">
			 <span class="faq-page-anchor">What if I need to have a project removed from DOE CODE?</span></a></li>

	       <li><a title="How do I use the Advanced Search?" href="/${app_name}/faq#advanced-search">
			 <span class="faq-page-anchor">How do I use the Advanced Search?</span></a></li>

	       <li><a title="Are there APIs available for DOE CODE?" href="/${app_name}/faq#are-there-apis">
			 <span class="faq-page-anchor">Are there APIs available for DOE CODE?</span></a></li>

	       <li><a title="Do I need to have cookies enabled to use DOE CODE?" href="/${app_name}/faq#do-i-need-cookies">
			 <span class="faq-page-anchor">Do I need to have cookies enabled to use DOE CODE?</span></a></li>

	       <li><a title="How can I find out more?" href="/${app_name}/faq#more-info">
			 <span class="faq-page-anchor">How can I find out more?</span></a>
	       </li>
	  </ul>
	  <br/> 
	  <div>
	       <a name="what-is"></a>
	       <span class="faq-page-subtitle">What is DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>
			 DOE CODE is the U.S. Department of Energy's (DOE) new software services platform and search tool for software resulting from DOE-funded 
			 research that provides functionality for collaboration, archiving, and discovery of scientific and business software funded by DOE. DOE 
			 CODE replaces the Energy Science and Technology Software Center (ESTSC). DOE CODE is an open source project and is available on GitHub.
			 Throughout these FAQs, the terms "software" and "code" are used interchangeably, though it is understood there are discrete definitions 
			 in various communities.
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-does-alpha"></a><span class="faq-page-subtitle">What does it mean for DOE CODE to be released in Alpha?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>
			 In Alpha, DOE CODE supports submission of software projects, code repository services, and search and discovery of submitted software 
			 projects. As development of DOE CODE continues toward Beta and Production releases, additional features and functionality will be included. 
			 Future requirements will include support and archiving of additional repository types, automated alerting for software points of contact, 
			 authentication using GitHub accounts, and more user profile features.
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="how-is-it-different"></a><span class="faq-page-subtitle">How is the DOE CODE software submission and search tool different from&nbsp;<a title="DOE CODE Github" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode">DOE CODE GitHub</a>?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>
			 DOE CODE tool is a platform that provides for the submission and search of software resulting from DOE-funded projects. The DOE CODE 
			 "platform" that runs this site is an open source project available on GitHub.
			 <br/>
			 <br/>
			 The DOE CODE GitHub Community is a repository option available to DOE-funded developers. This community is open to registered users of 
			 DOE CODE, and those users are welcome to create and import their own repositories once they join. This service is provided by OSTI in 
			 recognition of the fact that many developers prefer to house and manage their projects on GitHub. DOE CODE is an open source project 
			 and is also available on GitHub.
			 <br/>
			 <br/>
			 Users may request to join the DOE CODE GitHub community by filling out the <a href='/${app_name}/gitlab-signup'>request form</a>.
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-does-it-contain"></a><span class="faq-page-subtitle">What does DOE CODE contain?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>
			 DOE CODE contains records for DOE-funded scientific and business software and links to the software or code repository. In addition to 
			 the code, the repositories may include manuals, examples, test data, etc.
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-does-it-provide"></a>
	       <span class="faq-page-subtitle">Does DOE CODE provide repository services?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>
			 Yes. DOE CODE provides repository hosting services for the DOE community via&nbsp;
			 <a title="DOE CODE Github" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode/doecode">GitHub</a>&nbsp;
			 and&nbsp;<a title="Gitlab" target='_blank' rel="noopener noreferrer" href="https://gitlab.osti.gov/users/sign_in">GitLab</a>. GitHub 
			 repository services are for those who want typical GitHub open source project functionality. OSTI's GitLab repository service offers 
			 the same functionality as the GitHub repository service, but allows for open or closed repositories and more control of the code.
			 <br/>
			 <br/>
			 If you are interested in making use of the GitHub or GitLab repository services and would like to request to join the DOE CODE GitHub 
			 community, please fill out the <a href='/${app_name}/gitlab-signup'>request form</a>. For any questions about the repository services, contact <a title="Email doecoderepositories@osti.gov" href="mailto:doecoderepositories@osti.gov">doecoderepositories@osti.gov</a>.
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-are-the-types"></a>
	       <span class="faq-page-subtitle">What are the Project Types found in DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <div>
			 <strong>Open Source, Publicly Available Repository</strong>&nbsp;- Software can be freely accessed, used, changed and shared 
			 (in modified or unmodified form) by anyone in a public repository. Open Source software is made by many people and distributed 
			 under licenses that comply with the Open Source Definition.
			 See the&nbsp;<a title="Open Source Initiative" target='_blank' rel="noopener noreferrer" href="https://opensource.org/">Open Source Initiative</a>
			 &nbsp;for more information and definitions.
			 <br/>
			 <br/>
			 <strong>Open Source, No Publicly Available Repository</strong>&nbsp;- Code is Open Source but is not yet available in a public repository. 
			 Interested users can contact the developer(s) or responsible parties for information regarding access and (re)use. A landing page URL is 
			 required for submitting Open Source, no Publicly available repository code; the URL should provide additional information on how to 
			 obtain access to the code.
			 <br/>
			 <br/>
			 <strong>Closed Source, Site Hosted</strong>&nbsp;- Software that is not Open Source and for which access must be granted by contacting a licensing 
			 official. Software is often Closed Source because it is proprietary, or has otherwise been deemed appropriate for limited 
			 distribution only. A landing page URL is required for submitting Closed Source, Site Hosted code; the URL should provide additional information on 
			 how to obtain access to the code.
			 <br/>
			 <br/>
			 <strong>Closed Source, OSTI Hosted</strong>&nbsp;- Software that is not Open Source and for which access must be granted by contacting a licensing 
			 official. Software is often Closed Source because it is proprietary or has otherwise been deemed appropriate for limited distribution only.  
			 The upload of source code or a compiled binary is required and a landing page URL is optional for submitting Closed Source, OSTI Hosted code.  
			 A private GitLab repository will be automatically created using the uploaded resource and a Repository Link will be generated automatically 
			 with which OSTI will distribute the code/software. If interested, you may request an OSTI GitLab account 
			 at <a title="Gitlab Signup" target='_blank' rel="noopener noreferrer" href='https://www.osti.gov/doecode/gitlab-signup'>https://www.osti.gov/doecode/gitlab-signup</a>.
			 <br/>
			 <br/>
			 DOE CODE also maintains a comprehensive inventory of DOE-funded custom-developed business software.
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="are-there-restrictions"></a><span class="faq-page-subtitle">Are there restrictions on the use of the material in DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <div>
			 <p>There may be restrictions on use of the material based on the associated license(s). Currently, DOE CODE supports the following list of Open Source licenses:</p>
			 <div>
			      <ul>
				   <li><a title="Apache License 2.0" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/Apache-2.0">Apache License 2.0</a></li>
				   <li><a title="GNU General Public License v3.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/quick-guide-gplv3.html">GNU General Public License v3.0</a></li>
				   <li><a title="MIT License" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/MIT">MIT License</a></li>
				   <li><a title="BSD 2-clause &quot;simplified&quot; License" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/BSD-2-Clause">BSD 2-clause "simplified" License</a></li>
				   <li><a title="BSD 3-clause &quot;New or &quot;Revised&quot; License" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/BSD-3-Clause">BSD 3-clause "New or "Revised" License</a></li>
				   <li><a title="Eclipse Public License 1.0" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/EPL-1.0">Eclipse Public License 1.0</a></li>
				   <li><a title="GNU Affero General Public License v3.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/licenses.html#AGPL">GNU Affero General Public License v3.0</a></li>
				   <li><a title="GNU General Public License v2.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/old-licenses/lgpl-2.0.html">GNU General Public License v2.0</a></li>
				   <li><a title="GNU General Public License v1.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/old-licenses/gpl-1.0.html">GNU General Public License v1.0</a></li>
				   <li><a title="GNU Lesser General Public License v2.1" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU Lesser General Public License v2.1</a></li>
				   <li><a title="GNU Lesser General Public License v3.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/licenses.html#LGPL">GNU Lesser General Public License v3.0</a></li>
				   <li><a title="Mozilla Public License 2.0" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/MPL-2.0">Mozilla Public License 2.0</a></li>
				   <li><a title="The Unlicense" target='_blank' rel="noopener noreferrer" href="http://unlicense.org/">The Unlicense</a></li>
			      </ul>
			      <br/>
			      More information regarding these licenses can also be found at the&nbsp;
			      <a title="Open Source Initiative" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/alphabetical">Open Source Initiative - Licenses by Name</a>.
			      <br/>
			      <br/>
			      If you choose to use a license not in the above list you may select "Other" and provide a link to the landing page of the license. For Closed Source, OSTI
			      Hosted, if records do not have a license the system will default to the legacy binary license.
			 </div>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="how-is-software-submitted"></a><span class="faq-page-subtitle">How is scientific software provided to DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <div>
			 <p>
			      Individual software records and associated metadata are directly provided by the developer or the developing organization to DOE 
			      through DOE CODE. When an individual software record is associated with a DOE National Laboratory, the laboratory POCs will be notified
			      of the record submission or announcement.
			 </p>
			 <p> 
			      When providing software and code to DOE CODE, users will first need to identify what type of software they are 
			      submitting - scientific or business software.  Users who are unsure of the type of software are encouraged to please work with 
			      their site's Dissemination Authority.
			 </p>
			 <p>
			      In cases where a repository link from which OSTI can access and archive software is not available, the software itself should be submitted to OSTI along with associated metadata.
			      For submission of limited availability software, please continue to utilize Announcement Notice 241.4 via <a href='https://www.osti.gov/elink/' target='_blank' rel="noopener noreferrer">E-Link</a>. Beta/Future versions of DOE CODE will address submission of 
			      limited availability software.
			 </p>
			 <br/>
			 <strong>Providing Scientific Software to DOECODE</strong>
			 <p>
			      DOE CODE offers two paths for users to provide scientific software. Users can (1) submit code to DOE CODE, and (2) announce code 
			      to the Department of Energy for official review and release through DOE CODE. For more information about submitting and announcing 
			      code, see the 
			      "<a title="What does it mean to submit scientific software to DOE CODE?" href="/${app_name}/faq#what-does-it-mean-to-submit">What does it mean to submit scientific software to DOE CODE?</a>"
			      and 
			      "<a title="What does it mean to announce scientific software to DOE CODE?" href="/${app_name}/faq#what-does-it-mean-to-announce">What does it mean to announce scientific software to DOE CODE?</a>"
			      for more details.
			 </p>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-does-it-mean-to-submit"></a><span class="faq-page-subtitle">What does it mean to submit scientific software to DOE CODE?</span>
	       <blockquote class="faq-page-blockquote"><div>
			 <p>
			      Users may want to simply submit their scientific software to DOE CODE because submitting offers increased discoverability and the 
			      option to obtain a Digital Object Identifier (DOI) for the code, making it more easily citable and shared. Submitting scientific 
			      code to DOE CODE is easy, with only a minimal set of metadata required. The primary use case for this functionality includes codes 
			      that are in early development and for developers wanting to obtain DOIs early in the process. 
			      (See also "<a title="What is a Digital Object Identifier" href="/${app_name}/faq#what-is-a-doi">What is a Digital Object Identifier (DOI)?</a>").
			 </p>
			 <br/><div>
			      Required Metadata to Submit Scientific Software to DOE CODE:<ul>
				   <li>Project Type</li>
				   <li>Repository Link;* Landing Page;** Source Code or Compiled Binary***</li>
				   <li>Software Title</li>
				   <li>Description/Abstract</li>
				   <li>License(s)</li>
				   <li>Developers</li></ul></div>
			 <br/>
			 <p>
			      *Currently only Git and SVN-based repositories are supported. Most repositories hosted at GitHub, Bitbucket, SourceForge, and GitLab 
			      support Git and SVN-based repositories. When submitting a repository, users should be certain to use the direct URL to the actual 
			      repository. As an example, the direct Repository Link for DOE CODE is 
			      <a title="DOECODE Github" target='_blank' rel="noopener noreferrer" href='https://www.github.com/doecode/doecode'>https://www.github.com/doecode/doecode</a>
			      whereas the project landing page is 
			      <a title='' target='_blank' rel='noopener noreferrer' href='https://www.github.com/doecode'>https://www.github.com/doecode</a>. 
			      There are plans to expand this functionality in future releases to support other repository types such as CVS.  
			 </p>
			 <p>
			      **A landing page is required when submitting or announcing Closed Source, Site Hosted code. A landing page is optional when submitting 
			      or announcing Closed Source, OSTI Hosted.
			 </p>
			 <p>
			      ***The source code or compiled binary is required when submitting or announcing codes with Project Type Closed Source, OSTI Hosted
			      and for announcing codes with Project Type Open Source, No Publicly Available Repository.  For Closed Source, OSTI Hosted, the 
			      system takes the uploaded file and automatically creates a GitLab repo for the project, adding the Repository Link back into the 
			      record for the user.
			 </p>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-does-it-mean-to-announce"></a><span class="faq-page-subtitle">What does it mean to announce scientific software to DOE CODE?</span>
	       <blockquote class="faq-page-blockquote"><div>

			 <p>
			      Users may need to announce their scientific code to the Department of Energy to ensure announcement and dissemination in accordance 
			      with DOE statutory responsibilities. Scientific codes in later stages of development are the primary use cases for this functionality. 
			      For announcement to the Department of Energy, there are basic requirements for metadata fields; however, other optional/non-mandatory 
			      data fields should be included during announcement when possible.
			 </p>
			 <div>
			      DOE national laboratories and other DOE facilities/contractors who have developed and/or modified software during work supported 
			      by DOE or during work carried out for others at DOE facilities are required to announce a record of the software to the Department 
			      of Energy, if the software meets the following criteria
			      <ul>
				   <li>the software meets the definition of&nbsp;<a title="STI" target='_blank' rel="noopener noreferrer" href="https://www.osti.gov/stip/stidefined">STI</a>;</li>
				   <li>the software is known or expected to be useful inside or outside the DOE community, or is not specific to the originating site;</li>
				   <li>a stable, usable, documented version of the software exists (i.e., the software is not under initial development); and</li>
				   <li>the software has undergone all appropriate reviews for sensitivity and export control.</li>
			      </ul>
			 </div>
			 <br/>
			 <div>
			      Scientific software that meets the following criteria need not be announced to the Department of Energy:
			      <ul>
				   <li>
					operational systems software that is site-specific, unique to a particular hardware, or necessary to ensure the fundamental 
					operability of automated data processing equipment, whether supplied by the manufacturer of the system hardware or others;
				   </li>
				   <li>
					computer software programs developed and/or modified during work carried out for others at DOE facilities that are 
					specifically excluded in the agreement under which the non-DOE funded work was performed;
				   </li>
				   <li>
					software generated under the auspices of the Energy Information Administration; and
				   </li>
				   <li>
					specific software used by power administrations for the operation, control, planning, and modeling of electric power 
					transmission systems and the interconnected utilities; however, modifications/enhancements to portions of this software 
					that are not an integral part of the whole and have potential application outside the power administrations should be 
					announced.
				   </li>
			      </ul>
			 </div>
			 <br/>
			 <div>
			      Required Metadata to Announce Scientific Software to the Department of Energy through DOE CODE:<ul>
				   <li>Project Type</li>
				   <li>Repository Link;* Landing Page;** Source Code or Compiled Binary***</li>
				   <li>Software Title</li>
				   <li>Description/Abstract</li>
				   <li>License(s)</li>
				   <li>Developers</li>
				   <li>Release Date</li>
				   <li>Sponsoring Organization Name</li>
				   <li>Primary Award Number</li>
				   <li>Research Organization Name</li>
				   <li>Contact Information</li>
			      </ul>
			 </div>
			 <br/>
			 <p>
			      In addition to the basic requirements for metadata fields (above), other optional/non-mandatory data fields should be included 
			      during announcement when possible.
			 </p>
			 <p>
			      *Currently only Git and SVN-based repositories are supported. Most repositories hosted at GitHub, Bitbucket, SourceForge, and GitLab 
			      support Git and SVN-based repositories. When submitting a repository, users should be certain to use the direct URL to the actual 
			      repository. As an example, the direct Repository Link for DOE CODE is 
			      <a title="DOECODE/DOECODE Github" target='_blank' rel="noopener noreferrer" href='https://www.github.com/doecode/doecode'>https://www.github.com/doecode/doecode</a>
			      whereas the project landing page is 
			      <a title='DOECODE Github' target='_blank' rel='noopener noreferrer' href='https://www.github.com/doecode'>https://www.github.com/doecode</a>. 
			      There are plans to expand this functionality in future releases to support other repository types such as CVS.  
			 </p>
			 <p>
			      **A landing page is required when submitting or announcing Closed Source, Site Hosted code. A landing page is optional when submitting 
			      or announcing Closed Source, OSTI Hosted.
			 </p>
			 <p>
			      ***The source code or compiled binary is required when submitting or announcing codes with Project Type Closed Source, OSTI Hosted 
			      and for announcing codes with Project Type Open Source, No Publicly Available Repository.  For Closed Source, OSTI Hosted, the 
			      system takes the uploaded file and automatically creates a GitLab repo for the project, adding the Repository Link back into the 
			      record for the user.
			 </p>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="how-is-business-software-provided-to-doe-code"></a><span class="faq-page-subtitle">How is business software provided to DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <div>
			 <p>
			      To efficiently fulfill Departmental requirements to maintain an inventory of all DOE-funded custom-developed software and to report 
			      this inventory to the government-wide Code.gov website, metadata for all scientific and non-scientific (e.g., business) software 
			      should be submitted to DOE CODE. This inventory will foster scientific progress, provide transparency to and promote public uptake 
			      of DOE-funded open source software (OSS), and enable DOE to fulfill requirements for government-wide reporting of custom-developed 
			      software to Code.gov.
			 </p>
			 <p>
			      DOE CODE offers two paths for users to provide business software. Users can (1) submit code to DOE CODE, and (2) announce code to the 
			      Department of Energy for official review and release through DOE CODE. For more information about submitting and announcing code, 
			      see the "<a href='/${app_name}/faq#what-does-it-mean-to-submit-business-software-to-doe-code'>What does it mean to submit business software to DOE CODE?</a>" and "<a href="/${app_name}/faq#what-does-it-mean-to-announce-business-software-to-doe-code">What does it mean to announce business software to DOE CODE?</a>" 
			      for more details.
			 </p>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-does-it-mean-to-submit-business-software-to-doe-code"></a><span class="faq-page-subtitle">What does it mean to submit business software to DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <div>
			 <p>
			      Users may want to simply submit their business code to DOE CODE. Submitting offers increased discoverability and the option to obtain a Digital Object Identifier (DOI)
			      for the code, making it more easily citable and shared. Submitting business code to 
			      DOE CODE is easy, with only a minimal set of metadata required. The primary use case for this functionality includes codes that 
			      are in early development and for developers wanting to obtain DOIs early in the process. 
			      (See also "<a href='/${app_name}/faq#what-is-a-doi'>What is a Digital Object Identifier (DOI)?</a>").
			 </p>
			 <div>
			      Required Metadata to Submit Business Software to DOE CODE:
			      <ul>
				   <li>Project Type</li>
				   <li>Repository Link;* Landing Page;** Source Code or Compiled Binary***</li>
				   <li>Software Title</li>
				   <li>Description/Abstract</li>
				   <li>License(s)</li>
				   <li>Developers</li>
				   <li>Sponsoring Organization Name</li>

			      </ul>
			 </div>
			 <br/>
			 <p>
			      *Currently only Git and SVN-based repositories are supported. Most repositories hosted at GitHub, Bitbucket, SourceForge, and 
			      GitLab support Git and SVN-based repositories. When submitting a repository, users should be certain to use the direct URL to 
			      the actual repository. As an example, the direct Repository Link for DOE CODE is 
			      <a title="DOECODE/DOECODE Github" target='_blank' rel="noopener noreferrer" href='https://www.github.com/doecode/doecode'>https://www.github.com/doecode/doecode</a>
			      whereas the project landing page is 
			      <a title='DOE CODE GithubGithub' target='_blank' rel='noopener noreferrer' href='https://www.github.com/doecode'>https://www.github.com/doecode</a>. 
			      There are plans to expand this functionality in future releases to 
			      support other repository types such as CVS.  
			 </p>
			 <p>
			      **A landing page is required for when submitting or announcing Closed Source, Site Hosted code. A landing page is optional when 
			      submitting or announcing Closed Source, OSTI Hosted.
			 </p>
			 <p>
			      ***The source code or compiled binary is required when submitting or announcing codes with Project Type Closed Source, OSTI Hosted 
			      and for announcing codes with Project Type Open Source, No Publicly Available Repository.  For Closed Source, OSTI Hosted, the 
			      system takes the uploaded file and automatically creates a GitLab repo for the project, adding the Repository Link back into 
			      the record for the user.
			 </p>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-does-it-mean-to-announce-business-software-to-doe-code"></a><span class="faq-page-subtitle">What does it mean to announce business software to DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <div>
			 <p>
			      Users may need to announce their business code to the Department of Energy to ensure announcement and dissemination in accordance 
			      with DOE statutory responsibilities. Business codes in later stages of development are the primary use cases for this functionality. 
			      For announcement to the Department of Energy, there are basic requirements for metadata fields; however, other optional/non-mandatory 
			      data fields should be included during announcement when possible.
			 </p>
			 <div>
			      Required Metadata to Announce Business Software to the Department of Energy through DOE CODE:
			      <ul>
				   <li>Project Type</li>
				   <li>Repository Link;* Landing Page;** Source Code or Compiled Binary***</li>
				   <li>Software Title</li>
				   <li>Description/Abstract</li>
				   <li>License(s)</li>
				   <li>Developers</li>
				   <li>Release Date</li>
				   <li>Sponsoring Organization Name</li>
				   <li>Primary Award Number</li>
				   <li>Research Organization Name</li>
				   <li>Contact Information</li>
			      </ul>
			 </div>
			 <br/>
			 <p>
			      *Currently only Git and SVN-based repositories are supported. Most repositories hosted at GitHub, Bitbucket, SourceForge, and GitLab 
			      support Git and SVN-based repositories. When submitting a repository, users should be certain to use the direct URL to the actual 
			      repository. As an example, the direct Repository Link for DOE CODE is 
			      <a title="DOECODE Github" target='_blank' rel="noopener noreferrer" href='https://www.github.com/doecode/doecode'>https://www.github.com/doecode/doecode</a>
			      whereas the project landing page is 
			      <a title='' target='_blank' rel='noopener noreferrer' href='https://www.github.com/doecode'>https://www.github.com/doecode</a>.  
			      There are plans to expand this functionality in future releases to support other repository types such as CVS.  
			 </p>
			 <p>
			      **A landing page is required when submitting or announcing Closed Source, Site Hosted code. A landing page is optional when submitting 
			      or announcing Closed Source, OSTI Hosted.
			 </p>
			 <p>
			      ***The source code or compiled binary is required when submitting or announcing codes with Project Type Closed Source, OSTI Hosted 
			      and for announcing codes with Project Type Open Source, No Publicly Available Repository.  For Closed Source, OSTI Hosted, the 
			      system takes the uploaded file and automatically creates a GitLab repo for the project, adding the Repository Link back into the 
			      record for the user. 
			 </p>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="how-do-i-announce-cui-ouo-eci"></a><span class="faq-page-subtitle">How do I announce CUI, OUO, or ECI software to OSTI?</span>
	       <blockquote class="faq-page-blockquote">
		    <div>
			 <p>
			      The Beta version of DOE CODE is designed to support submission and announcement of DOE-funded unlimited availability software 
			      (including closed source, proprietary software). Announcement and discovery of Controlled Unclassified Information (CUI), including 
			      DOE Official Use Only (OUO) and Export Controlled Information (ECI), are not included in the Alpha version of DOE CODE. Beta/future 
			      versions of DOE CODE will address submission of limited availability software. Until then, please continue to utilize Announcement 
			      Notice 241.4 for submission of limited availability software. If you are unsure of the software sensitivity, please work with your 
			      site's Dissemination Authority.
			 </p>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-is-a-yaml"></a><span class="faq-page-subtitle">What is a YAML file? How do I auto populate the YAML file?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>
			 <a title="YAML" target='_blank' rel="noopener noreferrer" href="http://www.yaml.org/start.html">YAML</a> is a human friendly data 
			 serialization standard for all programming languages. DOE CODE provides functionality to allow users to 
			 auto-populate metadata in DOE CODE by placing a specifically formatted YAML file in their repository's root main 
			 directory. The file must be named "metadata.yml" or "doecode.yml", and the file must be formatted correctly.&nbsp;
			 <a title="YAML Schema" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode/doecode/tree/master/metadata-schema">See detailed YAML information and an example file.</a>
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-are-the-categories"></a><span class="faq-page-subtitle">What are the Categories of Software?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>Different categories of software have different distribution requirements, limitations, and appropriate distribution channels, 
			 which are defined in the&nbsp;
			 <a title="Software Categories" target='_blank' rel="noopener noreferrer" href="https://www.osti.gov/stip/softwarecategories">Software Categories</a>&nbsp;table. 
			 The table is not intended to provide an exhaustive list.

		    </p>
		    <p>
			 In cases where a Repository Link from which OSTI can access and archive software is not available, the software itself should be submitted to OSTI along with associated metadata.
			 For submission of limited availability software, please continue to utilize Announcement Notice 241.4 via <a href="https://www.osti.gov/elink/" target="_blank" rel="noopener noreferrer">E-Link</a>. 
			 Beta/Future versions of DOE CODE will address submission of 
			 limited availability software.
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="do-i-need-account"></a><span class="faq-page-subtitle">Do I need an account to use DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>
			 A DOE CODE account is not needed to search for DOE-funded software, but an account is needed to provide scientific and business software. 
			 Users meeting minimum criteria can directly create a DOE CODE account. All you need is your first and last name, government email address 
			 or valid contract number, and a password.
			 <br/>
			 <br/>
			 Both of the repository services we provide require a separate account in addition to the account for submitting or announcing to DOE 
			 CODE. To use repositories on OSTI's GitLab installation and DOE CODE GitHub, those interested must request an account by filling out 
			 the <a href='/${app_name}/gitlab-signup'>request form</a>. 
			 DOE CODE Product Manager(s) will follow up with the requester.
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-is-a-doi"></a><span class="faq-page-subtitle">What is a Digital Object Identifier (DOI)?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>
			 What is a Digital Object Identifier (DOI)? A DOI is a unique persistent identifier that references a digital object and provides long 
			 term access; DOIs remain stable even if the underlying address or URL for the content changes. OSTI is a member of and registering 
			 agency for DataCite and has the authority to assign Digital Object Identifiers to software and code that are submitted by DOE and 
			 its contractors or grantees. The assigning and registration of a DOI for software is a free service provided by OSTI to enhance DOE's 
			 management of this important resource.
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="what-are-the-benefits"></a>
	       <span class="faq-page-subtitle">What are the benefits of getting a DOI for code or software?</span>
	       <blockquote class="faq-page-blockquote"><div>
			 <ul>
			      <li>Announcing and registering code or software with DOIs enables researchers, especially future researchers, to more easily discover, access, and reuse the code or software for verification of the original experiment and to produce new results with the latest methods.</li>
			      <li>DOIs facilitate accurate linkage between a document or published article and the specific underlying code or software.</li>
			      <li>DOIs make code easy to cite in a standardized way (DOIs have become recognizable as pointers to important information around the globe), encouraging authors to include this step in their writing/publishing activities.</li>
			      <li>Enabling your code or software to be easily citable means that code developers, contributors, and others involved in the development, but not necessarily in the authoring of a publication, can receive proper attribution.</li>
			      <li>DOIs are designed to be more stable and persistent links than normal URLs. Registering the DOI with an international organization such as DataCite provides global resolving and the prospect of steadily increasing visibility of your research.</li>
			 </ul>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="removal"></a><span class="faq-page-subtitle">What if I need to have a project removed from DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>
			 To have a project removed from DOE CODE, please contact&nbsp;<a title="Email doecode@osti.gov" href="mailto:doecode@osti.gov">doecode@osti.gov</a>.
		    </p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="advanced-search"></a><span class="faq-page-subtitle">How do I use the Advanced Search?</span>
	       <blockquote class="faq-page-blockquote">
		    <div>
			 The advanced search will allow you to perform more complex searches and retrieve more specific results, offering you a number of fields, 
			 such as Title, Developer(s), or Release date to help you refine your search results.
			 <br/>
			 <br/>
			 <div style="padding-left: 40px;">
			      <strong>All Fields</strong>
			      <br/>
			      Searches all bibliographic data.
			      <br/>
			      <br/>
			      <strong>Software Title</strong>
			      <br/>
			      Searches only software titles.
			      <br/>
			      <br/>
			      <strong>Developers</strong>
			      <br/>
			      Searches all developer names, including ORCID if available.
			      <br/>
			      <br/>
			      <strong>Identifier Numbers</strong>
			      <br/>
			      Searches for all identifying numbers, including DOE contract number, report number, non-DOE contract/award numbers, or other 
			      identifying numbers such as DOI.
			      <br/>
			      <br/>
			      <strong>Release Date</strong>
			      <br/>
			      Searches for articles that were released within a specified timeframe. Select the starting date or ending date from the drop 
			      down calendar OR type MM/DD/YYYY, e.g. 01/01/2014.
			      <br/>
			      <br/>
			      <strong>Project Type</strong>
			      <br/>
			      Searches the fields for Open Source, Publicly Available; Open Source, Not Publicly Available; Closed Source, Site Hosted; and Closed Source, OSTI Hosted.
			      <br/>
			      <br/>
			      <strong>Licenses</strong>
			      <br/>
			      Searches by names of licenses.
			      <br/>
			      <br/>
			      <strong>Research Organization</strong>
			      <br/>
			      Searches by the name(s) of the organization(s) that was funded and developed the software.
			      <br/>
			      <br/>
			      <strong>Sponsoring Organization</strong>
			      <br/>
			      Searches the name(s) of the DOE program office(s) or other organizations that provided the funding for the development contributing 
			      to the software.
			      <br/>
			      <br/>
			      <strong>Sort</strong>
			      <br/>You can choose for your results to be sorted by Relevance, Release Date (newest to oldest) or Release Date (oldest to newest).
			 </div>
			 <br/>
		    </div>
	       </blockquote>
	  </div>
	  <div>
	       <a name="are-there-apis"></a><span class="faq-page-subtitle">Are there APIs available for DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>Yes, there are lots of APIs with stable endpoints. For more information, see the&nbsp;<a title="API Documentation" target='_blank' rel="noopener noreferrer" href="{{api_url}}docs">API documentation</a>.</p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="do-i-need-cookies"></a><span class="faq-page-subtitle">Do I need to have cookies enabled to use DOE CODE?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>Yes, you must select Accept All Cookies. Please see our&nbsp;<a title="Website Policies / Important Links" href="/${app_name}/disclaimer">Website Policies/Important Links</a>&nbsp;for further information.</p>
	       </blockquote>
	  </div>
	  <div>
	       <a name="more-info"></a><span class="faq-page-subtitle">How can I find out more?</span>
	       <blockquote class="faq-page-blockquote">
		    <p>For additional assistance,&nbsp;<a title="Email doecode@osti.gov" href="mailto:doecode@osti.gov">Contact Us</a>.</p>
	       </blockquote>
	  </div>
     </div>
     <div class="col-lg-3 col-md-1"></div>
</div>

{{> wrapper/footer}}
