{{> wrapper/header}}
<style type="text/css">
    h3.static.subtitle,ul.toc.list > li > a,.faq-blue{
        color: rgb(49, 112, 143);
    }
    h3.static.subtitle {
        font-weight: 400;
        font-size: 19.8833px;
    }
    ul.toc.list > li > a{
        font-size: 17px;
    }
    blockquote.answer{
        font-size: 17px;
        color: rgb(51, 51, 51);
    }
</style>
<div class="row not-so-wide-row">
    <div class="col-lg-3 col-md-1"></div>

    <div class="col-lg-6 col-md-10 col-xs-12 static-content">
        <h1 class="static-content-title">FAQs</h1>
        <br />
        <h2 class='static'>General FAQs</h2>
        <ul class='toc list'>
            <li>
                <a title="What is DOE CODE?" href="#what-is">
                    What is DOE CODE?
                </a>
            </li>
            <li>
                <a title="How is the DOE CODE software submission and search tool different from DOE CODE Github?" href="#how-is-it-different">
                    How is the DOE CODE software submission and search tool different from 
                </a>
                <a title="DOE CODE Github" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode" style="text-decoration:underline;">DOE CODE GitHub</a>
                <a title="How is the DOE CODE software submission and search tool different from DOE CODE Github?" href="#how-is-it-different">?</a>
            </li>
            <li>
                <a title="What does DOE CODE contain?" href="#what-does-it-contain">What does DOE CODE contain?</a>
            </li>
            <li>
                <a title="Is DOE CODE connected to Code.gov?" href="#is-it-connected-to-codegov">Is DOE CODE connected to Code.gov?</a>
            </li>
            <li>
                <a title="Does DOE CODE provide repository services?" href="#what-does-it-provide">Does DOE CODE provide repository services?</a>
            </li>
            <li>
                <a title="What are the Project Types found in DOE CODE?" href="#what-are-the-types">What are the Project Types found in DOE CODE?</a>
            </li>
            <li>
                <a title="Why is uploading code required for certain Project Types?" href="#why-is-uploading-code-required-for-certain-project-types">Why is uploading code required for certain Project Types?</a>
            </li>
            <li>
                <a title="Are there restrictions on the use of the material in DOE CODE?" href="#are-there-restrictions">Are there restrictions on the use of the material in DOE CODE?</a>
            </li>
            <li>
                <a title='How do I access the code/software from DOE CODE records?' href='#how-do-i-access-the-code-from-doe-code-records'>How do I access the code/software from DOE CODE records?</a>
            </li>
        </ul>
        <h2 class='static'>Submission FAQs</h2>
        <ul class='toc list'>
            <li>
                <a title="How is scientific software provided to DOE CODE?" href="#how-is-software-submitted">How is scientific software provided to DOE CODE?</a>
            </li>
            <li>
                <a title="What does it mean to submit scientific software to DOE CODE?" href="#what-does-it-mean-to-submit">What does it mean to submit scientific software to DOE CODE?</a>
            </li>
            <li>
                <a title="What does it mean to announce scientific software to DOE CODE?" href="#what-does-it-mean-to-announce">What does it mean to announce scientific software to DOE CODE?</a>
            </li>
            <li>
                <a title="How is business software provided to DOE CODE?" href="#how-is-business-software-provided-to-doe-code">How is business software provided to DOE CODE?</a>
            </li>
            <li>
                <a title="What does it mean to submit business software to DOE CODE?" href="#what-does-it-mean-to-submit-business-software-to-doe-code">What does it mean to submit business software to DOE CODE?</a>
            </li>
            <li>
                <a title="What does it mean to announce business software to DOE CODE?" href="#what-does-it-mean-to-announce-business-software-to-doe-code">What does it mean to announce business software to DOE CODE?</a>
            </li>
            <li>
                <a title='Is a license required when providing software to DOE CODE?' href='#is-a-license-required-when-providing-software-to-doe-code'>Is a license required when providing software to DOE CODE?</a>
            </li>
            <li>
                <a title='What is a landing page?' href='#what-is-a-landing-page'>What is a landing page?</a>
            </li>
            <li>
                <a title="Can I add a new or previous version of software I have previously submitted or announced to DOE CODE?" href="#can-i-add-new-or-previous-version-of-software">Can I add a new or previous version of software I have previously submitted or announced to DOE CODE?</a>
            </li>
            <li>
                <a title="Can I submit a tagged release as an individual record to DOE CODE?" href="#can-i-submit-a-tagged-release-as-an-individual-record-to-doe-code">Can I submit a tagged release as an individual record to DOE CODE?</a>
            </li>
            <li>
                <a title="Can I see the status and availability of my submitted/announced records?" href="#can-i-see-the-status-and-availability">Can I see the status and availability of my submitted/announced records?</a>
            </li>
            <li>
                <a title="Does DOE CODE archive software?" href="#does-doe-code-archive">Does DOE CODE archive software?</a>
            </li>
            <li>
                <a title="Does DOE CODE support the upload of container images as part of the submission/announcement process?" href="#does-doe-code-support-upload-of-container-images">Does DOE CODE support the upload of container images as part of the submission/announcement process?</a>
            </li>
            <li>
                <a title="What is an access limitation?" href="#what-is-an-access-limitation">What is an access limitation?</a>
            </li>
            <li>
                <a title="How do I announce software with an access limitation, such as Controlled Unclassified Information (CUI), to OSTI?" href="#how-do-i-announce-software-with-an-access-limitation-to-osti">How do I announce software with an access limitation, such as Controlled Unclassified Information (CUI), to OSTI?</a>
            </li>
            <li>
                <a title="What if I need to change the access limitation of a project?" href="#what-if-i-need-to-change-the-access-limitation-of-a-project">What if I need to change the access limitation of a project?</a>
            </li>
            <li>
                <a title="What is a YAML file? How do I auto populate the YAML file?" href="#what-is-a-yaml">What is a YAML file? How do I auto populate the YAML file?</a>
            </li>
            <li>
                <a title="Do I need an account to use DOE CODE?" href="#do-i-need-account">Do I need an account to use DOE CODE?</a>
            </li>
            <li>
                <a title="What is a Digital Object Identifier (DOI)?" href="#what-is-a-doi">What is a Digital Object Identifier (DOI)?</a>
            </li>
            <li>
                <a title="What are the benefits of getting a DOI for code or software?" href="#what-are-the-benefits">What are the benefits of getting a DOI for code or software?</a>
            </li>
            <li>
                <a title="What if I need to have a project removed from DOE CODE?" href="#removal">What if I need to have a project removed from DOE CODE?</a>
            </li>
        </ul>
        <h2 class='static'>Search FAQs</h2>
        <ul class='toc list'>
            <li>
                <a title="How do I search DOE CODE?" href="#search">How do I search DOE CODE?</a>
            </li>
            <li>
                <a title="How do I use the Advanced Search?" href="#advanced-search">How do I use the Advanced Search?</a>
            </li>
            <li>
                <a title="What information is found on the Full Project page in DOE Code?" href="#information">What information is found on the Full Project page in DOE Code?</a>
            </li>
            <li>
                <a title="Can I sort or refine my results?" href="#sort-or-refine">Can I sort or refine my results?</a>
            </li>
            <li>
                <a title="Can I save or download the results of a search?" href="#save-or-download">Can I save or download the results of a search?</a>
            </li>
            <li>
                <a title="Are there APIs available for DOE CODE?" href="#are-there-apis">Are there APIs available for DOE CODE?</a>
            </li>
            <li>
                <a title="Do I need to have cookies enabled to use DOE CODE?" href="#do-i-need-cookies">Do I need to have cookies enabled to use DOE CODE?</a>
            </li>
            <li>
                <a title="What if I have more questions?" href="#more-info">What if I have more questions?</a>
            </li>
        </ul>

        <br />
        {{!-- General FAQs --}}
        <h2 class='static'>General FAQs</h2>
        <div>
            <a name="what-is"></a>
            <h3 class='static subtitle'>What is DOE CODE?</h3>
            <blockquote class="answer">
                <p>
                    DOE CODE is the U.S. Department of Energy's (DOE) software services platform and search tool for software resulting from DOE-funded research that 
                    provides functionality for collaboration, archiving, and discovery of scientific and business software funded by DOE. DOE CODE is an open source 
                    project and is available on <a href='https://github.com/doecode/' rel='noopener noreferrer' target='_blank'>GitHub</a>. 
                    Throughout these FAQs, the terms "software" and "code" are used interchangeably, though it is understood there are discrete definitions in 
                    various communities.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="how-is-it-different"></a>
            <h3 class='static subtitle'>
                How is the DOE CODE software submission and search tool different from 
                <a title="DOE CODE Github" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode" style="text-decoration:underline;">DOE CODE GitHub</a>
                <span class='subtitle'>?</span>
            </h3>
            <blockquote class="answer">
                <p>
                    DOE CODE is a platform for the submission or announcement and search of software resulting from DOE-funded research, 
                    and is available as an open source project at GitHub.
                    <br />
                    <br />
                    The <a href='https://github.com/doecode/' rel='noopener noreferrer' target='_blank'>DOE CODE GitHub Community</a> 
                    is a repository option available to DOE-funded developers. This community is open to registered users of DOE CODE, and those users can create 
                    and import their own repositories after registration. This service is provided by OSTI in recognition of the fact that many developers prefer 
                    to house and manage their projects on GitHub. DOE CODE is an open source project and is also available on GitHub. 
                    <br />
                    <br />
                    Users may request to join the DOE CODE GitHub community by completing the 
                    <a href='/${app_name}/repository-services' title='DOE CODE Repositories Services Access Request'>DOE CODE Repositories Services Access Request</a>.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="what-does-it-contain"></a>
            <h3 class='static subtitle'>What does DOE CODE contain?</h3>
            <blockquote class="answer">
                <p>
                    DOE CODE contains records for DOE-funded scientific and business software with unlimited availability. 
                    DOE CODE links to the software, code repository, or project contact information. The repositories may also include manuals, examples, test data, etc.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="is-it-connected-to-codegov"></a>
            <h3 class='static subtitle'>Is DOE CODE connected to Code.gov?</h3>
            <blockquote class="answer">
                <p>
                    To fulfill Departmental requirements to maintain an inventory of all DOE-funded custom-developed software and report this inventory to the 
                    government-wide <a href='https://code.gov/' title='Code.gov' rel='noopener noreferrer' target='_blank'>Code.gov</a> website, metadata for all scientific and non-scientific (e.g., business) software should be provided to DOE CODE. 
                    This inventory will foster scientific progress, provide transparency to and promote public understanding and use of DOE-funded open source software (OSS), 
                    and enable DOE to fulfill requirements for government-wide reporting of custom-developed software to Code.gov.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="what-does-it-provide"></a>
            <h3 class='static subtitle'>Does DOE CODE provide repository services?</h3>
            <blockquote class="answer">
                <p>
                    Yes. DOE CODE provides repository hosting services for the DOE community 
                    via <a href='https://github.com/doecode/doecode' title='GitHub' rel='noopener noreferrer' target='_blank'>GitHub</a> and <a href='https://gitlab.osti.gov/users/sign_in' title='GitLab' rel='noopener noreferrer' target='_blank'>GitLab</a>. 
                    GitHub repository services are for those who want typical GitHub open source project functionality. OSTI's GitLab repository service offers the same 
                    functionality as the GitHub repository service, but can accommodate open or closed repositories for unlimited availability software and allow more 
                    control of the code.
                    <br />
                    <br />
                    If you choose to host your code using one of these repository services, you will still need to separately submit or announce your project using the DOE CODE submission form.
                    <br />
                    <br />
                    If you are interested in using the GitHub or GitLab repository services and would like to join the DOE CODE GitHub community, 
                    please complete the <a href='/${app_name}/repository-services' title='DOE CODE Repositories Services Access Request'>DOE CODE Repositories Services Access Request</a>. 
                    For any questions about the repository services, contact <a href='mailto:doecoderepositories@osti.gov'>doecoderepositories@osti.gov</a>.
                </p>

            </blockquote>
        </div>
        <div>
            <a name="what-are-the-types"></a>
            <h3 class='static subtitle'>What are the Project Types found in DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    <strong>Open Source, Publicly Available Repository (OS-PAR)</strong>&nbsp;- Software can be freely accessed, used, changed and shared
                    (in modified or unmodified form) by anyone in a public repository. Open Source software is made by many people and distributed
                    under licenses that comply with the Open Source definition.
                    Visit the <a title="Open Source Initiative" target='_blank' rel="noopener noreferrer" href="https://opensource.org/">Open Source Initiative</a>
                    for more information and definitions. A Repository URL, where the source code is available, is required for providing Open Source, 
                    Publicly Available Repository code.
                    <br />
                    <br />
                    <strong>Open Source, No Publicly Available Repository (OS-NPAR)</strong>&nbsp;- Software is Open Source but is not yet available in a public repository. 
                    Interested users can contact the developer(s) or responsible parties for information regarding access and (re)use. 
                    A landing page URL is required for providing Open Source, no Publicly Available Repository code; the URL should provide additional information on how 
                    to obtain access to the code. When announcing codes of this Project Type, uploading the source code is required. This requirement is for preservation 
                    purposes only, i.e., not for distribution by OSTI.
                    <br />
                    <br />
                    <strong>Closed Source (CS)</strong>&nbsp;- Software is not Open Source, and access must be granted by contacting a licensing official. 
                    Software is often Closed Source because it is proprietary or has otherwise been deemed appropriate for limited distribution only. 
                    A landing page URL or contact email is required when providing Closed Source code; the URL should provide additional information on how to 
                    obtain access to the code. If providing a contact email address, we recommend using a general software group email for your site if available.
                </div>
            </blockquote>
        </div>
        <div>
            <a name="why-is-uploading-code-required-for-certain-project-types"></a>
            <h3 class='static subtitle'>Why is uploading code required for certain Project Types?</h3>
            <blockquote class="answer">
                <p>
                    The source code is required for announcing codes with Project Types OS-NPAR and CS. For Project Type CS, compiled binary may be provided 
                    only if the code is not available. The code is required for preservation purposes only, i.e., not for distribution by OSTI. (See also 
                    "<a title='Project Types' href='#what-are-the-types'>What are the Project Types found in DOE CODE?</a>", "What does it mean to 
                    <a title='Submit Scientific Software' href='#what-does-it-mean-to-submit'>submit</a> 
                    / <a title='Announce Scientific Software' href='#what-does-it-mean-to-announce'>announce</a> 
                    scientific software to DOE CODE?", and "What does it mean to 
                    <a title='Submit Business Software' href='#what-does-it-mean-to-submit-business-software-to-doe-code'>submit</a> 
                    / <a title='Announce Business Software' href='#what-does-it-mean-to-announce-business-software-to-doe-code'>announce</a>
                    business software to DOE CODE?")
                </p>
            </blockquote>
        </div>
        <div>
            <a name="are-there-restrictions"></a>
            <h3 class='static subtitle'>Are there restrictions on the use of the material in DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    <p>There may be restrictions on use of the material based on the associated license(s). Currently, DOE CODE supports the following list of Open Source licenses:</p>
                    <div>
                        <ul>
                            <li>
                                <a title="Apache License 2.0" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/Apache-2.0">Apache License 2.0</a>
                            </li>
                            <li>
                                <a title="GNU General Public License v3.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/quick-guide-gplv3.html">GNU General Public License v3.0</a>
                            </li>
                            <li>
                                <a title="MIT License" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/MIT">MIT License</a>
                            </li>
                            <li>
                                <a title="BSD 2-clause &quot;simplified&quot; License" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/BSD-2-Clause">BSD 2-clause "simplified" License</a>
                            </li>
                            <li>
                                <a title="BSD 3-clause &quot;New&quot; or &quot;Revised&quot; License" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/BSD-3-Clause">BSD 3-clause "New" or "Revised" License</a>
                            </li>
                            <li>
                                <a title="Eclipse Public License 1.0" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/EPL-1.0">Eclipse Public License 1.0</a>
                            </li>
                            <li>
                                <a title="GNU Affero General Public License v3.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/licenses.html#AGPL">GNU Affero General Public License v3.0</a>
                            </li>
                            <li>
                                <a title="GNU General Public License v2.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/old-licenses/lgpl-2.0.html">GNU General Public License v2.0</a>
                            </li>
                            <li>
                                <a title="GNU General Public License v1.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/old-licenses/gpl-1.0.html">GNU General Public License v1.0</a>
                            </li>
                            <li>
                                <a title="GNU Lesser General Public License v2.1" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">GNU Lesser General Public License v2.1</a>
                            </li>
                            <li>
                                <a title="GNU Lesser General Public License v3.0" target='_blank' rel="noopener noreferrer" href="https://www.gnu.org/licenses/licenses.html#LGPL">GNU Lesser General Public License v3.0</a>
                            </li>
                            <li>
                                <a title="Mozilla Public License 2.0" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/MPL-2.0">Mozilla Public License 2.0</a>
                            </li>
                            <li>
                                <a title="The Unlicense" target='_blank' rel="noopener noreferrer" href="http://unlicense.org/">The Unlicense</a>
                            </li>
                        </ul>
                        More information regarding these licenses can also be found at the
                        <a title="Open Source Initiative" target='_blank' rel="noopener noreferrer" href="https://opensource.org/licenses/alphabetical">Open Source Initiative - Licenses by Name</a>.
                        <br />
                        <br />
                        If you choose to use a license not in the above list, you may select "Other" and provide a URL to the landing page of the license.
                    </div>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="how-do-i-access-the-code-from-doe-code-records"></a>
            <h3 class='static subtitle'>How do I access the code/software from DOE CODE records?</h3>
            <blockquote class="answer">
                <p>
                    DOE CODE does not directly disseminate software projects. Access to the software/code is provided by the originating site. 
                    From the DOE CODE software record page, OSTI provides a link directly to a landing page or repository depending on the project type, 
                    or provides the contact email for users to reach out to the developer or developing organization to request access to the software.
                </p>
            </blockquote>
        </div>
        <br />
        {{!-- Submission FAQs --}}
        <h2 class='static'>Submission FAQs</h2>
        <div>
            <a name="how-is-software-submitted"></a>
            <h3 class='static subtitle'>How is scientific software provided to DOE CODE?</h3>
            <blockquote class="answer">
                <p>
                    Individual software records and associated metadata are directly provided by the developer or the developing organization to DOE through DOE CODE. 
                    When an individual software record is associated with a DOE national laboratory, the laboratory points of contact will be notified of the record 
                    submission or announcement.
                </p>
                <p>
                    When providing software to DOE CODE, users will first need to identify what type of software they are providing - scientific or business software. 
                    Users who are unsure of the type of software are encouraged to work with their site's 
                    <a href='https://www.osti.gov/stip/about/stip-community#SoftwareContacts' rel='noopener noreferrer' target='_blank'>software point of contact</a>.
                </p>
                <p>
                    In cases where a Repository URL from which OSTI can access and archive software is not available, the software itself (an uploaded source code file) 
                    should be submitted to OSTI along with associated metadata. For submission of limited availability software, an access limitation and information 
                    pertaining to the limitation (such as OUO exemption number) must be provided upon submission.
                </p>
                <br />
                <strong>Providing Scientific Software to DOE CODE</strong>
                <p>
                    DOE CODE offers two paths for users to provide scientific software. Users can (1) submit code to DOE CODE, and/or (2) announce code
                    to the Department of Energy for official review and release through DOE CODE. For more information about submitting and announcing
                    code, see the
                    "<a title="What does it mean to submit scientific software to DOE CODE?" href="#what-does-it-mean-to-submit">What does it mean to submit scientific software to DOE CODE?</a>"
                    ,
                    "<a title="What does it mean to announce scientific software to DOE CODE?" href="#what-does-it-mean-to-announce">What does it mean to announce scientific software to DOE CODE?</a>"
                    and <a href='help' title='Help'>Help</a>.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="what-does-it-mean-to-submit"></a>
            <h3 class='static subtitle'>What does it mean to submit scientific software to DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    <p>
                        Submission of scientific software to DOE CODE is for code in early development, which can be shared with unlimited distribution only, 
                        and for those who wish to obtain a DOI early in the process. (See also "<a title="What is a Digital Object Identifier" href="#what-is-a-doi">What is a Digital Object Identifier (DOI)?</a>") 
                        Software that has an <a href="/${app_name}/help#access-limitations" title="Access Limitation">access limitation</a> (OUO, CUI, etc.) cannot be provided via the submission process; 
                        it must go through the <a href='#announcing-software-flowchart' title="DOE CODE Announcement Process">DOE CODE announcement process</a>. Submitting scientific code to DOE CODE is easy, with only a minimal set of metadata required.
                    </p>
                    <div>
                        Requirements to Submit Scientific Software to DOE CODE:
                        <ul>
                            <li>Project Type</li>
                            <li>Repository URL;* Landing Page;** Contact Email**</li>
                            <li>Software Title</li>
                            <li>Description/Abstract</li>
                            <li>License(s)***</li>
                            <li>Developers</li>
                        </ul>
                    </div>
                    <br/>
                    <p>
                        *Currently only Git and SVN-based repositories are supported. Most repositories hosted at GitHub, Bitbucket, SourceForge, and GitLab
                        support Git and SVN-based repositories. When submitting a repository, users should be certain to use the direct URL to the actual
                        repository. As an example, the direct Repository URL for DOE CODE is 
                        <a title="DOE CODE Github" target='_blank' rel="noopener noreferrer" href='https://www.github.com/doecode/doecode'>https://www.github.com/doecode/doecode</a>
                        whereas the project landing page is 
                        <a title='DOE CODE Github Landing Page' target='_blank' rel='noopener noreferrer' href='https://www.github.com/doecode'>https://www.github.com/doecode</a>. 
                        Users can also submit a tagged release of code as an individual record by providing the URL specific to that release in GitHub. 
                        As an example, the tagged release URL 
                        <a title='DOE CODE Server release 2.0.1' target='_blank' rel='noopener noreferrer' href="https://github.com/doecode/server/releases/tag/v2.0.1">https://github.com/doecode/server/releases/tag/v2.0.1</a> 
                        can be submitted as a valid Repository URL to DOE CODE.
                    </p>
                    <p>
                        **A landing page or valid contact email address is required when submitting or announcing Closed Source code. 
                        This page should provide additional information on how to obtain access to the code. For more information on landing pages, 
                        please see FAQ "<a href='#what-is-a-landing-page'>What is a landing page?</a>". 
                        If providing a contact email address, we recommend using a general software group email for your site if available.
                    </p>
                    <p>
                        ***For Closed Source software, you will be required to provide a License URL, in which valid contact information is available on the page 
                        OR provide a valid contact email address.
                    </p>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="what-does-it-mean-to-announce"></a>
            <h3 class='static subtitle'>What does it mean to announce scientific software to DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    <p>
                        Users may need to announce their scientific code to the Department of Energy to ensure announcement and dissemination in accordance with DOE 
                        statutory responsibilities. The announcement process is for code in later stages of development that has completed internal review and release 
                        processes. For announcement to the Department of Energy, there are basic requirements for metadata fields; however, 
                        other optional/non-mandatory data fields should be included during announcement when possible. For more detail, 
                        see <a href='#announcing-software-flowchart' title="Announcing Software to DOE CODE">Announcing Software to DOE CODE</a> flowchart.
                    </p>
                    <div>
                        DOE national laboratories, DOE facilities, and DOE contractors who have developed and/or modified software during work supported by DOE or 
                        during work carried out for others at DOE facilities are required to announce a record of the software to the Department of Energy, 
                        if the software meets the following criteria:
                        <ul>
                            <li>the software meets the definition of&nbsp;<a title="STI" target='_blank' rel="noopener noreferrer" href="https://www.osti.gov/stip/about/sti-defined">STI</a>;</li>
                            <li>the software is known or expected to be useful inside or outside the DOE community, or is not specific to the originating site;</li>
                            <li>a stable, usable, documented version of the software exists (i.e., the software is not under initial development); and</li>
                            <li>the software has undergone all appropriate reviews for sensitivity and export control.</li>
                        </ul>
                    </div>
                    <br />
                    <div>
                        Scientific software that meets the following criteria need not be announced to the Department of Energy:
                        <ul>
                            <li>
                                operational systems software that is site-specific, unique to a hardware, or necessary to ensure the fundamental
                                operability of automated data processing equipment, whether supplied by the manufacturer of the system hardware or others;
                            </li>
                            <li>
                                computer software programs developed and/or modified during work carried out for others at DOE facilities that are
                                specifically excluded in the agreement under which the non-DOE funded work was performed;
                            </li>
                            <li>
                                software generated under the auspices of the Energy Information Administration; and
                            </li>
                            <li>
                                specific software used by power administrations for the operation, control, planning, and modeling of electric power
                                transmission systems and the interconnected utilities; however, modifications/enhancements to portions of this software
                                that are not an integral part of the whole and have potential application outside the power administrations should be
                                announced.
                            </li>
                        </ul>
                    </div>
                    <br />
                    <div>
                        Requirements to Announce Scientific Software to the Department of Energy through DOE CODE:<ul>
                            <li>Project Type</li>
                            <li>Repository URL;* Landing Page;** Contact Email**</li>
                            <li>Software Title</li>
                            <li>Description/Abstract</li>
                            <li>License(s)***</li>
                            <li>Release Date</li>
                            <li>Access Limitation****</li>
                            <li>Developers</li>
                            <li>Source Code or Compiled Binary*****</li>
                            <li>Sponsoring Organization Name</li>
                            <li>Primary Award Number</li>
                            <li>Research Organization Name</li>
                            <li>Contact Information</li>
                        </ul>
                    </div>
                    <p>
                        In addition to the basic requirements for metadata fields (above), other optional/non-mandatory data fields should be included
                        during announcement when possible.
                        <br />
                        <br />
                        *Currently only Git and SVN-based repositories are supported. Most repositories hosted at GitHub, Bitbucket, SourceForge, and GitLab
                        support Git and SVN-based repositories. When submitting a repository, users should be certain to use the direct URL to the actual
                        repository. As an example, the direct Repository URL for DOE CODE is 
                        <a title="DOE CODE Github" target='_blank' rel="noopener noreferrer" href='https://www.github.com/doecode/doecode'>https://www.github.com/doecode/doecode</a>
                        whereas the project landing page is 
                        <a title='DOE CODE Github Landing Page' target='_blank' rel='noopener noreferrer' href='https://www.github.com/doecode'>https://www.github.com/doecode</a>.
                        Users can also submit a tagged release of code as an individual record by providing the URL specific to that release in GitHub. 
                        As an example, the tagged release URL 
                        <a title='DOE CODE Server release 2.0.1' target='_blank' rel='noopener noreferrer' href="https://github.com/doecode/server/releases/tag/v2.0.1">https://github.com/doecode/server/releases/tag/v2.0.1</a> 
                        can be submitted as a valid Repository URL to DOE CODE.
                    </p>
                    <p>
                        **A landing page or valid contact email address is required when submitting or announcing Closed Source. 
                        This page should provide additional information on how to obtain access to the code. For more information on landing pages, 
                        please see FAQ "<a href='#what-is-a-landing-page'>What is a landing page?</a>". 
                        If providing a contact email address, we recommend using a general software group email for your site if available.
                    </p>
                    <p>
                        ***For Closed Source software, you will be required to provide a License URL, in which valid contact information is available on the page 
                        OR provide a valid contact email address.
                    </p>
                    <p>
                        ****For Closed Source software, an access limitation is required. If an access limitation <strong>other</strong> than UNL is selected, there may be additional 
                        required and optional metadata fields pertaining to the specific limitation. The <a href="/${app_name}/help#access-limitations" title="Access Limitation">Access Limitations</a>
                        table provides detailed descriptions of the access limitations.
                    </p>
                    <p>
                        *****The source code is required when announcing code with Project Types OS-NPAR and CS. For Project Type CS, compiled binary may be provided only if the code is not available. 
                        The code is required for preservation purposes only, i.e., not for distribution by OSTI.
                    </p>
                    <p>
                        <span class='bold-text'>OS-NPAR</span> - Refers to the Open Source, No Public Repository (OS NPAR) Project Type
                        <br/>
                        <span class='bold-text'>CS</span> - Refers to the Closed Source (CS) Project Type
                    </p>
                    <a name='announcing-software-flowchart'></a>
                    <div class="center-text" style="padding-top:15px;">
                        <img alt="Announcing Software Flowchart" class="img-responsive" src="/${app_name}/images/FAQs/announcing-software-flowchart.png" style='max-width:100%;'/>
                    </div>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="how-is-business-software-provided-to-doe-code"></a>
            <h3 class='static subtitle'>How is business software provided to DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    <p>
                        To efficiently fulfill Departmental requirements to maintain an inventory of all DOE-funded custom-developed software and report 
                        this inventory to the government-wide <a href='https://code.gov/' title='Code.gov' rel='noopener noreferrer' target='_blank'>Code.gov</a> website, 
                        metadata for all scientific and non-scientific (e.g., business) software 
                        should be provided to DOE CODE. This inventory will foster scientific progress, provide transparency to and promote public uptake of 
                        DOE-funded open source software (OSS), and enable DOE to fulfill requirements for government-wide reporting of custom-developed 
                        software to Code.gov.
                    </p>
                    <p>
                        DOE CODE offers two paths for users to provide business software. Users can (1) submit code to DOE CODE, and/or (2) announce code to the 
                        Department of Energy for official review and release through DOE CODE. For more information about submitting and announcing code,
                        see the "<a href='#what-does-it-mean-to-submit-business-software-to-doe-code' title='What does it mean to submit business software to DOE CODE?'>What does it mean to submit business software to DOE CODE?</a>" , "
                        <a href="#what-does-it-mean-to-announce-business-software-to-doe-code" title='What does it mean to announce business software to DOE CODE'>What does it mean to announce business software to DOE CODE?</a>"
                        and <a href='help' title='Help'>Help</a>.
                    </p>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="what-does-it-mean-to-submit-business-software-to-doe-code"></a>
            <h3 class='static subtitle'>What does it mean to submit business software to DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    <p>
                        Submission of business software to DOE CODE is for code in early development, which can be shared with unlimited distribution only, 
                        and for those who wish to obtain a DOI early in the process. 
                        (See also "<a href='#what-is-a-doi' title='What is a Digital Object Identifier (DOI)?'>What is a Digital Object Identifier (DOI)?</a>") 
                        Software that has an <a href="/${app_name}/help#access-limitations" title="Access Limitation">access limitation</a> (OUO, CUI, etc.) cannot be provided via the submission process; 
                        it must go through the <a href='#announcing-software-flowchart' title="DOE CODE Announcement Process">DOE CODE announcement process</a>. 
                        Submitting business code to DOE CODE requires a minimal set of metadata.
                    </p>
                    <div>
                        Requirements to Submit Business Software to DOE CODE:
                        <ul>
                            <li>Project Type</li>
                            <li>Repository URL;* Landing Page;** Contact Email**</li>
                            <li>Software Title</li>
                            <li>Description/Abstract</li>
                            <li>License(s)***</li>
                            <li>Developers</li>
                        </ul>
                    </div>
                    <br/>
                    <p>
                        *Currently only Git and SVN-based repositories are supported. Most repositories hosted at GitHub, Bitbucket, SourceForge, and 
                        GitLab support Git and SVN-based repositories. When submitting a repository, users should be certain to use the direct URL to 
                        the actual repository. As an example, the direct Repository URL for DOE CODE is 
                        <a title="DOE CODE Github" target='_blank' rel="noopener noreferrer" href='https://www.github.com/doecode/doecode'>https://www.github.com/doecode/doecode</a>
                        whereas the project landing page is 
                        <a title='DOE CODE Github Landing Page' target='_blank' rel='noopener noreferrer' href='https://www.github.com/doecode'>https://www.github.com/doecode</a>.
                        Users can also submit a tagged release of code as an individual record by providing the URL specific to that release in GitHub. 
                        As an example, the tagged release URL 
                        <a title='DOE CODE Server release 2.0.1' target='_blank' rel='noopener noreferrer' href="https://github.com/doecode/server/releases/tag/v2.0.1">https://github.com/doecode/server/releases/tag/v2.0.1</a> 
                        can be submitted as a valid Repository URL to DOE CODE.
                    </p>
                    <p>
                        **A landing page or valid contact email address is required when submitting or announcing Closed Source. 
                        This page should provide additional information on how to obtain access to the code. 
                        For more information on landing pages, please see FAQ "<a href='#what-is-a-landing-page'>What is a landing page?</a>". 
                        If providing a contact email address, we recommend using a general software group email for your site if available.
                    </p>
                    <p>
                        ***For Closed Source software, you will be required to provide a License URL in which valid contact information is available on the page 
                        OR provide a valid contact email address.
                    </p>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="what-does-it-mean-to-announce-business-software-to-doe-code"></a>
            <h3 class='static subtitle'>What does it mean to announce business software to DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    <p>
                        Users may need to announce their business code to the Department of Energy to ensure announcement and dissemination in accordance with 
                        DOE statutory responsibilities. The announcement process is for code in later stages of development that has gone through internal review and release processes. 
                        For announcement to the Department of Energy, there are basic requirements for metadata fields; however, other optional/non-mandatory 
                        data fields should be included during announcement when possible.
                    </p>
                    <div>
                        Requirements to Announce Business Software to the Department of Energy through DOE CODE:
                        <ul>
                            <li>Project Type</li>
                            <li>Repository URL;* Landing Page;** Contact Email**</li>
                            <li>Software Title</li>
                            <li>Description/Abstract</li>
                            <li>License(s)***</li>
                            <li>Release Date</li>
                            <li>Access Limitation****</li>
                            <li>Developers</li>
                            <li>Source Code or Compiled Binary*****</li>
                            <li>Sponsoring Organization Name</li>
                            <li>Primary Award Number</li>
                            <li>Research Organization Name</li>
                            <li>Contact Information</li>
                        </ul>
                    </div>
                    <br/>
                    <p>
                        *Currently only Git and SVN-based repositories are supported. Most repositories hosted at GitHub, Bitbucket, 
                        SourceForge, and GitLab support Git and SVN-based repositories. When submitting a repository, users should be certain 
                        to use the direct URL to the actual repository. As an example, the direct Repository URL for DOE CODE is 
                        <a title="DOE CODE Github" target='_blank' rel="noopener noreferrer" href='https://www.github.com/doecode/doecode'>https://www.github.com/doecode/doecode</a>
                        whereas the project landing page is 
                        <a title='DOE CODE Github Landing Page' target='_blank' rel='noopener noreferrer' href='https://www.github.com/doecode'>https://www.github.com/doecode</a>. 
                        Users can also submit a tagged release of code as an individual record by providing the URL specific to that release 
                        in GitHub.  As an example, the tagged release URL 
                        <a title='DOE CODE Server release 2.0.1' target='_blank' rel='noopener noreferrer' href='https://github.com/doecode/server/releases/tag/v2.0.1'>https://github.com/doecode/server/releases/tag/v2.0.1</a> 
                        can be submitted as a valid Repository URL to DOE CODE.
                    </p>
                    <p>
                        **A landing page or valid contact email address is required when submitting or announcing Closed Source. 
                        This page should provide additional information on how to obtain access to the code. For more information on landing pages, 
                        please see FAQ "<a href='#what-is-a-landing-page'>What is a landing page?</a>". 
                        If providing a contact email address, we recommend using a general software group email for your site if available
                    </p>
                    <p>
                        ***For Closed Source software, you will be required to provide a License URL, in which valid contact information is available on the 
                        page OR provide a valid contact email address.
                    </p>
                    <p>
                        ****For Closed Source software, an access limitation is required. If an access limitation <strong>other</strong> than UNL is selected, there may be additional 
                        required and optional metadata fields pertaining to the specific limitation. The <a href="/${app_name}/help#access-limitations" title="Access Limitation">Access Limitations</a>
                        table provides detailed descriptions of the access limitations.
                    </p> 
                    <p>
                        *****The source code is required when announcing code with Project Types OS-NPAR and CS. For Project Type CS, compiled binary may be provided only if the code is not available. 
                        The code is required for preservation purposes only, i.e., not for distribution by OSTI.
                    </p>   
                    <p>
                        <span class="bold-text">OS-NPAR</span> - Refers to the Open Source, No Public Repository (OS NPAR) Project Type
                        <br/>
                        <span class="bold-text">CS</span> - Refers to the Closed Source (CS) Project Type
                    </p>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="is-a-license-required-when-providing-software-to-doe-code"></a>
            <h3 class='static subtitle'>Is a license required when providing software to DOE CODE?</h3>
            <blockquote class="answer">
                <p>
                    Licenses are required for certain types of software. For Open Source software (OS-PAR or OS-NPAR), 
                    DOE OSTI provides a <a href='#are-there-restrictions'>list of the licenses</a> that users can select from. Users may can choose a license not 
                    listed by selecting "Other" and providing a URL to the landing page of the license. 
                </p>
                <p>
                    For Closed Source software, users must provide either a License URL or contact email. When providing a License URL, the License URL page 
                    should include valid contact information; otherwise, the user will be asked to provide a valid contact email address. 
                    For additional information about license requirements, reference the <a href='#announcing-software-flowchart'>Announcing Software to DOE CODE</a> flowchart.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="what-is-a-landing-page"></a>
            <h3 class='static subtitle'>What is a landing page?</h3>
            <blockquote class="answer">
                <p>
                    A landing page is a web page that provides information about the code and how to access the source code. 
                    This may include citation metadata about the software, license, access, and contact information.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="can-i-add-new-or-previous-version-of-software"></a>
            <h3 class='static subtitle'>Can I add a new or previous version of software I have previously submitted or announced to DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    <p>
                        Yes. DOE CODE offers the option to create a DOE CODE record that is a newer or previous version of any DOE CODE record you have already 
                        submitted or announced. You can see this functionality by logging in to your DOE CODE account and viewing the 
                        “Manage My Projects” page. Selecting either of the Make Version buttons, "New" or "Prev," associated with a record will take you to 
                        the entry form with most of the metadata fields already populated based on metadata from the associated record. You can also use this option to submit a tagged release of your code 
                        by entering the specific URL to the tagged release in GitHub 
                        (ex. <a title='DOE CODE Server release 2.0.1' target='_blank' rel='noopener noreferrer' href="https://github.com/doecode/server/releases/tag/v2.0.1">https://github.com/doecode/server/releases/tag/v2.0.1</a>). 
                        The Version Number field will auto-populate with the tagged release number but can still be edited if desired. Once you have submitted 
                        or announced your "New" or "Prev" record, DOE CODE will automatically add metadata to all newer/previous records to reflect the appropriate 
                        relationship using the Related Identifier fields. 
                        (See also, "<a title="Do I need an account" href="#do-i-need-account">Do I need an account to use DOE CODE?</a>")
                    </p>
                    <div class="center-text" style="padding-top:15px;">
                        <img alt="Creating Previous/Next versions of my software." class="img-responsive" src="/${app_name}/images/FAQs/previous_next_image.png"/>
                    </div>
                    <p style="padding-top:20px;">
                        For information regarding semantic versioning best practices, visit
                        <a title='Semver.org' target='_blank' rel='noopener noreferrer' href='https://semver.org'>https://semver.org</a>.
                    </p>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="can-i-submit-a-tagged-release-as-an-individual-record-to-doe-code"></a>
            <h3 class='static subtitle'>Can I submit a tagged release as an individual record to DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    <p>
                        Yes, DOE CODE allows you to submit a tagged release of software hosted in GitHub as an individual record and 
                        obtain a separate DOI for the release. A release is a deployable software iteration that is packaged and can be 
                        made available to download and use. There are two ways to submit a tagged release; either by (1) selecting 
                        "Add New Project" and creating a completely new record, or by (2) making a new or previous version of an existing DOE CODE record 
                        (see "<a href="#can-i-add-new-or-previous-version-of-software">Can I add a new or previous version of software I have previously submitted or announced to DOE CODE?</a>" for more information on this option). 
                        For either option, you will enter the specific URL for the tagged release into the Repository URL field. As an example, the tagged release 
                        URL <a title="DOE CODE release 2.0.1" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode/server/releases/tag/v2.0.1">https://github.com/doecode/server/releases/tag/v2.0.1</a> 
                        can be submitted as a valid Repository URL to DOE CODE. If a valid Repository URL is provided, DOE CODE will attempt 
                        to automatically populate metadata fields based on information included in the repository, including populating the Version field with the tagged release 
                        number (this can be edited if desired).
                    </p>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="can-i-see-the-status-and-availability"></a>
            <h3 class='static subtitle'>Can I see the status and availability of my submitted/announced records?</h3>
            <blockquote class="answer">
                <div>
                    <p>
                        Yes. After logging into your account, view the “Manage My Projects” page where you can see the Status and Availability for submitted and 
                        announced records (see the tables below and 
                        "<a href='#do-i-need-account'>Do I need an account to use DOE CODE?</a>").
                    </p>
                    <div>
                        The record Status is the state of the submission after it enters and completes the workflow. Statuses include:
                        <ul>
                            <li>
                                <strong>PENDING APPROVAL Submission</strong> - The record has been submitted to DOE CODE and is moving through the metadata quality control process. 
                                The Status will be updated to Approved Submission once this process is complete.
                            </li>
                            <li>
                                <strong>PENDING APPROVAL Announcement</strong> - The record has been announced to DOE CODE and is moving through the metadata quality control/release 
                                process and DOI assignment, if the record is unlimited. The Status will be updated to Approved Announcement once this process is complete.
                            </li>
                            <li>
                                <strong>APPROVED Submission</strong> - The record has been approved for Submission and is available for record update and discovery in DOE CODE. 
                            </li>
                            <li>
                                <strong>APPROVED Announcement</strong> - The record has been approved for Announcement and is available for record update in DOE CODE. It is now discoverable 
                                in DOE CODE and, depending on access limitation, in <a href='https://www.osti.gov/' rel='noopener noreferrer' target='_blank'>OSTI.GOV</a> and <a href='https://www.osti.gov/src/' rel='noopener noreferrer' target='_blank'>Science Research Connection (SRC)</a>.
                            </li>
                            <li>
                                <strong>SAVED</strong> - The record has entered the workflow, but not all metadata submission has been completed. The filled out 
                                metadata is saved until submission or announcement.
                            </li>
                        </ul>
                    </div>
                    <p>
                        <br/>
                        The record Availability refers to where the software record is made available for search and discovery.
                        <br/>
                    </p>
                    <div>
                        Availability includes:
                    <ul>
                            <li>
                                <strong>Submitted to DOE CODE</strong> - The unlimited record was submitted for initial submission and optional DOI registration and is available for record 
                                update and discovery in DOE CODE. 
                            </li>
                            <li>
                                <strong>Announced to DOE CODE and OSTI.GOV</strong> - The unlimited record was announced with DOI assignment for official software announcement. 
                                The record can be updated in DOE CODE and is discoverable in both DOE CODE and <a href='https://www.osti.gov/' rel='noopener noreferrer' target='_blank'>OSTI.GOV</a>.
                            </li>
                            <li>
                                <strong>Announced to SRC</strong> - The limited record was announced for official software announcement. The record can be updated in DOE CODE 
                                and is discoverable in <a href='https://www.osti.gov/src/' rel='noopener noreferrer' target='_blank'>Science Research Connection (SRC)</a>
                                (See also 
                                "<a href='#what-are-the-types'>What are the Project Types found in DOE CODE?</a>"
                                and 
                                "<a href='#are-there-restrictions'>Are there restrictions on the use of the material in DOE CODE?</a>").
                            </li>
                        </ul>
                    </div>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="does-doe-code-archive"></a>
            <h3 class='static subtitle'>Does DOE CODE archive software?</h3>
            <blockquote class="answer">
                <div>
                    <p>
                        Yes. To ensure long-term preservation of DOE-funded scientific and technical information (including software), OSTI employs dark archiving 
                        practices as a Departmental backup and as storage to house the working copy of software resources
                        (See also "<a href='#why-is-uploading-code-required-for-certain-project-types'>Why is uploading code required for certain Project Types?</a>").
                    </p>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="does-doe-code-support-upload-of-container-images"></a>
            <h3 class='static subtitle'>Does DOE CODE support the upload of container images as part of the submission/announcement process?</h3>
            <blockquote class="answer">
                <p>
                    Yes. DOE CODE allows users to upload container images in the form of binary files. Currently
                    <a title='Docker' target='_blank' rel='noopener noreferrer' href='https://www.docker.com/'>Docker</a> and
                    <a title='Singularity' target='_blank' rel='noopener noreferrer' href='https://www.sylabs.io/'>Singularity</a>
                    image files are supported.  If you have any issues uploading large container files, please reach out to
                    <a title="Email doecode@osti.gov" href="mailto:doecode@osti.gov">doecode@osti.gov</a>.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="what-is-an-access-limitation"></a>
            <h3 class='static subtitle'>What is an access limitation?</h3>
            <blockquote class="answer">
                <p>
                    An access limitation is otherwise known as a distribution limitation for a piece of software or code, and indicates how a piece of 
                    software or code may be accessed. Different categories of software have different limitations on access. 
                </p>
                <p>
                    Any software provided to DOE CODE as Open Source is automatically designated as having unlimited access when both submitting and announcing software.
                </p>
                <p>
                    Closed Source software provided to DOE CODE may be designated as having unlimited or limited availability. 
                    Closed source software with unlimited availability may be submitted or announced to DOE CODE. Closed source software with limited availability 
                    may only be announced to DOE CODE.
                </p>
                <p>
                    Prior to software announcement, users must ensure the software has undergone all appropriate reviews for sensitivity and export control 
                    and has been assigned an applicable level of distribution. For a list of access limitations and their definitions, 
                    please refer to the <a href='/${app_name}/help#access-limitations'>Access Limitations</a> table.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="how-do-i-announce-software-with-an-access-limitation-to-osti"></a>
            <h3 class='static subtitle'>How do I announce software with an access limitation, such as Controlled Unclassified Information (CUI), to OSTI?</h3>
            <blockquote class="answer">
                <p>
                    Limited availability software, including Export Controlled Information (ECI) and Security Sensitive Information (SSI), 
                    among others, can be submitted to DOE CODE for announcement and discovery in <a href='https://www.osti.gov/src/' rel='noopener noreferrer' target='_blank'>Science Research Connection (SRC)</a>. 
                </p>
                <p>
                    For more information about the types of limited availability software that can be found in DOE CODE, please see the 
                    <a href='/${app_name}/help#access-limitations'>Access Limitations</a> table here.
                </p>
                <p>
                    To provide software with an access limitation to DOE CODE for announcement, you will need to ensure the software has undergone all appropriate 
                    reviews for sensitivity and export control by the originating site and has been deemed secure. If you are unsure of the software sensitivity, 
                    please work with your site's <a href='https://www.osti.gov/stip/about/stip-community#SoftwareContacts' rel='noopener noreferrer' target='_blank'>software point of contact</a>.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="what-if-i-need-to-change-the-access-limitation-of-a-project"></a>
            <h3 class='static subtitle'>What if I need to change the access limitation of a project?</h3>
            <blockquote class="answer">
                <p>
                    To have a project’s access limitation updated in DOE CODE, please contact <a href='mailto:doecode@osti.gov'>doecode@osti.gov</a>.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="what-is-a-yaml"></a>
            <h3 class='static subtitle'>What is a YAML file? How do I auto populate the YAML file?</h3>
            <blockquote class="answer">
                <p>
                    <a title="YAML" target='_blank' rel="noopener noreferrer" href="https://yaml.org/">YAML</a> is a human friendly 
                    data serialization standard for all programming languages. DOE CODE provides functionality to allow users to auto-populate 
                    metadata in DOE CODE by placing a specifically formatted YAML file in their repository's root main directory. The file must be 
                    named "metadata.yml" or "doecode.yml", and the file must be formatted correctly.&nbsp;
                    <a title="YAML Schema" target='_blank' rel="noopener noreferrer" href="https://github.com/doecode/doecode/tree/master/metadata-schema">See detailed YAML information and an example file.</a>
                </p>
            </blockquote>
        </div>
        <div>
            <a name="do-i-need-account"></a>
            <h3 class='static subtitle'>Do I need an account to use DOE CODE?</h3>
            <blockquote class="answer">
                <p>
                    A DOE CODE account is not needed to search for DOE-funded software, but an account is needed to submit or announce scientific and business 
                    software. Users meeting minimum criteria can directly create a DOE CODE account. First and last name, 
                    government email address or valid contract number, and a password are required. From the top right of any DOE CODE page, you may register 
                    for an account by clicking 
                    <a href='/${app_name}/register'>Create Account</a> (or <a href='/${app_name}/login'>Sign In</a> if you already have an account).
                    <br />
                    <br />
                    Both of the repository services we provide, GitLab and GitHub, require a separate account in addition to the OSTI account for submitting or announcing to DOE 
                    CODE. To use repositories on OSTI's GitLab installation and DOE CODE GitHub, those interested must request an account by filling 
                    out the <a href='/${app_name}/gitlab-signup' title='DOE CODE Gitlab Signup Form'>request form</a>. 
                    DOE CODE Product Manager(s) will follow up with the requester.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="what-is-a-doi"></a>
            <h3 class='static subtitle'>What is a Digital Object Identifier (DOI)?</h3>
            <blockquote class="answer">
                <p>
                    A DOI is a digital identifier that is globally unique, persistent, machine resolvable, has an associated metadata schema, 
                    identifies an entity in perpetuity, and provides long-term access to the object. DOIs are assigned to enable researchers 
                    to more easily discover software through additional discovery pathways and reuse software through citation of the DOI. 
                    They also allow stronger connections to be made between software, publications, and data through reference and citation 
                    via DOI metadata. OSTI is a member of and registering agency for DataCite and has the authority to assign Digital Object 
                    Identifiers to unlimited software and code that are provided by DOE and its contractors or grantees. The assigning and 
                    registration of a DOI for unlimited software is a free service provided by OSTI to enhance DOE's management of this important resource.
                </p>
            </blockquote>
        </div>
        <div>
            <a name="what-are-the-benefits"></a>
            <h3 class='static subtitle'>What are the benefits of getting a DOI for code or software?</h3>
            <blockquote class="answer">
                <div>
                    <ul>
                        <li>Announcing and registering code or software with DOIs enables researchers, especially future researchers, to more easily discover, access, 
                            and reuse the code or software for verification of the original experiment and to produce new results with the latest methods.</li>
                        <li>DOIs facilitate accurate linkage between a document or published article and the specific underlying code or software.</li>
                        <li>DOIs make code easy to cite in a standardized way (DOIs have become recognizable as pointers to important information around the globe), 
                            encouraging authors to include this step in their writing/publishing activities.</li>
                        <li>Enabling your code or software to be easily citable means that code developers, contributors, and others involved in the development, 
                            but not necessarily in the authoring of a publication, can receive proper attribution.</li>
                        <li>DOIs are designed to be more stable and persistent links than normal URLs. Registering the DOI with an international organization such as 
                            DataCite provides global resolving and the prospect of steadily increasing visibility of your research.</li>
                    </ul>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="removal"></a>
            <h3 class='static subtitle'>What if I need to have a project removed from DOE CODE?</h3>
            <blockquote class="answer">
                <p>
                    To have a project removed from DOE CODE, please contact&nbsp;<a title="Email doecode@osti.gov" href="mailto:doecode@osti.gov">doecode@osti.gov</a>.
                </p>
            </blockquote>
        </div>
        <br />
        {{!-- Search FAQs --}}
        <h2 class='static'>Search FAQs</h2>
        <div>
            <a name="search"></a>
            <h3 class='static subtitle'>How do I search DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    DOE CODE search works much like a basic Google search, where you can enter your terms into the basic search box to retrieve results. 
                    You can search for a single term or a phrase by putting it in "double quotes." Additionally, DOE CODE supports Boolean and proximity 
                    operators, wildcards, and parentheses for grouping:
                    <br />
                    <br />
                    <div style="padding-left: 40px;">
                        <strong>Boolean Operators</strong>
                        <br />
                        DOE CODE recognizes the operators AND, OR, and NOT.
                        <br />
                        <br />
                        Example: A search for <strong>algorithm AND "quantum simulator"</strong> will return results that include both the term <strong>algorithm</strong> and the phrase <strong>quantum simulator</strong>.
                        <br />
                        <br />
                        Example: A search for <strong>algorithm OR "quantum simulator"</strong> will return results that include either the term <strong>algorithm</strong> or the phrase <strong>quantum simulator</strong>.
                        <br />
                        <br />
                        Example: A search for <strong>algorithm NOT "quantum simulator"</strong> will return results that include the term <strong>algorithm</strong> but not the phrase <strong>quantum simulator</strong>.
                        <br />
                        <br />
                        + and - allow for a search to either be required or forbidden in the search results.
                        <br />
                        <br />
                        Example: A search for <strong>simulation +algorithm</strong> will return results that include the term <strong>simulation</strong> and also include the term <strong>algorithm</strong>.
                        <br />
                        <br />
                        Example: A search for <strong>simulation -algorithm</strong> will return results that include the term <strong>simulation</strong> but not the term <strong>algorithm</strong>.
                        <br />
                        <br />
                        <strong>Proximity Operators</strong>
                        <br />
                        Example: <strong>"quantum simulator"~3</strong> will return results where <strong>quantum</strong> and <strong>simulator</strong> are within three words of each other in the bibliographic record.
                        <br />
                        <br />
                        <strong>Parentheses for Grouping</strong>
                        <br />
                        Example: A search for <strong>algorithm AND ("quantum simulator" OR energy)</strong> will return results that include both the term <strong>algorithm</strong> and either the phrase <strong>quantum simulator</strong> or the term <strong>energy</strong>.
                    </div>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="advanced-search"></a>
            <h3 class='static subtitle'>How do I use the Advanced Search?</h3>
            <blockquote class="answer">
                <div>
                    <p>The advanced search will allow you to perform more complex searches and retrieve more specific results, offering you several fields,
                        such as Title, Developer(s), or Release date to help you refine your search results.</p>
                    <p>To access the advanced search, select the green drop-down arrow from the search bar, either on the homepage or at the top of any subsequent page.</p>
                    <p>To access all the advanced search features, click on the "More Options" selection at the bottom of the advanced search.</p>
                    <br />
                    <div style="padding-left: 40px;">
                        <strong>All Fields</strong>
                        <br />
                        Searches all bibliographic data.
                        <br />
                        <br />
                        <strong>Software Title</strong>
                        <br />
                        Searches only software titles.
                        <br />
                        <br />
                        <strong>Developers</strong>
                        <br />
                        Searches all developer names, including ORCID if available.
                        <br />
                        <br />
                        <strong>Identifier Numbers</strong>
                        <br />
                        Searches for all identifying numbers, including DOE contract number, version, non-DOE contract/award numbers, or other
                        identifying numbers such as Digital Object Identifiers (DOIs).
                        <br />
                        <br />
                        <strong>Release Date</strong>
                        <br />
                        Searches for articles that were released within a specified timeframe. Select the starting date or ending date from the drop-down calendar
                        OR type MM/DD/YYYY, e.g. 01/01/2014.
                        <br />
                        <br />
                        <strong>Project Type</strong>
                        <br />
                        Searches the fields for Open Source, Publicly Available Repository (OS-PAR); Open Source, Not Publicly Available Repository (OS-NPAR); 
                        and Closed Source (CS). 
                        <br />
                        <br />
                        <strong>Licenses</strong>
                        <br />
                        Searches by names of licenses.
                        <br />
                        <br />
                        <strong>Programming Languages</strong>
                        <br />
                        Searches the specific language or languages in which the code being submitted was written.
                        <br />
                        <br />
                        <strong>Research Organization</strong>
                        <br />
                        Searches by the name(s) of the organization(s) that was funded and developed the software.
                        <br />
                        <br />
                        <strong>Sponsoring Organization</strong>
                        <br />
                        Searches the name(s) of the DOE program office(s) or other organizations that provided the funding for the development contributing
                        to the software.
                        <br />
                        <br />
                        <strong>Software Type</strong>
                        <br />
                        Searches the field for Business or Scientific software.
                        <br />
                        <br />
                        <strong>Sort</strong>
                        <br />You can choose for your results to be sorted by Relevance, Release Date (newest to oldest) or Release Date (oldest to newest).
                    </div>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="information"></a>
            <h3 class='static subtitle'>What information is found on the Full Project page in DOE CODE?</h3>
            <blockquote class="answer">
                <div>
                    The information on the Full Project page is bibliographic metadata/information unique to and descriptive of a particular project.  
                    Basic information includes the Title, Developer(s), and Release Date.  Below is a list of metadata that OSTI collects and 
                    displays in DOE CODE, with those that can be searched using the advanced search fields indicated with an asterisk(*):
                    <br />
                    <br />
                    <div style="padding-left: 40px;">
                        <strong>Software Title*</strong> - the title of the software
                        <br />
                        <br />
                        <strong>Abstract</strong> - summary of the software, usually including the purpose, function, and capabilities
                        <br />
                        <br />
                        <strong>Developer(s)*</strong> - the person(s) concerned with facets of the software development process, including research, 
                        design, programming, and testing of the software, along with their affiliations.
                        <br />
                        <br />
                        <strong>Contributor(s)</strong> - the person(s) or institution(s) that have contributed to the software but is not listed as a developer
                        <br />
                        <br />
                        <strong>Release Date*</strong> - the date the software was released
                        <br />
                        <br />
                        <strong>Version Number</strong> - the version of the software
                        <br />
                        <br />
                        <strong>Project Type*</strong> - will be Open Source, Publicly Available Repository (OS-PAR); Open Source, Not Publicly 
                        Available Repository (OS-NPAR); and Closed Source (CS). 
                        See "<a href='#what-are-the-types'>What are the Project Types found in DOE CODE?</a>" for definitions of these types
                        <br />
                        <br />
                        <strong>Software Type*</strong> - will be Scientific or Business. 
                        See "<a href="#how-is-software-submitted">How is scientific software provided to DOE CODE?</a>" and 
                        "<a href="#how-is-business-software-provided-to-doe-code">How is business software provided to DOE CODE?</a>" 
                        for definitions of these types
                        <br />
                        <br />
                        <strong>Programming Languages*</strong> - the specific language or languages in which the code being submitted was written
                        <br />
                        <br />
                        <strong>Licenses*</strong> - the software licenses or rights information about the software
                        <br />
                        <br />
                        <strong>Sponsoring Org.*</strong> - the sponsoring or funding office of the software product
                        <br />
                        <br />
                        <strong>Primary Contract/Award Number*</strong> - DOE award/contract number that is largely responsible for funding the project
                        <br />
                        <br />
                        <strong>Code ID*</strong> - the unique identifier assigned by OSTI upon submission
                        <br />
                        <br />
                        <strong>Site Accession Number*</strong> - the accession or other identifying numbers assigned by the submitting site, 
                        university, or repository’s database, records, etc.
                        <br />
                        <br />
                        <strong>Research Org.*</strong> - the research organization, such as a DOE national laboratory or university, 
                        which had primary responsibility for developing the software
                        <br />
                        <br />
                        <strong>Related Identifiers*</strong> - any related links, such as DOIs to published works, additional versions, or 
                        documentation information relevant to the software
                        <br />
                        <br />
                        <strong>Country of Origin</strong> - the country in which the software was developed
                        <br />
                        <br />
                        <strong>Keywords</strong> - a list of words or phrases that describe the software
                        <br />
                        <br />
                        <strong>DOI*</strong> - a unique persistent identifier that references the software and provides long-term access; 
                        DOIs remain stable even if the underlying address or URL for the content changes
                        <br />
                        <br />
                        <strong>Repository URL, Landing Page, or Contact Email</strong> - either a Repository URL where the source code is available, 
                        a Landing Page which includes information describing the project/contact information, or a contact email for the project will be provided
                    </div>
                </div>
            </blockquote>
        </div>
        <div>
            <a name="sort-or-refine"></a>
            <h3 class='static subtitle'>Can I sort or refine my results?</h3>
            <blockquote class="answer">
                <p>Yes, you may refine your results by Project Type, License, Software Type, Release Date, and Research Organization. 
                    These options are available via the results page on the left-hand side of the screen.  Sort options on the results page 
                    include sorting by relevance and release date.</p>
            </blockquote>
        </div>
        <div>
            <a name="save-or-download"></a>
            <h3 class='static subtitle'>Can I save or download the results of a search?</h3>
            <blockquote class="answer">
                <p>Yes, you can save the bibliographic/metadata information for a set of results as an CSV/Excel or JSON file from the results screen.</p>
                <p>From an individual Project page, you can save the metadata in XML, YAML, or JSON file format.  You also have the option to generate a 
                    citation for the record in various formats, including MLA, APA, Chicago, and BibTex.</p>
            </blockquote>
        </div>
        <div>
            <a name="are-there-apis"></a>
            <h3 class='static subtitle'>Are there APIs available for DOE CODE?</h3>
            <blockquote class="answer">
                <p>Yes, there are multiple APIs with stable endpoints. For more information, see the&nbsp;<a title="API Documentation" rel="noopener noreferrer" href="{{api_url}}docs">API
                        documentation</a>.</p>
            </blockquote>
        </div>
        <div>
            <a name="do-i-need-cookies"></a>
            <h3 class='static subtitle'>Do I need to have cookies enabled to use DOE CODE?</h3>
            <blockquote class="answer">
                <p>Yes, you must select Accept All Cookies. Please see our&nbsp;<a title="Website Policies / Important Links" target='_blank' rel="noopener noreferrer" href="/disclaim">Website Policies/Important Links</a>&nbsp;for further
                    information.</p>
            </blockquote>
        </div>
        <div>
            <a name="more-info"></a>
            <h3 class='static subtitle'>What if I have more questions?</h3>
            <blockquote class="answer">
                <p>See our <a href='help' title='Help'>Help</a> page for more detailed information about submitting and announcing software to DOE CODE.</p>
                <p>For additional assistance,&nbsp;<a title="Email doecode@osti.gov" href="mailto:doecode@osti.gov">Contact Us</a>.</p>
            </blockquote>
        </div>
    </div>
    <div class="col-lg-3 col-md-1"></div>
</div>

{{> wrapper/footer}}