{{> wrapper/header}}
<input type='hidden' id='forgot-password-page-identifier'/>
<div class="row not-so-wide-row">
     <div class="col-md-4">
     </div>
     <div class="col-md-4 col-xs-12 center-text">
	  <br>
	  <div class='has-error'>
	       <label class='control-label' id='forgot-password-error'></label>
	  </div>
	  <span id='forgot-password-confirmation-container' style='display:none'>
	       If there is an account associated with the email address you entered and it is active, an email will be sent with further 
	       instructions on changing your password. If you do not receive an email, please contact&nbsp;<a href='mailto:doecode@osti.gov'>doecode@osti.gov</a>
	  </span>
	  <div id='forgot-password-container'>
	       <div class="row">
		    <div class="col-xs-12">
			 <span> 
			      <label class="static-content-title" for="email-address">Please enter your email address to recover or reset your password</label>
			      <input title="Email Address" id="email-address" class="pure-input-1-3 form-control" type="text">
			      <br>
			 </span>
		    </div>
	       </div>
	       <div class="row">
		    <div class="col-xs-12">
			 <button id='forgot-password-btn' title="Submit Password Change Request" type="button" class="pure-button button-success">Submit</button>
		    </div>
	       </div>
	  </div>
     </div>
     <div class="col-md-4"></div>
</div>
{{> wrapper/footer}}