{{> wrapper/header}}
<input type='hidden' id='code_id' value="{{code_id}}"/>
<input type='hidden' id='load_id' value='{{load_id}}'/>
<input type='hidden' id='version_type' value='{{version_type}}'/>
<input type='hidden' id='software_type' value='{{software_type}}'/>
<input type='hidden' id='is_limited' value='{{is_limited}}'/>
<input type='hidden' id='page' value="{{page}}"/>
<input type='hidden' id='page_req_id' value="{{page_req_id}}"/>
<input type='hidden' id='current_datatable_id' value="-1"/>
<input type='hidden' id='table_msg' value="To edit data, click on the row containing the information to modify." />
<input type='hidden' id='upload_msg' value="If you experience issues attempting to upload files with large size requirements please reach out to doecode@osti.gov and we will be glad to assist you." />
<style type="text/css">
     .upload-file {
	 margin-right: 25px;
	 display: inline;
     }

     legend.entry-legend {
	 padding: 5px;
	 margin-left: 10px;
	 font-size: inherit;
	 color: inherit;
	 border-bottom: none;
	 margin-bottom: 7px;
	 width: auto;
     }
     textarea.form-text-area {
	 resize: none;
	 height: 150px;
     }
     fieldset.entry-group {
	 border: 1.25px #ccc solid;
	 border-radius: 5px;
	 margin-top: -15px;
	 margin-bottom: 15px;
	 margin-left: -15px;
	 margin-right: -15px;
     }
     fieldset div {
	 margin-left: 12px;
     }

     .required a {
	 color: #990000 !important
     }


     .req:before {
	 content: "* ";
	 position: relative;
     }

     .req:not(.has-success):before, .req_rf:not(.has-success):after {
	 color: #a94442;
     }

     .req:before {
	 content: "* ";
	 position: relative;
     }

     .req_rf:after {
	 content: " (Required Field)";
	 position: relative;
     }

     .req_of:after {
	 content: " (Optional Field)";
	 position: relative;
     }

     .req_fr:after {
	 content: " (Fields Required)";
	 position: relative;
	 color: #a94442;
     }

     .req_arfc:after {
	 content: " (All Required Fields Completed)";
	 position: relative;
	 color: #3c763d;
     }
     .doecode-wizard-btn {
	 margin-bottom: 5px;
     }
     .wizard-margin-style {
	 margin-bottom: 5px;
     }
     .dropzone{
	 max-width:200px;
     }

	tr.odd td.reorder {
		background-color: #e7f4ff;
	}

	tr.even td.reorder {
		background-color: #f7fbff;
	}

	td.reorder-disabled {
		text-align: center;
	}

	.faded {
		opacity: 0.4;
	}

	.selectControl.chosen-container-multi:not(.chosen-container-active) .chosen-choices,
	.selectControl.chosen-container-single:not(.chosen-container-active) .chosen-single {
		border-color: #ccc;
	}

	.selectControl.chosen-container-active .chosen-choices,
	.selectControl.chosen-container-active .chosen-single {
		border-color: #66afe9;
	}

	.selectControl .chosen-choices,
	.selectControl .chosen-single {
		background-image: none !important;
		min-height: 34px !important;
	}

	.selectControl .chosen-choices {
		border-radius: 4px !important;
	}

	.selectControl .chosen-single {
		padding: 5px 12px !important;
	}

	.selectControl.chosen-container-single .chosen-drop {
		margin-top: inherit;
	}

	.selectControl.chosen-container-active.chosen-with-drop .chosen-single {
		box-shadow: 0 0 6px #67b168;
	}

	.selectControl.chosen-container-active .chosen-single {
		box-shadow: inherit;
	}

	.has-success .selectControl .chosen-choices,
	.has-success .selectControl .chosen-single {
		border-color: #3c763d !important;
	}

	.has-error .selectControl .chosen-choices,
	.has-error .selectControl .chosen-single {
		border-color: #a94442 !important;
	}

</style>
<div class='row not-so-wide-row'>
     <div class="col-md-3"></div>
     <div class='col-md-6 col-xs-12'>
	  <div class="form-group form-group-sm row">
	       <div class="col-xs-12 center-text">
		    <h1>{{page_message}}</h1>
		    <label style='display:none;'>Owned by: <span id='owner-email-address'></span></label><br/>
		    <a id="input-help-anchor" title="More detailed information on this process can be found on our Help page" href="/${app_name}/help" target="_blank">More detailed information on this process can be found on our Help page</a>
		    <div id="input-approve-msg-top" style="display: none; font-weight:bold">
			 <br/>
			 <span class="error-color">NOTICE: This is an Approval Only form!  ANY CHANGES MADE WILL BE LOST!</span>
		    </div>
		    <div id="input-overwrite-msg-top" style="display: none; font-weight:bold">
			 <br/>
			 <span class="error-color">NOTICE: This record is pending approval.  If these updates are also needed in E-Link, select "Announce to E-Link" after submission.</span>
		    </div>
	       </div>
	  </div>
	  <div class="panel-group" id="input-page-accordion" role="tablist" aria-multiselectable="true">
	       <!--Repository Information-->
	       {{> input/repository-information-step}}
	       <!--Product Description-->
	       {{> input/product-description-step}}
	       <!--Developers-->
	       {{> input/developers-step}}
	       <!--DOI and Release DAte-->
	       {{> input/doi-release-date-step}}
	       <!--Supplemental Product Info-->
	       {{> input/supplemental-product-info-step}}
	       <!--Organizations-->
	       {{> input/organizations-step}}
	       <!--Contributors-->
	       {{> input/contributors-contributing-orgs-step}}
	       <!--Identifiers-->
	       {{> input/identifiers-step}}
	       <!--AwardDOIs-->
	       {{> input/award-step}}
	       <!--Contact Information-->
	       {{> input/contact-info-step}}
	  </div>
	  {{#if show_optional_toggle}}
	  <button type="button" id='input-form-optional-toggle' class="btn">
	       <span class="far fa-plus-square"></span>&nbsp;Show Additional Optional Fields
	  </button>
	  {{/if}}
	  <div id="input-approve-msg-bottom" class="col-xs-12 center-text" style="display:none; font-weight:bold; margin-bottom:15px">
	       <span id="" class="error-color">NOTICE: This is an Approval Only form!  ANY CHANGES MADE WILL BE LOST!</span>
	  </div>
	  <div id="input-overwrite-msg-bottom" class="col-xs-12 center-text" style="display:none; font-weight:bold; margin-bottom:15px; margin-top:15px">
	       <span id="input-overwrite-msg2" class="error-color">NOTICE: This record is pending approval.  If these updates are also needed in E-Link, select "Announce to E-Link" after submission.</span>
	  </div>
	  <button id="input-submit-btn" title='Submit Project' type="button" class="pure-button pure-button-primary btn-lg pull-right doecode-wizard-btn wizard-margin-style" style="display: none">
	       Submit Project
	  </button>
	  <button id="input-announce-btn" title='Announce Project to E-Link' type="button" class="pure-button pure-button-primary btn-lg pull-right doecode-wizard-btn wizard-margin-style" style="display: none">
	       Announce Project to E-Link
	  </button>
	  <button id="input-approve-btn" title='Approve Project' type="button" class="pure-button pure-button-primary btn-lg pull-right doecode-wizard-btn wizard-margin-style" style="display: none">
	       Approve Project
	  </button>
	  <button id="input-save-btn" title='Save Your Progress' type="button" class="pure-button btn-lg pull-right doecode-wizard-btn" style="margin-right: 8px;background: rgb(66, 184, 221);color: white;display: none;">
	       Save Your Progress
	  </button>
     </div>
     <div class="col-md-3"></div>
</div>
<div class='row not-so-wide-row' id="change-log-zone" style="display: none">
     <div class="col-md-3"></div>
     <div class='col-md-6 col-xs-12'>
	  <div class="form-group form-group-sm row">
            <!--Comment Information-->
            {{> input/comment-information}}
	  </div>
     </div>
     <div class="col-md-3"></div>
</div>
{{> wrapper/footer}}
