{{> wrapper/header}}
<input type='hidden' id='news-page-indicator' />
<style type='text/css'>
  .publication-date {
    float: left;
    text-muted;
  }

  .article-type {
    float: right;
    text-muted;
    text-align: right;
  }

  .row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }

  .row.display-flex>[class*='col-'] {
    display: flex;
    flex-direction: column;
  }

  .news-article-card {
    padding: 25px 15px 20px;
    border-bottom: 1px solid #D6D5D4;
    min-height: 250px;
    height: 250px;
  }

  #article-list {
    /*border-top: 1px solid #D6D5D4;*/
    border-left: 1px solid #D6D5D4;
    padding-left: 10px;
  }

  #article-list>div.news-article-card:nth-child(3n+2) {
    border-left: 1px solid #D6D5D4;
    border-right: 1px solid #D6D5D4;
  }

  #article-list>div.news-article-card:nth-child(-n+3) {
    border-top: 1px solid #D6D5D4;
  }

  #article-list>div.news-article-card>span.article-type {
    margin-top: -20px;
  }

  .article-title {
    font-weight: 300;
    font-size: 20px;
  }

  .month-year-filter {
    margin-left: 15px;
    margin-top: 5px;
  }

  .month-day-year-filter {
    margin-left: 30px;
    margin-top: 5px;
  }

  .hour-filter {
    margin-left: 45px;
    margin-top: 5px;
  }

  .minute-filter {
    margin-left: 60px;
    margin-top: 5px;
  }

  .filter-type-icon {
    color: #337ab7
  }

  /*Treat the cards differently on phones*/
  @media only screen and (max-width:479px) and (min-width: 320px) {
    #article-list>div.news-article-card {
      border-top: 1px solid #D6D5D4;
      border-bottom: 1px solid #D6D5D4;
      border-left: none;
      border-right: none;
    }

    #article-list>div.news-article-card:nth-child(3n+2) {
      border-left: none;
      border-right: none;
    }

  }

  /*Treat the cards differently on a tablet*/
  @media only screen and (max-width:991px) and (min-width: 480px) {
    #article-list>div.news-article-card {
      border: 1px solid #D6D5D4;
    }
  }
</style>
<div class='container'>
  <br />
  <div class='row' id='news-article-main-row'>
    {{> search/news-article}}
  </div>
</div>
{{> wrapper/footer}}