{{> wrapper/header}}
<div class="row not-so-wide-row">
   <div class="col-lg-3 col-md-1"></div>
   <div class="col-lg-6 col-md-10 col-xs-12 static-content">
         
   </div>
   <div class="col-lg-3 col-md-1"></div>
</div>
{{> wrapper/footer}}