{{> wrapper/header}}
<style type='text/css'>
   .news-article-card {
      padding-top: 5px;
      border-bottom: 1px solid #D6D5D4;
   }

   .publication-date {
      float: left;
      text-muted;
   }

   .article-type {
      float: right;
      text-muted;
      text-align: right;
   }

   .row.display-flex {
      display: flex;
      flex-wrap: wrap;
   }

   .row.display-flex>[class*='col-'] {
      display: flex;
      flex-direction: column;
   }

   #article-list {
      border-top: 1px solid #D6D5D4;
   }

   #article-list>div.news-article-card:nth-child(3n+2) {
      border-left: 1px solid #D6D5D4;
      border-right: 1px solid #D6D5D4;
   }

   #article-list>div.news-article-card>span.article-type {
      margin-top: -20px;
   }

   .article-title {
      font-weight: 300;
      font-size: 20px;
   }
</style>
<!--
<div class="row">
   <div class="col-lg-3 col-md-1"></div>
   <div class="col-lg-6 col-md-10 col-xs-12 static-content">
-->
<div class='container'>
   <div class='row'>
      <div class='col-xs-12'>
         <br />
         <div class="static-content-title">{{total_results}} Results</div>
         <br />
         <br />
      </div>
   </div>
   <div class='row'>
      <div class='col-sm-3' style='border-top:1px solid #D6D5D4;'>
         Left Sidebar
      </div>
      <div class='col-sm-9' style='border-left:1px solid #D6D5D4;'>
         <!--Right Side Title-->
         <div class='row' style='border-bottom:1px solid #D6D5D4;'>
            <div class='col-xs-12'>
               <div class="static-content-title">News</div>
               <br />
            </div>
            <br />
         </div>
         <!--Latest article-->
         <div class='row'>
            <div class='col-xs-12' style='padding-top:20px;'>
               <div class='text-muted publication-date'>{{featured_article.publication_date}}</div>
               <div class='text-muted article-type'>
                  {{!--Comes out like <icon> Type--}}
                  {{#if featured_article.article_type.is_news}}
                     <span class='fa fa-newspaper-o'></span>
                  {{else if featured_article.article_type.is_updates_and_tips}}
                     <span class='fa fa-info-circle'></span>
                  {{else if featured_article.article_type.is_blog}}
                     <span class='fa fa-file-text-o'></span>
                  {{/if}}
                  {{featured_article.article_type.type}}
               </div>
               <br />
               <a href='{{featured_article.url}}' style='font-size:28px;font-weight:300' title='{{featured_article.title}}' target="_blank" rel="noopener noreferrer">{{featured_article.title}}</a>
               <br />
               <br />
               <p style='line-height:30px;'>
                  {{featured_article.content}}
                  <br />
                  <br />
                  {{#if featured_article.content_over_limit}}
                     <a href='{{featured_article.url}}' title='{{featured_article.title}}' target="_blank" rel="noopener noreferrer">Read More</a>
                  {{/if}}
               </p>
            </div>
         </div>
         <!--All of the other articles-->
         <div class='row not-so-wide-row display-flex' id='article-list'>
            {{#each refined_articles_list}}
               <div class='col-md-4 col-sm-6 col-xs-12 news-article-card'>
                  <span class='text-muted publication-date'>{{publication_date}}</span>
                  <span class='text-muted article-type'>
                     {{#each article_types}}
                        {{#if is_news}}
                           <span class='fa fa-newspaper-o'></span>
                        {{else if is_updates_and_tips}}
                           <span class='fa fa-info-circle'></span>
                        {{else if is_blog}}
                           <span class='fa fa-file-text-o'></span>
                        {{/if}}
                        {{type}}
                        <br />
                     {{/each}}
                  </span>
                  <br />
                  <br />
                  <div>
                     <br />
                     <br />
                     <a href='{{url}}' class='article-title' title='{{title}}' target="_blank" rel="noopener noreferrer">{{title}}</a>
                     <br />
                     <br />
                     <br />
                  </div>
               </div>
            {{/each}}
         </div>
      </div>
   </div>
</div>
<!--
   </div>
   <div class="col-lg-3 col-md-1"></div>
</div>
  -->
{{> wrapper/footer}}