{{> wrapper/header}}
<style type='text/css'>
     .padblock {
	 padding: 0 35px;
     }
     @media only screen and (max-width:767px) and (min-width: 320px) {
	 .padblock {
	     padding: 0px;
	 }
     }
</style>
<div class="row not-so-wide-row">
     <div class="col-lg-3 col-md-1"></div>
     <div class="col-lg-6 col-md-10 col-xs-12 static-content">
          <h2 class="static-content-title">News/Resources</h2>
          <h3>Communications</h3>
          <div class="padblock">
	       <h4>Videos &amp; Tutorials</h4>
	       <ul>
		    <li>Introducing <a href="https://www.youtube.com/watch?v=NKo0U92PXzA&feature=youtu.be" target="_blank" rel="noopener noreferrer">DOE CODE</a></li>
	       </ul>
	       <h4>News Articles</h4>
	       <ul>
		    <li><a href='https://www.osti.gov/business-software-included-in-doe-code' target='_blank' rel='noopener noreferrer'>Business Software Included in DOE CODE</a></li>
		    <li><a href='https://www.osti.gov/new-doe-code-video-tutorial' target='_blank' rel='noopener noreferrer'>New DOE CODE Video Tutorial</a></li>
		    <li><a href="https://www.osti.gov/osti-launches-doe-code-0" target="_blank" rel="noopener noreferrer">OSTI Launches DOE CODE</a></li>
		    <li><a href="https://www.osti.gov/osti-developing-new-doe-software-center" target="_blank" rel="noopener noreferrer">OSTI Developing New DOE Software Center</a></li>
		    <li><a href="https://www.osti.gov/osti-developing-open-source-social-coding-platform-doe-scientific-software" target="_blank" rel="noopener noreferrer">OSTI Developing Open Source, Social Coding Platform for DOE Scientific Software</a></li>
	       </ul>
	       <h4>DOE CODE Fact Sheet</h4>
	       <ul>
		    <li>
			 <a title='DOE CODE Fact Sheet' href='https://www.osti.gov/includes/doecode/docs/DOEcode_C228.pdf'>Fact Sheet</a>&nbsp;&nbsp;<a href='https://www.osti.gov/includes/doecode/docs/DOEcode_C228.pdf'><img src='/${app_name}/images/page_white_acrobat.png' title='DOE CODE Fact Sheet PDF' alt='DOE CODE Fact Sheet PDF' /></a>&nbsp;<small style='font-size:12px;' class='text-muted'>(182&nbsp;KB)</small>
		    </li>
	       </ul>
          </div>
          <h3>Resources</h3>
          <div class="padblock">
	       <h4>Selected Articles and Presentations</h4>
	       <ul>
		    <li>05/03/2017&nbsp;
			 <a title='Energy Science Tech Software Center' href="https://github.com/doecode/doecode.github.io/blob/master/docs/billings_stip_20170503.pdf?raw=true">The New Energy Science and Technology Software Center</a>&nbsp;presented at the DOE Scientific and Technical Information Program (STIP) Annual Working Meeting (Jay Jay Billings, Oak Ridge National Laboratory (ORNL))</li>
		    <li>04/21/2017&nbsp;
			 <a title='DOE CODE Metadata' href="https://github.com/doecode/doecode.github.io/blob/master/docs/DOE_Code_Code4LibSE_2017.pptx.zip?raw=true">DOE CODE Metadata</a>&nbsp;by Katie Knight, Oak Ridge National Laboratory,&nbsp;<a title='Code4LibSE' href="https://wiki.code4lib.org/Southeast_2017#Code4LibSE_2017_Emory_Meeting">Code4LibSE 2017 Emory Meeting</a>
		    </li>
		    <li>03/01/2017 Poster presented at SIAM CSE17 PP108 Minisymposterium:&nbsp;
			 <a title='Software Productivity' href="https://figshare.com/articles/billings_doecode_siamcse2017_20170301_jpg/4730203">Software Productivity and Sustainability for CSE and Data Science</a>&nbsp; by Jay Jay Billings, Oak Ridge National Laboratory</li>
	       </ul>
	       <h4><a rel='noopener noreferrer' href='{{api_url}}' target='_blank'>API Documentation</a></h4>
          </div>
          <h3>External Links</h3>
          <div class="padblock">
	       <ul>
		    <li>
			 <a title='Github' href="https://github.com/doecode">DOE CODE GitHub site</a>
		    </li>
		    <li>
			 <a title='Code.gov' href="https://code.gov/">Code.gov</a>
		    </li>
		    <li>The Better Scientific Software Portal
			 <ul>
			      <li>GitHub,&nbsp;
				   <a title='Better Scientific Software' class='word-break' href="https://betterscientificsoftware.github.io/">https://betterscientificsoftware.github.io/</a>
			      </li>
			 </ul>
		    </li>
	       </ul>
          </div>
     </div>
     <div class="col-lg-3 col-md-1"></div>
</div>
{{> wrapper/footer}}
