{{> wrapper/header}}
<div class="row thin-row">
     <div class="col-xs-12 center-text has-error">
	  <div class='center-text biblio-title has-error'>
	       <br/>
	       <label class='control-label normal-weight'>Your requested resource couldn't be found</label>
	  </div>
     </div>
</div>
{{> wrapper/footer}}
