{{> wrapper/header}}
<input type="hidden" id="poc-admin-page-identifier"/>
<div class="row not-so-wide-row">
     <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-xs-12">
	  <div class="center-text">
	       <h2 class="static-content-title">DOE CODE Point of Contact Administration</h2>
	       <p>
		    You may add/remove, active/deactivate a site's Point of Contact email addresses.
	       </p>
	       <br/>
	  </div>
	  <div>
	       <div class='row'>
		    <div class='col-lg-6 col-lg-offset-3 col-xs-12 center-text'>
			 <label for='poc-site-list' class='control-label'>Sites</label>
			 <br/>
			 <select id='poc-site-list' class='form-control pure-input-1'>
			      <option selected></option>
			      <option value=' ' title='New Site'>New Site</option>
			 </select>
		    </div>
		    <div class='col-xs-12'>
			 <hr/>
		    </div>
	       </div>

	       <div class='row' id='poc-site-list-container' style="display:none;">
		    <div class="col-xs-12">
			 <br/>
			 <div class="has-feedback center-text">
			      <label class="control-label normal-weight biblio-title" id="poc-message"></label>
			 </div>
		    </div>
		    <div class="col-lg-4 col-md-6 col-xs-12">
			 <br/>
			 <br/>
			 <label class='control-label' for='site-code'>Site Code:</label>
			 <input type='text' id='site-code' class='form-control pure-input-1'/>
			 <br/>
		    </div>
		    <div class='col-xs-12'>
			 <table id="poc-admin-email-list" class="table table-hover table-striped">
			      <thead>
				   <tr>
					<th>Email Address</th>
					<th class="center-text">Active?</th>
					<th></th>
				   </tr>
			      </thead>
			      <tbody class="center-text">
				   <tr>
					<td class=""><input type="text" placeholder="New POC Email Address" id="new-poc-email-address" class="form-control pure-input-1 new-poc-entry"/></td>
					<td><input type="checkbox" checked/></td>
					<td><span class="fa fa-plus-circle poc-add-new-email" title="Add New Email"></span></td>
				   </tr>
			      </tbody>
			 </table>
		    </div>
		    <div class="col-xs-12 right-text">
			 <button id="save-changes-btn" title="Save Entry" type="button" class="pure-button pure-button-primary btn-lg pull-right doecode-wizard-btn"><span class='fa fa-save'></span> Save</button>
		    </div>
	       </div>
	  </div>
     </div>
</div>
{{> wrapper/footer}}