{{> wrapper/header}}
<style type='text/css'>
    h4.static{
        margin-top:20px;
    }
</style>
<div class="row not-so-wide-row">
    <div class="col-lg-3 col-md-1"></div>
    <div class="col-lg-6 col-md-10 col-xs-12 static-content">
        <h1 class="static-content-title">Software Policy</h1>
        <br/>
        {{!-- Starting Portion --}}
        <p>
            DOE CODE is the software services platform and search tool that allows for scientific and business software to be provided to the U.S. Department of Energy (DOE). 
            The DOE Office of Scientific and Technical Information (DOE OSTI) developed DOE CODE, providing functionality for collaboration, archiving, 
            and discovery of scientific and business software. DOE OSTI is charged with fulfilling the Department's responsibilities to collect, preserve, 
            and disseminate scientific and technical information (STI), including software, emanating from DOE research and development activities.
        </p>
        <p>
            In addition to DOE OSTI's charge for scientific software, the Office of the Chief Information Officer (OCIO) and DOE OSTI partnered to leverage DOE CODE 
            to maintain a comprehensive inventory of DOE-funded custom-developed business software. In accordance with the Office of Management and Budget Memorandum M-16-21, 
            <cite>Federal Source Code Policy: Achieving Efficiency, Transparency, and Innovation through Reusable and Open Source Software</cite>, 
            DOE CODE fulfills requirements to maintain an inventory of all DOE-funded custom-developed software and to report this inventory to the 
            government-wide <a href='https://code.gov/' title='Code.gov' rel='noopener noreferrer' target='_blank'>Code.gov</a> website.
        </p>

        <div>
            <a href='#sofware-collection'>Software Collection</a>
            <ul>
                <li>
                    <a href='#scientific-and-business-software'>Scope - Scientific and Business Software</a>
                </li>
                <li>
                    <a href='#providing-software-to-doe'>Providing Software to DOE CODE </a>
                    <ul>
                        <li>
                            <a href='#submitting-software-to-doe-code'>Submitting Software to DOE CODE</a>
                        </li>
                        <li>
                            <a href='#announcing-software-to-doe-through-doe-code'>Announcing Software to DOE through DOE CODE</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href='#metadata'>Metadata</a>
                </li>
                <li>
                    <a href='#doi-assignment'>DOI Assignment</a>
                </li>
                <li>
                    <a href='#licenses'>Licenses</a>
                </li>
                <li>
                    <a href='#access-limitations'>Access Limitations</a>
                </li>
            </ul>
            <a href='#software-discovery-and-access'>Software Discovery and Access</a>
            <ul>
                <li>
                    <a href='#finding-software'>Finding Software</a>
                </li>
                <li>
                    <a href='#licensing'>Licensing</a>
                </li>
            </ul>
            <a href='#preservation'>Software Preservation</a>
            <ul>
                <li>
                    <a href='#archival-policy'>Archival Policy</a>
                </li>
                <li>
                    <a href='#repositories'>Software Repositories</a>
                </li>
                <li>
                    <a href='#deleting-records'>Deleting Records</a>
                </li>
            </ul>
        </div>
        <br/>

        <a name='sofware-collection'></a>
        <h2 class='static'>Software Collection</h2>
        <a name='scientific-and-business-software'></a>
        <h3 class='static'>Scope - Scientific and Business Software</h3>
        <p>
            DOE-funded scientific and business software is collected by DOE CODE. Software records within DOE CODE provide software details and links to the software itself, 
            a code repository, or project contact information for access to the software. The repositories may also include manuals, examples, and test data.
            <br/>
            <br/>
            When providing software and code to DOE CODE, users need to identify what type of software they are submitting—scientific or business software. 
            Users who are unsure of the type of software are encouraged to work with 
            their <a href='https://www.osti.gov/stip/about/stip-community#SoftwareContacts' target='_blank' rel='noopener noreferrer'>software point of contact</a>.
        </p>
        <br/>
        <a name='providing-software-to-doe'></a>
        <h3 class='static'>Providing Software to DOE CODE</h3>
        <p>
            Software records should be provided directly to DOE CODE, either by a developer or the developing organization. DOE CODE offers two paths for users to provide 
            scientific code. Users can (1) submit code to DOE CODE to make the software discoverable and optionally assign a DOI, and (2) formally announce code to DOE, 
            complying with DOE funding responsibilities. 
        </p>
        <a name='submitting-software-to-doe-code'></a>
        <h4 class='static'>Submitting Software to DOE CODE</h4>
        <p>
            Users can submit their code to DOE CODE. The submission process is for code in early stages of development with no distribution limitations, 
            and for those who wish to obtain a DOI early in the process. Software that has an <a href='/${app_name}/help#access-limitations'>access limitation</a> (OUO, CUI, etc.) 
            cannot be provided via the submission process; it must go through the <a href='#announcing-software-to-doe-through-doe-code'>DOE CODE announcement process</a>. 
            Only a minimal set of metadata is required for submission to DOE CODE (details on required metadata are <a href='#metadata'>below</a>). 
        </p>
        <a name='announcing-software-to-doe-through-doe-code'></a>
        <h4 class='static'>Announcing Software to DOE through DOE CODE</h4>
        <p>
            Users may need to announce their code to DOE to ensure announcement and dissemination in accordance with DOE statutory responsibilities, 
            complying with DOE funding responsibilities. The announcement process is for code in later stages of development that has gone through internal 
            review and release processes. The DOE CODE announcement process requires additional metadata above the submission process 
            (details on required metadata are <a href='#metadata'>below</a>).
        </p>
        <div>
            DOE national laboratories, DOE facilities, and DOE contractors who have developed and/or modified software during work supported by DOE or during work 
            carried out for others at DOE facilities are required to announce software to DOE using DOE CODE, if the software meets the following criteria:
            <ul>
                <li>
                    the software meets the <a href='https://www.osti.gov/stip/about/sti-defined' target='_blank' rel='noopener noreferrer'>definition of STI</a>; 
                </li>
                <li>the software is known or expected to be useful inside or outside the DOE community, or is not specific to the originating site;</li>
                <li>a stable, usable, documented version of the software exists (i.e., the software is not under initial development); and</li>
                <li>the software has undergone all appropriate reviews for sensitivity and export control.</li>
            </ul>
        </div>
        <div>
            Software that meets the following criteria does not need to be announced to the Department of Energy through DOE CODE:
            <ul>
                <li>
                    operational systems software that is site-specific, unique to a particular hardware, or necessary to ensure the fundamental operability of 
                    automated data processing equipment, whether supplied by the manufacturer of the system hardware or others; 
                </li>
                <li>
                    computer software programs developed and/or modified during work carried out for others at DOE facilities that are specifically excluded 
                    in the agreement under which the non-DOE funded work was performed; 
                </li>
                <li>
                    software generated under the auspices of the Energy Information Administration (EIA); and 
                </li>
                <li>
                    specific software used by power administrations for the operation, control, planning, and modeling of electric power transmission systems 
                    and the interconnected utilities; however, modifications/enhancements to portions of this software that are not an integral part of the 
                    whole and have potential application outside the power administrations should be announced.
                </li>
            </ul>
        </div>
        <br/>
        <a name='metadata'></a>
        <h3 class='static'>Metadata</h2>
            <p>
                Metadata is information that is unique to and descriptive of a particular piece of software. There are different metadata requirements for the DOE CODE 
                submission and announcement processes. Submitting software requires fewer metadata fields than announcing software. There are also optional metadata fields 
                that can be utilized when either submitting or announcing software. More information on the optional fields can be found at DOE CODE <a href='/${app_name}/help'>Help</a>.
            </p>
            <div>
                Metadata Required in the DOE CODE Software Submission Process:
                <ul>
                    <li>Project Type</li>
                    <li>Repository URL; Landing Page; or Contact Email*</li>
                    <li>Software Title</li>
                    <li>Description/Abstract</li>
                    <li>License(s)</li>
                    <li>Developers</li>
                </ul>
            </div>
            <div>
                Metadata Required in the DOE CODE Software Announcement Process:
                <ul>
                    <li>Project Type</li>
                    <li>Repository URL; Landing Page; or Contact Email*</li>
                    <li>Software Title</li>
                    <li>Description/Abstract</li>
                    <li>License(s)</li>
                    <li>Release Date</li>
                    <li>Developers</li>
                    <li>Source Code Upload**</li>
                    <li>Sponsoring Organization Name</li>
                    <li>Primary Award Number</li>
                    <li>Research Organization Name</li>
                    <li>Contact Information</li>
                </ul>
                <p>
                    *Depends on software's project type and access limitation.
                </p>
                <p>
                    **Required if the project is not hosted in a public repository.
                </p>
            </div>
            <br/>
            <a name='doi-assignment'></a>
            <h3 class='static'>DOI Assignment</h3>
            <p>
                DOE CODE provides assignment of digital object identifiers (DOIs) to unlimited distribution software. A DOI is a digital identifier that is globally unique, persistent, 
                machine resolvable, has an associated metadata schema, identifies an entity in perpetuity, and provides long-term access to the object. 
                DOIs are assigned to enable researchers to more easily discover software through additional discovery pathways and reuse software through citation of the DOI. 
                They also allow for stronger connections to be made between software, publications, and data through reference and citation via DOI metadata.
            </p>
            <p>
                DOIs can be assigned during the DOE CODE submission and announcement processes. During the software submission process, 
                DOI assignment is optional. During the announcement process for software with unlimited distribution, 
                a DOI will automatically be assigned unless the software has already received a DOI from DOE OSTI or another source. 
                Limited distribution software will not receive DOIs during the announcement process. For more information, see 
                <a href='/${app_name}/faq#what-are-the-benefits'>What are the benefits of getting a DOI for code or software?</a>
            </p>
            <br/>
            <a name='licenses'></a>
            <h3 class='static'>Licenses</h3>
            <p>
                A software license indicates how code may be used and/or distributed. A software license can be assigned by the software copyright holder. 
                A license is required when providing software to DOE CODE. 
            </p>
            <p>
                For open source software, DOE OSTI provides a <a href='/${app_name}/faq#are-there-restrictions'>list of the licenses</a> that users can select from. 
                Users can choose a license not listed by selecting “Other” and providing a URL to the landing page of the license. 
            </p>
            <p>
                For closed source software, users must provide either a license URL or contact email. When providing a license URL, the license URL page should include 
                valid contact information. Otherwise, the user will be asked to provide a valid contact email address. For additional information about license requirements, 
                reference <a href='/${app_name}/faq#announcing-software-flowchart'>Announcing Software to DOE CODE</a>.
            </p>
            <br/>
            <a name='access-limitations'></a>
            <h3 class='static'>Access Limitations</h3>
            <div>
                An access limitation describes how a piece of software or code may be accessed. Different categories of software have different limitations on access. 
                <ul>
                    <li>Any open source software provided to DOE CODE is automatically designated as having unlimited availability when both submitting and announcing software.</li>
                    <li>
                        Closed source software provided to DOE CODE may be designated as having unlimited or limited availability.
                        <ul>
                            <li>Closed source software with unlimited availability may be submitted or announced to DOE CODE.</li>
                            <li>Closed source software with limited availability may only be announced to DOE CODE.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <p>
                Prior to software announcement, users must ensure the software has undergone all appropriate reviews for sensitivity and export control by the originating site. 
                The review process will determine unlimited or limited availability. If limited availability, the process will determine the required access limitations. 
                For a list of access limitations and their definitions, refer to the <a href='/${app_name}/help#access-limitations'>Access Limitations</a> table. For more information on access limitations, 
                see <a href='/${app_name}/faq#what-is-an-access-limitation'>What is an access limitation?</a>
            </p>
            <br/>
            <a name='software-discovery-and-access'></a>
            <h2 class='static'>Software Discovery and Access</h2>
            <a name='finding-software'></a>
            <h3 class='static'>Finding Software</h3>
            <p>
                DOE CODE allows users to search and discover the bibliographic metadata for software resulting from DOE-funded projects and details on how to access the software. 
                DOE CODE does not directly disseminate software projects. Access to the software is provided by the developer or developing organization. 
                For open source software, a link to the repository or landing page URL is provided from the DOE CODE software record page. 
                For closed source software, a landing page URL or contact email is provided from the DOE CODE software record page for users to reach out to the developer 
                or developing organization to request access to the software. Limited software records will be discoverable 
                within <a href='https://www.osti.gov/src/' rel='noopener noreferrer' target='_blank'>Science Research Connection (SRC)</a>, which delivers both unclassified/unlimited 
                and controlled access information to the DOE community.
            </p>
            <br/>
            <a name='licensing'></a>
            <h3 class='static'>Licensing</h3>
            <p>
                A software license indicates how code may be used and/or distributed. On a DOE CODE software record page, users can determine allowed use by means of the 
                software license details. The software license is provided in the record page metadata, via the software landing page at the top left of the page, 
                or via a license contact email. A detailed workflow of what licensing information is required for the different software types can be found on the 
                <a href='/${app_name}/faq#announcing-software-flowchart'>Announcing Software to DOE CODE</a> flowchart.
            </p>
            <br/>
            <a name='preservation'></a>
            <h2 class='static'>Software Preservation</h2>
            <a name='archival-policy'></a>
            <h3 class='static'>Archival Policy</h3>
            <div>
                To ensure long-term preservation of DOE-funded software, DOE OSTI maintains a dark archive to house a copy of software source code for departmental backup 
                and storage. A repository URL or a file upload is required when providing software to DOE CODE.
                <ul>
                    <li>
                        When providing open source software to DOE CODE, users can provide a repository URL to the source code. When a repository URL is provided, 
                        DOE OSTI will first ensure the URL is valid and then automatically clone the source code. Any subsequent changes to the source code will be 
                        updated in DOE CODE’s dark archive daily. When providing a repository URL, users should be certain to provide the URL to the actual repository.
                    </li>
                    <li>
                        When providing open source software and a repository URL is not available, or when providing closed source software, 
                        DOE CODE requires an upload of the software source code for announcement. The source code is used for archiving and preservation purposes, 
                        but is not distributed externally by DOE OSTI. More detail on archiving requirements can be found on DOE CODE’s <a href='/${app_name}/faq'>FAQ</a> page.
                    </li>
                </ul>
            </div>
            <br/>
            <a name='repositories'></a>
            <h3 class='static'>Software Repositories</h3>
            <div>
                The developer or developing organization decides where software is hosted and accessed. Options may include lab or site-maintained repositories, 
                private repositories (such as site-hosted GitLab), and public repositories (such as GitHub and Bitbucket). DOE OSTI, through DOE CODE, provides 
                repository services for the DOE community.
                <ul>
                    <li>
                        DOE OSTI hosts a <a href='https://github.com/doecode/' rel='noopener noreferrer'>GitHub community page</a> where DOE-funded open source repositories can be hosted. 
                        This GitHub repository service is for users who would like to use the GitHub open source project functionality. 
                    </li>
                    <li>
                        DOE OSTI hosts a GitLab instance and provides a GitLab repository service allowing for open or closed repositories. 
                        The GitLab services are only available for unlimited availability software. Access to the GitLab repositories is only offered to DOE-affiliated users.
                    </li>
                </ul>
            </div>
            <p>
                The DOE CODE repository services are separate from the DOE CODE submission and announcement processes. The repository services can be used for 
                DOE-funded software projects throughout the development process, independent of submission and announcement of software records to DOE CODE. 
                Visit <a href='/${app_name}/repository-services'>DOE CODE Repository Services</a> for more details. 
            </p>
            <br/>
            <a name='deleting-records'></a>
            <h3 class='static'>Deleting Records</h3>
            <p>
                Preservation includes ensuring that an object (or a record of the object) is not deleted. DOE OSTI encourages users to maintain access to the 
                software or information on how to obtain the software if access or distribution status has changed. For information on how to remove a software 
                record from DOE CODE, please contact <a href='mailto:doecode@osti.gov'>doecode@osti.gov</a>.
            </p>
    </div>
    <div class="col-lg-3 col-md-1"></div>
</div>
{{> wrapper/footer}}