{{> wrapper/header}}

<div class="row thin-row">
     <div class="col-lg-3 col-md-1">  

     </div>
     <div class="col-lg-6 col-md-10 col-xs-12 static-content">
	  <h2 class="static-content-title">Repository Services</h2>
	  <br><br>
     </div>
     <div class="col-lg-3 col-md-1">
     </div>
     <div class="no-col-padding-left col-xs-12">
	  <div class="static-content repository-services-container center-text">
	       <div class="repository-services-container">
		    <div class="center-text" id="github-repository-container">
			 <strong> Create a new project on
			      <br>
			      our open source
			      <br>
			      GitHub community:
			 </strong>
			 <br><br>
			 <div>
			      <a target='_blank' rel="noopener noreferrer" href="https://github.com/doecode/">
				   <img title="Github" alt="img" id="repository-github-img" class="repository-services-img-link" src="/{{app_name}}/images/github314X150.png">
			      </a>
			 </div>
		    </div>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <div id="or-repository-container">
			 <span class="hide-xs">
			      <br><br><br><br><br><br>
			      <h2 style="margin-right: 10px;">OR</h2>
			 </span>
			 <span class="hide-sm hide-md hide-lg">
			      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			      <span class="fake-h2">OR</span>
			 </span>
		    </div>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <div class="center-text" id="gitlab-repository-container">
			 <strong>
			      Create a new project on our internal&nbsp;
			      <br><a target='_blank' rel="noopener noreferrer" title="DOE CODE Repository" href="https://gitlab.osti.gov/">DOE CODE repository</a>
			      &nbsp;where you can
			      <br>
			      control access to the project.
			 </strong>
			 <br><br>
			 <div><a target='_blank' rel="noopener noreferrer" href="https://gitlab.osti.gov/"><img title="Gitlab" alt="img" id="repository-gitlab-img" class="repository-services-img-link" src="/{{app_name}}/images/gitlab.png"></a>
			 </div>
		    </div>
	       </div>
	  </div>
     </div>
     <div class="col-lg-4 col-lg-offset-4 col-md-8 col-md-offset-2 col-xs-12 center-text">
	  <br><br>
	  If you are interested in making use of the GitHub or GitLab repository services and would like to request to join the DOE CODE GitHub community, please fill out the
	  <a title="Request Form" href="/{{app_name}}/gitlab-signup">request form</a>. <br/>For any questions about the repository services, contact&nbsp;
	  <a title="Send email to doecoderepositories@osti.gov" href="mailto:doecoderepositories@osti.gov">doecoderepositories@osti.gov</a>.
     </div>
</div>
{{> wrapper/footer}}
