{{> wrapper/header}}
<style type='text/css'>
     .repository-services-container {
	 margin-left: auto;
	 margin-right: auto;
	 display: flex;
     }

     #github-repository-container {
	 width: 314px;
	 padding-right:10px;
     }

     #or-repository-container {
	 text-align: center !important;
     }

     #gitlab-repository-container {
	 width: 314px;
	 padding-left:10px;
     }
     #repository-services-header-container {
	 padding-left: 25%;
     }
     @media only screen and (max-width:767px) and (min-width: 320px) {
	 #repository-github-img {
	     width: 280px;
	     height: 150px;
	 }
	 #repository-gitlab-img {
	     width: 280px;
	     height: 150px;
	 }
	 #or-repository-container {
	     text-align: left !important;
	 }
	 .repository-services-container {
	     display: block;
	 }
     }
     @media only screen and (max-width:1520px) and (min-width:1200px) {
	 #repository-services-header-container {
	     padding-left: 15%;
	 }
     }
     @media only screen and (max-width:1199px) and (min-width: 992px) {
	 #repository-github-img {
	     width: 314px;
	 }
	 #repository-gitlab-img {
	     width: 314px;
	 }
     }

</style>
<div class="row not-so-wide-row">
     <div class="col-lg-3 col-md-1">  

     </div>
     <div class="col-lg-6 col-md-10 col-xs-12 static-content">
	  <h1 class="static-content-title">Repository Services</h1>
	  <br>
		Through the DOE CODE platform, the Department of Energy (DOE) Office of Scientific and Technical Information (OSTI) offers DOE-funded developers and 
		researchers both public and private software/code repository service options in GitLab. OSTI hosts an internal GitLab instance to develop or host both open 
		source and closed source projects (those needing controlled access).
	  <br/>
	  <br/>
		The DOE CODE repository service is a development option that is separate from the submission and formal announcement processes of software/code 
		to OSTI through DOE CODE.
	  <br/>
	  <br/>
		If you are interested in using the DOE CODE GitLab service, please fill out the <a title='request form' href='/${app_name}/gitlab-signup'>request form</a>.
		For any questions about the GitLab repository service, please contact <a title='Email doecoderepositories@osti.gov' href='mailto:doecoderepositories@osti.gov'>doecoderepositories@osti.gov</a>.
	  <br/>
	  <br/>
		If you already have a GitLab repository account with DOE CODE, you can log in to create new projects or work on previously created projects.
	  <br/>
	  <br/>
     </div>
     <div class="col-lg-3 col-md-1">
     </div>

     <div class="no-col-padding-left col-xs-12">
	  <div class="static-content repository-services-container center-text">
	       <div class="repository-services-container">

		    <div class="center-text" id="gitlab-repository-container">
			 <strong>
			      Create a new project on our internal&nbsp;
			      <br><a target='_blank' rel="noopener noreferrer" title="DOE CODE Repository" href="https://gitlab.osti.gov/">DOE CODE repository</a>
			      &nbsp;where you can
			      <br>
			      control access to the project.
			 </strong>
			 <br><br>
			 <div><a target='_blank' rel="noopener noreferrer" href="https://gitlab.osti.gov/"><img title="Gitlab" alt="img" id="repository-gitlab-img" class="repository-services-img-link" src="/${app_name}/images/gitlab.png"></a>
			 </div>
		    </div>
	       </div>
	  </div>
     </div>
	<div class="col-lg-3 col-md-1"></div>
	<div class="col-lg-6 col-md-10 col-xs-12 static-content">
	 <br/>
	 <br/>
	    For information about DOE CODE's security stance, visit our <a title='Hosting Security Page' href='https://www.osti.gov/doecode/security-hosting'>Hosting Security Page</a>.
	</div>
</div>
{{> wrapper/footer}}
