{{> wrapper/header}}
<style type='text/css'>
     .repository-services-container {
	 margin-left: auto;
	 margin-right: auto;
	 display: flex;
     }

     #github-repository-container {
	 width: 314px;
	 padding-right:10px;
     }

     #or-repository-container {
	 text-align: center !important;
     }

     #gitlab-repository-container {
	 width: 314px;
	 padding-left:10px;
     }
     #repository-services-header-container {
	 padding-left: 25%;
     }
     @media only screen and (max-width:767px) and (min-width: 320px) {
	 #repository-github-img {
	     width: 280px;
	     height: 150px;
	 }
	 #repository-gitlab-img {
	     width: 280px;
	     height: 150px;
	 }
	 #or-repository-container {
	     text-align: left !important;
	 }
	 .repository-services-container {
	     display: block;
	 }
     }
     @media only screen and (max-width:1520px) and (min-width:1200px) {
	 #repository-services-header-container {
	     padding-left: 15%;
	 }
     }
     @media only screen and (max-width:1199px) and (min-width: 992px) {
	 #repository-github-img {
	     width: 314px;
	 }
	 #repository-gitlab-img {
	     width: 314px;
	 }
     }

</style>
<div class="row not-so-wide-row">
     <div class="col-lg-3 col-md-1">  

     </div>
     <div class="col-lg-6 col-md-10 col-xs-12 static-content">
	  <h2 class="static-content-title">Repository Services</h2>
	  <br>
	  Through DOE CODE, the Department of Energy (DOE) Office of Scientific and Technical Information (OSTI) offers DOE-funded developers and researchers both public
	  and private software/code repository service options:
	  <br/>
	  <br/>
	  <ul style='padding-bottom:5px;'>
	       <li>Developers can use the OSTI GitHub repository to develop or host open source projects.</li>
	       <li>Developers can use the internal DOE CODE GitLab instance to develop or host projects needing controlled access.</li>
	  </ul>
	  Both of these repository services are optional and separate from the submission process of software/code to DOE CODE.
	  <br/>
	  <br/>
	  If you are interested in making use of the GitHub or GitLab services and would like to request to join the DOE CODE GitHub community, please fill out the 
	  <a title='request form' href='/${app_name}/gitlab-signup'>request form</a>. For any questions about the repository services, contact <a title='Email doecoderepositories@osti.gov' href='mailto:doecoderepositories@osti.gov'>doecoderepositories@osti.gov</a>.
	  <br/>
	  <br/>
	  If you already have a repository account with DOE CODE: 
	  <br/>
	  <br/>
     </div>
     <div class="col-lg-3 col-md-1">
     </div>

     <div class="no-col-padding-left col-xs-12">
	  <div class="static-content repository-services-container center-text">
	       <div class="repository-services-container">
		    <div class="center-text" id="github-repository-container">
			 <strong> Create a new project on
			      <br>
			      our open source
			      <br>
			      GitHub community:
			 </strong>
			 <br><br>
			 <div>
			      <a target='_blank' rel="noopener noreferrer" href="https://github.com/doecode/">
				   <img title="Github" alt="img" id="repository-github-img" class="repository-services-img-link" src="/${app_name}/images/github314X150.png">
			      </a>
			 </div>
		    </div>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <div id="or-repository-container">
			 <span class="hide-xs">
			      <br><br><br><br><br><br>
			      <h2 style="margin-right: 10px;">OR</h2>
			 </span>
			 <span class="hide-sm hide-md hide-lg">
			      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			      <span class="fake-h2">OR</span>
			 </span>
		    </div>
		    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		    <div class="center-text" id="gitlab-repository-container">
			 <strong>
			      Create a new project on our internal&nbsp;
			      <br><a target='_blank' rel="noopener noreferrer" title="DOE CODE Repository" href="https://gitlab.osti.gov/">DOE CODE repository</a>
			      &nbsp;where you can
			      <br>
			      control access to the project.
			 </strong>
			 <br><br>
			 <div><a target='_blank' rel="noopener noreferrer" href="https://gitlab.osti.gov/"><img title="Gitlab" alt="img" id="repository-gitlab-img" class="repository-services-img-link" src="/${app_name}/images/gitlab.png"></a>
			 </div>
		    </div>
	       </div>
	  </div>
     </div>
</div>
{{> wrapper/footer}}
