{{> wrapper/header}}
<style type='text/css'>
	.padblock {
		padding: 0 35px;
	}

	@media only screen and (max-width:767px) and (min-width: 320px) {
		.padblock {
			padding: 0px;
		}
	}
</style>
<div class="row not-so-wide-row">
	<div class="col-lg-3 col-md-1"></div>
	<div class="col-lg-6 col-md-10 col-xs-12 static-content">
		<h2 class="static-content-title">Resources</h2>
		<br />
		<div>
			<h4>Selected Articles and Presentations</h4>
			<ul>
				<li>05/16/2018&nbsp;<a title='ORNL Software Expo Poster' target="_blank" rel="noopener noreferrer" href='https://www.osti.gov/includes/doecode/docs/ORNL_Software_Expo_2018.pdf'>Poster</a>
					presented at Oak Ridge National Laboratory Software Expo 2018 by Lance Vowell (OSTI), Shelby Stooksbury (OSTI/IIA), and Tim Sowers (OSTI/IIA)</li>
				<li>05/03/2017&nbsp;<a title='Energy Science Tech Software Center' target="_blank" rel="noopener noreferrer" href="https://github.com/doecode/doecode.github.io/blob/master/docs/billings_stip_20170503.pdf?raw=true">The
						New Energy Science and Technology Software Center</a>&nbsp;presented at the DOE Scientific and Technical Information Program (STIP) Annual Working Meeting by Jay Jay Billings (ORNL)</li>
				<li>04/21/2017&nbsp;<a title='DOE CODE Metadata' target="_blank" rel="noopener noreferrer" href="https://github.com/doecode/doecode.github.io/blob/master/docs/DOE_Code_Code4LibSE_2017.pptx.zip?raw=true">DOE
						CODE Metadata</a>&nbsp;by Katie Knight (ORNL) at the&nbsp;<a title='Code4LibSE' rel="noopener noreferrer" target="_blank" href="https://wiki.code4lib.org/Southeast_2017#Code4LibSE_2017_Emory_Meeting">Code4LibSE
						2017 Emory Meeting</a>
				</li>
				<li>03/01/2017 Poster presented at SIAM CSE17 PP108 Minisymposterium:&nbsp;<a title='Software Productivity' href="https://figshare.com/articles/billings_doecode_siamcse2017_20170301_jpg/4730203" target="_blank" rel="noopener noreferrer">Software Productivity and Sustainability for CSE and Data
						Science</a>&nbsp;by Jay Jay Billings (ORNL)</li>
			</ul>
			<h4 style='margin-top:20px;'><a rel='noopener noreferrer' href='{{api_url}}docs' target='_blank'>API Documentation</a></h4>
		</div>
		<div>
			<h4 style='margin-top:20px;'>Community and Best Practices</h4>
			<ul>
				<li>
					<a title='Github' rel='noopener noreferrer' target='_blank' href="https://github.com/doecode">DOE CODE GitHub site</a>
				</li>
				<li>
					<a title='Code.gov' rel='noopener noreferrer' target='_blank' href="https://code.gov/">Code.gov</a>
				</li>
				<li>The Better Scientific Software Portal
					<ul>
						<li>GitHub,&nbsp;
							<a title='Better Scientific Software' target='_blank' rel='noopener noreferrer' class='word-break' href="https://betterscientificsoftware.github.io/">https://betterscientificsoftware.github.io/</a>
						</li>
					</ul>
				</li>
				<li>
					<a href='https://semver.org/' rel='noopener noreferrer' target='_blank' title='Semantic Versioning'>Semantic Versioning</a>
				</li>
				<li>
					<a href='https://www.force11.org/software-citation-principles' target='_blank' rel='noopener noreferrer' title='Force11 Software Citation Implementation Principles'>Force11 Software Citation
						Implementation
						Principles</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="col-lg-3 col-md-1"></div>
</div>
{{> wrapper/footer}}