{{> wrapper/header}}
<input type="hidden" id="site-admin-page-identifier"/>
<div class="row not-so-wide-row">
     <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1 col-xs-12 static-content center-text">
	  <h2 class="static-content-title">DOE CODE Site Administration</h2>
	  <br/>
     </div>
     <div class="no-col-padding-left col-xs-12">
	  <div class="static-content form-select-container center-text">
	       <div class="form-select-container">
		    <a title='Site Point of Contact Admin' href="/{{app_name}}/poc-admin" class="pure-button pure-button-primary workflow-publish-btn white form-select-btn">
			 Point of Contact Admin
		    </a>
	       </div>
	  </div>
     </div>
</div>
{{> wrapper/footer}}