<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">When adding a contributor, use contributor type to define the role of the contributor. A drop-down menu is provided. For definitions of each contributor type, please see&nbsp;
	  <a title='DataCite' href='https://schema.datacite.org/meta/kernel-4.0/'>DataCite</a>.</span>
     <span class="fa fa-question-circle help-question-mark"></span>

</span>
