<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">The name of a person or institution that has contributed to the software (code, documentation, tests, ideas, project guidance, etc.), but is not listed as a developer.</span>
     <span class="fa fa-question-circle help-question-mark"></span>

</span>
