<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">DOI or URL identifiers of related resources. Referencing other documents, datasets, or software that relate to the submitted software allows users to follow these vital links and to better understand the scope of your research.</span>
     <span class="fa fa-question-circle help-question-mark"></span>	  
</span>