<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">Select the software release date.</span>
     <span class="fa fa-question-circle help-question-mark"></span>	  
</span>