<span class="tooltip-item" data-toggle="tooltip">
     <span class="tooltip-content" style="display:none">You must provide a URL in order to proceed. If you do not have a URL, please go to&nbsp;
	  <a title='DOE CODE Repository' href='#'>DOE CODE</a>&nbsp; and select Create a Repository.</span>
     <span class="fa fa-question-circle help-question-mark"></span>	  
</span>