<link rel="icon" type="image/png" href="/{{app_name}}/images/doecode-icon.png"/>
<meta charset="utf-8">
<title>{{page_title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{#each cssFiles}}
<link rel='stylesheet' type='text/css' href='/{{app_name}}/css/{{.}}.css'/>
{{/each}}
<link rel='stylesheet' type='text/css' href='/{{app_name}}/css/doecode-css.css'/>
<!--Meta tags-->
{{#each meta_tag}}<meta name='{{name}}' content='{{content}}'/>{{/each}}
