<link rel="icon" type="image/png" href="/{{app_name}}/images/doecode-icon.png"/>
<meta charset="utf-8">
<title>{{page_title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{{#each cssFiles}}
<link rel='stylesheet' type='text/css' href='/{{app_name}}/css/{{.}}.css'/>
{{/each}}
<link rel='stylesheet' type='text/css' href='/{{app_name}}/css/doecode-css.css'/>
<!--Meta tags-->
{{#each meta_tag}}<meta name='{{name}}' content='{{content}}'/>{{/each}}

<!--Google Analytics-->
<script type="text/javascript">
     var _gaq = _gaq || [];
</script>

<script type="text/javascript">
     _gaq.push(['_setAccount', '{{google_analytics_id}}']);
     _gaq.push(['_setDomainName', '{{ga_domain}}']);
     _gaq.push(['_trackPageview']);
     (function () {
         var ga = document.createElement('script');
         ga.type = 'text/javascript';
         ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0];
         s.parentNode.insertBefore(ga, s);
     })();
</script>
