<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DOE CODE Client Web Application</display-name>
    <session-config>
        <session-timeout>
            45
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Index
        </welcome-file>
    </welcome-file-list>
    <!--Context Parameters-->
    <context-param>
        <description>The back-facing URL to an instance of the doe code API. This is used in the java.</description>
        <param-name>api_backend_url</param-name>
        <param-value>${apiBackendURL}</param-value>
    </context-param>
    <context-param>
        <description>The public-facing URL to an instance of the doe code API. Used in the javascript.</description>
        <param-name>api_url</param-name>
        <param-value>${apiURL}</param-value>
    </context-param>
    <context-param>
        <description>The full (proxied) url for an instance of the site. Ends in a "/"</description>
        <param-name>site_url</param-name>
        <param-value>${siteURL}</param-value>
    </context-param>
    <context-param>
        <description>The base URL from which certain data points can be retrieved, such as a list of sites, programming languages, etc.</description>
        <param-name>authority_base_url</param-name>
        <param-value>${authorityapiURL}</param-value>
    </context-param>
    <context-param>
        <description>The integer value for "session timeout". Since this application doesn't use tomcat session timeouts, timeout is determined via cookie.</description>
        <param-name>session_timeout</param-name>
        <param-value>${session_timeout}</param-value>
    </context-param>
    <context-param>
        <description>Name of the application. Used for prefixing to URL's and such. Separated here so you can rename the application with a build parameter.</description>
        <param-name>app_name</param-name>
        <param-value>${app_name}</param-value>
    </context-param>
    <context-param>
        <description>The address a gitlab request is sent to</description>
        <param-name>gitlab_submit_email</param-name>
        <param-value>${gitlab_submit_email}</param-value>
    </context-param>
    <context-param>
        <description>The address in the "from" field in the email sent when a user signs up for a gitlab account.</description>
        <param-name>gitlab_from_email</param-name>
        <param-value>${gitlab_from_email}</param-value>
    </context-param>
    <context-param>
        <description>The smtp host used for sending emails from the client application.</description>
        <param-name>smtpHost</param-name>
        <param-value>${smtpHost}</param-value>
    </context-param>
    <context-param>
        <description>The public key given to you when you sign up for reCaptcha. Shown on the front end.</description>
        <param-name>recaptcha_sitekey</param-name>
        <param-value>${gitlab_recaptcha_site_key}</param-value>
    </context-param>
    <context-param>
        <description>The "secret key" given to you when you sign up for reCaptcha. Used to validate your requests to google's reCaptcha service. MUST NOT BE SHOWN TO USERS!</description>
        <param-name>recaptcha_secretkey</param-name>
        <param-value>${gitlab_recaptcha_secret_key}</param-value>
    </context-param>
    <context-param>
        <description>The ID unique to your instance of google analytics.</description>
        <param-name>ga_id</param-name>
        <param-value>${google_analytics_id}</param-value>
    </context-param>
    <context-param>
        <description>The google analytics domain. Will probably change based on whether you're in a development or production environment.</description>
        <param-name>ga_domain</param-name>
        <param-value>${google_analytics_domain}</param-value>
    </context-param>
    <context-param>
        <description>The base directory that containers (such as .tar files) can be downloaded from.</description>
        <param-name>containers_dir</param-name>
        <param-value>${file.containers.approved}</param-value>
    </context-param>
    <!--Servlet Context Listener-->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>gov.osti.doecode.listeners.DOECODEServletContextListener</listener-class>
    </listener>
    <!--Servlet to give the Dissemination pages, like search, about, etc-->
    <servlet>
        <servlet-name>Dissemination</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Dissemination</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dissemination</servlet-name>
        <url-pattern>/Index</url-pattern>
        <url-pattern>/repository-services</url-pattern>
        <url-pattern>/about</url-pattern>
        <url-pattern>/policy</url-pattern>
        <url-pattern>/resources</url-pattern>
        <url-pattern>/news</url-pattern>
        <url-pattern>/faq</url-pattern>
        <url-pattern>/results</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/biblio/*</url-pattern>
        <url-pattern>/forbidden</url-pattern>
        <url-pattern>/security-hosting</url-pattern>
        <url-pattern>/contact</url-pattern>
        <url-pattern>/disclaimer</url-pattern>
    </servlet-mapping>
    <!--Servlet for certain actions on the dissemination pages, such as exporting search results-->
    <servlet>
        <servlet-name>DisseminationServlet</servlet-name>
        <servlet-class>gov.osti.doecode.servlet.DisseminationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisseminationServlet</servlet-name>
        <url-pattern>/dissemination/export-search-results</url-pattern>
        <url-pattern>/dissemination/export-biblio-results</url-pattern>
        <url-pattern>/dissemination/news-article-search</url-pattern>
    </servlet-mapping>
    <!--Input pages, such as the announce, submit, and approve pages-->
    <servlet>
        <servlet-name>Input</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Input</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Input</servlet-name>
        <url-pattern>/submit</url-pattern>
        <url-pattern>/form-select</url-pattern>
        <url-pattern>/announce</url-pattern>
        <url-pattern>/approve</url-pattern>
        <url-pattern>/confirm</url-pattern>
        <url-pattern>/projects</url-pattern>
        <url-pattern>/pending</url-pattern>
    </servlet-mapping>
    <!--User pages, such as admin and account-->
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.User</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/account</url-pattern>
        <url-pattern>/user-admin</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/set-login-status-name</url-pattern>
        <url-pattern>/update-login-status-name</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/forgot-password</url-pattern>
        <url-pattern>/confirmuser</url-pattern>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>
    <!--User data, such as the currently logged in user's information-->
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>gov.osti.doecode.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user-data/get-current-user-data</url-pattern>
    </servlet-mapping>
    <!--Miscellaneous-->
    <servlet>
        <servlet-name>Other</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Other</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Other</servlet-name>
        <url-pattern>/gitlab-signup-result</url-pattern>
        <url-pattern>/gitlab-signup</url-pattern>
    </servlet-mapping>
    <!--Site-->
    <servlet>
        <servlet-name>Site</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Site</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Site</servlet-name>
        <url-pattern>/site-admin</url-pattern>
    </servlet-mapping>
    <!--Download servlet-->
    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>gov.osti.doecode.servlet.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/download-repository/container-download/*</url-pattern>
    </servlet-mapping>
    <!--500 pages, 404's, etc-->
    <servlet>
        <servlet-name>Errors</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Errors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Errors</servlet-name>
        <url-pattern>/page-not-found</url-pattern>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/page-not-found</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <!--Filters-->
    <!--User filter. Make sure that you put any pages that need user checking here-->
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>gov.osti.doecode.filters.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <!--Input-->
        <url-pattern>/submit</url-pattern>
        <url-pattern>/form-select</url-pattern>
        <url-pattern>/announce</url-pattern>
        <url-pattern>/approve</url-pattern>
        <url-pattern>/confirm</url-pattern>
        <url-pattern>/projects</url-pattern>
        <url-pattern>/pending</url-pattern>
        <!--User-->
        <url-pattern>/account</url-pattern>
        <url-pattern>/user-admin</url-pattern>
        <url-pattern>/help</url-pattern>
        <!--Site-->
        <url-pattern>/site-admin</url-pattern>
    </filter-mapping>
    <!-- configuration servlet class -->
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>gov.osti.doecode.servlet.Init</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>
