<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DOE CODE Client Web Application</display-name>
    <session-config>
        <session-timeout>
            45
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Index
        </welcome-file>
    </welcome-file-list>
    <!--Context Parameters-->
    <context-param>
        <param-name>api_backend_url</param-name>
        <param-value>${apiBackendURL}</param-value>
    </context-param>
    <context-param>
        <param-name>api_url</param-name>
        <param-value>${apiURL}</param-value>
    </context-param>
    <context-param>
        <param-name>site_url</param-name>
        <param-value>${siteURL}</param-value>
    </context-param>
    <context-param>
        <param-name>authority_base_url</param-name>
        <param-value>${authorityapiURL}</param-value>
    </context-param>
    <context-param>
        <param-name>session_timeout</param-name>
        <param-value>${session_timeout}</param-value>
    </context-param>
    <context-param>
        <param-name>app_name</param-name>
        <param-value>${app_name}</param-value>
    </context-param>
    <context-param>
        <param-name>gitlab_submit_email</param-name>
        <param-value>${gitlab_submit_email}</param-value>
    </context-param>
    <context-param>
        <param-name>gitlab_from_email</param-name>
        <param-value>${gitlab_from_email}</param-value>
    </context-param>
    <context-param>
        <param-name>smtpHost</param-name>
        <param-value>${smtpHost}</param-value>
    </context-param>
    <context-param>
        <param-name>recaptcha_sitekey</param-name>
        <param-value>${gitlab_recaptcha_site_key}</param-value>
    </context-param>
    <context-param>
        <param-name>recaptcha_secretkey</param-name>
        <param-value>${gitlab_recaptcha_secret_key}</param-value>
    </context-param>
    <context-param>
        <param-name>ga_id</param-name>
        <param-value>${google_analytics_id}</param-value>
    </context-param>
    <context-param>
        <param-name>ga_domain</param-name>
        <param-value>${google_analytics_domain}</param-value>
    </context-param>
    <!--Servlet Context Listener-->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>gov.osti.doecode.listeners.DOECODEServletContextListener</listener-class>
    </listener>
    <!--Servlet to give the Dissemination pages, like search, about, etc-->
    <servlet>
        <servlet-name>Dissemination</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Dissemination</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dissemination</servlet-name>
        <url-pattern>/Index</url-pattern>
        <url-pattern>/repository-services</url-pattern>
        <url-pattern>/about</url-pattern>
        <url-pattern>/policy</url-pattern>
        <url-pattern>/news-resources</url-pattern>
        <url-pattern>/faq</url-pattern>
        <url-pattern>/results</url-pattern>
        <url-pattern>/search</url-pattern>
        <url-pattern>/biblio/*</url-pattern>
        <url-pattern>/forbidden</url-pattern>
        <url-pattern>/security-hosting</url-pattern>
        <url-pattern>/contact</url-pattern>
        <url-pattern>/disclaimer</url-pattern>
    </servlet-mapping>
    <!--Servlet for certain actions on the dissemination pages, such as exporting search results-->
    <servlet>
        <servlet-name>DisseminationServlet</servlet-name>
        <servlet-class>gov.osti.doecode.servlet.DisseminationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisseminationServlet</servlet-name>
        <url-pattern>/dissemination/export-search-results</url-pattern>
        <url-pattern>/dissemination/export-biblio-results</url-pattern>
    </servlet-mapping>
    <!--Input pages, such as the announce, submit, and approve pages-->
    <servlet>
        <servlet-name>Input</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Input</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Input</servlet-name>
        <url-pattern>/submit</url-pattern>
        <url-pattern>/form-select</url-pattern>
        <url-pattern>/announce</url-pattern>
        <url-pattern>/approve</url-pattern>
        <url-pattern>/confirm</url-pattern>
        <url-pattern>/projects</url-pattern>
        <url-pattern>/pending</url-pattern>
    </servlet-mapping>
    <!--User pages, such as admin and account-->
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.User</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>User</servlet-name>
        <url-pattern>/account</url-pattern>
        <url-pattern>/user-admin</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/set-login-status-name</url-pattern>
        <url-pattern>/update-login-status-name</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/register</url-pattern>
        <url-pattern>/forgot-password</url-pattern>
        <url-pattern>/confirmuser</url-pattern>
        <url-pattern>/help</url-pattern>
    </servlet-mapping>
    <!--Miscellaneous-->
    <servlet>
        <servlet-name>Other</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Other</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Other</servlet-name>
        <url-pattern>/gitlab-signup-result</url-pattern>
        <url-pattern>/gitlab-signup</url-pattern>
    </servlet-mapping>
    <!--Site-->
    <servlet>
        <servlet-name>Site</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Site</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Site</servlet-name>
        <url-pattern>/site-admin</url-pattern>
    </servlet-mapping>
    <!--500 pages, 404's, etc-->
    <servlet>
        <servlet-name>Errors</servlet-name>
        <servlet-class>gov.osti.doecode.pagemappings.Errors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Errors</servlet-name>
        <url-pattern>/page-not-found</url-pattern>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/page-not-found</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <!--Filters-->
    <!--User filter. Make sure that you put any pages that need user checking here-->
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>gov.osti.doecode.filters.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <!--Input-->
        <url-pattern>/submit</url-pattern>
        <url-pattern>/form-select</url-pattern>
        <url-pattern>/announce</url-pattern>
        <url-pattern>/approve</url-pattern>
        <url-pattern>/confirm</url-pattern>
        <url-pattern>/projects</url-pattern>
        <url-pattern>/pending</url-pattern>
        <!--User-->
        <url-pattern>/account</url-pattern>
        <url-pattern>/user-admin</url-pattern>
        <url-pattern>/help</url-pattern>
        <!--Site-->
        <url-pattern>/site-admin</url-pattern>
    </filter-mapping>
    <!-- configuration servlet class -->
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>gov.osti.doecode.servlet.Init</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>
