<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>DOE CODE Client Web Application</display-name>
    <session-config>
        <session-timeout>
            45
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            Index
        </welcome-file>
    </welcome-file-list>
    <!--Servlet Context Listener-->
    <listener>
        <description>ServletContextListener</description>
        <listener-class>gov.osti.doecode.listeners.DOECODEServletContextListener</listener-class>
    </listener>
    <!--Download servlet-->
    <servlet>
        <servlet-name>FileDownloadServlet</servlet-name>
        <servlet-class>gov.osti.doecode.servlet.FileDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileDownloadServlet</servlet-name>
        <url-pattern>/download-repository/container-download/*</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/page-not-found</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>
    <!--Filters-->
    <!--User filter. Make sure that you put any pages that need user checking here-->
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>gov.osti.doecode.filters.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <!--Input-->
        <url-pattern>/submit</url-pattern>
        <url-pattern>/form-select</url-pattern>
        <url-pattern>/announce</url-pattern>
        <url-pattern>/approve</url-pattern>
        <url-pattern>/confirm</url-pattern>
        <url-pattern>/projects</url-pattern>
        <url-pattern>/pending</url-pattern>
        <!--User-->
        <url-pattern>/account</url-pattern>
        <url-pattern>/user-admin</url-pattern>
        <url-pattern>/help</url-pattern>
        <!--Site-->
        <url-pattern>/site-admin</url-pattern>
    </filter-mapping>
    <!-- configuration servlet class -->
    <servlet>
        <servlet-name>Config</servlet-name>
        <servlet-class>gov.osti.doecode.servlet.Init</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
</web-app>
